*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    -webkit-appearance: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @media (max-width: 992px) {
        font-size: 16px;
    }
}

body ::selection {
    color: #fff;
    background: var(--primary);
}

:focus {
    box-shadow: none !important;
}

body ::selection {
    color: var(--text-white);
    background: var(--black);
}

.clear {
    clear: both;
}

.tooltip {
    pointer-events: none !important;
    --bs-tooltip-bg: #2C323A;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-max-width: 224px;

    .tooltip-inner {
        text-align: center;
        font-weight: 500;
    }
}

.icw-tooltip {
    .tooltip-inner {
        font-size: 12px;
    }
}

.pointer-events-none {
    pointer-events: none !important;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    word-break: break-word;
    text-underline-offset: 4px;

    &:focus,
    &:hover {
        text-decoration: none;
    }

    &:focus-visible {
        outline: 2px solid var(--primary) !important;
        @include border-radius(50px);
    }
}

p {
    margin-top: 0;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: smooth;

    &.aligncenter {
        margin: 0 auto;
        display: table;
    }
}

.container {
    @media (max-width: 992px) {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

// Padding-Margin CSS
.pt-0 {
    padding-top: 0 !important;
}

.pt-25 {
    padding-top: 25px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-120 {
    padding-top: 120px !important;
}

.pt-150 {
    padding-top: 150px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-25 {
    padding-bottom: 25px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pb-120 {
    padding-bottom: 120px!important;
}

.pb-150 {
    padding-bottom: 150px !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

@media (max-width: 767px) {
    .m-pt-0 {
        padding-top: 0 !important;
    }

    .m-pt-25 {
        padding-top: 25px !important;
    }

    .m-pt-40 {
        padding-top: 40px !important;
    }

    .m-pt-50 {
        padding-top: 50px !important;
    }

    .m-pt-80 {
        padding-top: 80px !important;
    }

    .m-pt-100 {
        padding-top: 100px !important;
    }

    .m-pb-0 {
        padding-bottom: 0 !important;
    }

    .m-pb-25 {
        padding-bottom: 25px !important;
    }

    .m-pb-40 {
        padding-bottom: 40px !important;
    }

    .m-pb-50 {
        padding-bottom: 50px !important;
    }

    .m-pb-80 {
        padding-bottom: 80px !important;
    }

    .m-pb-100 {
        padding-bottom: 100px !important;
    }

    .m-mt-0 {
        margin-top: 0 !important;
    }

    .m-mt-50 {
        margin-top: 50px !important;
    }

    .m-mt-100 {
        margin-top: 100px !important;
    }

    .m-mb-0 {
        margin-bottom: 0 !important;
    }

    .m-mb-50 {
        margin-bottom: 50px !important;
    }

    .m-mb-100 {
        margin-bottom: 100px !important;
    }
}

.g-15 {
    --bs-gutter-y: 30px;
    --bs-gutter-x: 30px;
}

.g-30 {
    --bs-gutter-x: 60px;

    @media (max-width: 992px) {
        --bs-gutter-x: 30px;
    }
}

.g-50 {
    @media (min-width: 992px) {
        --bs-gutter-x: 50px;
    }

    @media (min-width: 1400px) {
        --bs-gutter-x: 100px;
    }

    @media (max-width: 992px) {
        --bs-gutter-x: 30px;
    }
}

// Video & Image Background CSS
.media-bg-block {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--blue);
    z-index: -1;

    img,
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;

        &::-webkit-media-controls {
            display: none;
        }
    }
}

// Full Width Background CSS
.full-width-block {
    position: relative;
    overflow: hidden;
    padding: 100px 0;
    background-image: var(--bg-image, none);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#171828, 0.8);
        z-index: -1;
    }


    @media (max-width: 992px) {
        padding: 70px 0;
    }

    @media (max-width: 767px) {
        padding: 50px 0;
        margin: 0;
    }

    &.py-50 {
        padding: 50px 0;
    }

    .section-title {
        z-index: 3;
        position: relative;
        margin-bottom: 0;
    }

    &.bottom-video-content {
        @media (max-width: 575px) {
            padding-bottom: 300px;

            .media-bg-block {

                img,
                video {
                    object-position: bottom center;
                }
            }
        }
    }
}

// Video Player CSS
.media-block {
    max-width: 100%;
    @include border-radius(16px);
    position: relative;
    overflow: hidden;
    line-height: 0.7;

    img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        &.mw-50 {
            @media (max-width: 992px) {
                max-width: 50%;
            }
        }
    }

    &.ratio-4x3 {
        --bs-aspect-ratio: 85%;
    }

    &.text-end {
        @media (max-width: 992px) {
            text-align: center !important;
        }
    }

    &.text-center {
        text-align: center;
    }
}

// Heading CSS
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    line-height: 1.2;
    font-weight: 600;
    // font-family: var(--font-heading2);
}

h1,
.h1 {
    font-size: clamp(30px, 5vw, 70px);
}

h2,
.h2 {
    font-size: clamp(28px, 3vw, 46px);
    font-weight: 600;
    &.font-sm {
        font-size: clamp(22px, 3vw, 36px);
    }
}

h3,
.h3 {
    font-size: clamp(18px, 3vw, 24px);
}

h4,
.h4 {
    font-size: clamp(16px, 3vw, 24px);
}

h5,
.h5 {
    font-size: clamp(16px, 3vw, 20px);
}

// Text Color CSS
.text-white {
    color: var(--text-white) !important;
}

.text-black {
    color: var(--text-black) !important;
}

.text-darkBlack {
    color: var(--dark-black) !important;
}

.text-red {
    color: var(--red) !important;
}
.text-skyblue {
    color: var(--skyblue) !important;
}
.text-green {
    color: var(--green) !important;
}
.text-orange {
    color: var(--orange) !important;
}
.text-yellow {
    color: var(--yellow) !important;
}
.text-primary {
    color: var(--primary) !important;
}


// Background Color CSS
.bg-white {
    background-color: var(--white) !important;
}

.bg-black {
    background-color: var(--dark-black-2) !important;

    &>* {
        color: var(--text-white) !important;
    }
}

.bg-gray {
    background-color: #F4F5F7 !important;
}

.bg-transprent {
    background-color: transparent !important;
    background-image: none !important;
}

.bg-custom {
    background: var(--bg-img, none);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

// Button CSS
.btn {
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    border: none;
    // font-family: var(--font-heading2);
    @include transition(0.2s, ease-in-out);
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    @include border-radius(33px);
    padding: 0;
    white-space: nowrap;
    .arrow-icon {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        width: 30px;
        height: 30px;
        background-color: var(--white);
        border-radius: 45px;
        position: absolute;
        @include transition(0.2s, ease-in-out);
        right: 9px;
        top: 9px;
        &::after {
            content: '';
            width: 14px;
            height: 14px;
            display: inline-block;
            background-image: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.39176 7.10872L8.4501 0.750391L2.09176 0.808724M8.4501 0.750391L0.750098 8.45039" stroke="rgb(35 63 97)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-size: 12px !important;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 8px;
            right: 7px;
            @include transition(0.2s, ease-in-out);
            transform-origin: center;
        }
    }
    .btn-text {
        padding: 0 60px 0 25px;
        z-index: 2;
        display: inline-block;
    }
    &:hover,
    &:focus {
        .arrow-icon {
            top: 2px;
            right: 2px;
            width: calc(100% - 4px) !important;
            height: calc(100% - 4px);
            &::after {
                top: 16px;
                transform: rotate(45deg);
                background-position: calc(100% - 2px) center;
            }
        }
    }
    @media (max-width: 767px) {
        height: 40px;
        .arrow-icon {
            width: 22px;
            height: 22px;
            right: 9px;
            top: 9px;
            &::after {
                top: 4px;
                right: 4px;
                background-size: 10px !important;
            }
        }
        .btn-text {
            padding: 0 50px 0 20px;
        }
        &:hover,
        &:focus {
            .arrow-icon {
                top: 2px;
                right: 2px;
                width: calc(100% - 4px) !important;
                height: calc(100% - 4px);
                &::after {
                    top: 11px;
                }
            }
        }
    }
    &.btn-sm {
        height: 44px;
        .arrow-icon {
            width: 26px;
            height: 26px;
            &::after {
                background-size: 10px !important;
                top: 6px;
                right: 6px;
            }
        }
        .btn-text {
            padding: 0 53px 0 23px;
        }
        &:hover,
        &:focus {
            .arrow-icon {
                top: 2px;
                right: 2px;
                width: calc(100% - 4px) !important;
                height: calc(100% - 4px);
                &::after {
                    top: 13px;
                    transform: rotate(45deg);
                    background-position: calc(100% - 2px) center;
                }
            }
        }
    }

    &.btn-primary {
        color: var(--text-white) !important;
        background-color: var(--primary) !important;
        &:hover,
        &:focus {
            color: var(--primary) !important;
        }
        
    }
    &.btn-outline-primary {
        color: var(--primary) !important;
        background-color: transparent !important;
        border: 1px solid var(--primary) !important;
        .btn-text {
            padding: 0 20px !important;
        }
        &:hover,
        &:focus {
            color: var(--white) !important;
            background-color: var(--primary) !important;
        }
        
    }

    &.btn-white {
        color: var(--primary) !important;
        background-color: var(--white) !important;
        .arrow-icon {
            background-color: var(--primary);
            &::after {
                filter: brightness(0) invert(1);
            }
        }
        &:hover,
        &:focus {
            color: var(--white) !important;
            .arrow-icon {
                top: 2px;
            }
        }
    }
    &.btn-light {
        color: var(--white) !important;
        background-color: rgba(255, 255, 255, 0.2) !important;
        .arrow-icon {
            background-color: rgba(255, 255, 255, 0.2);
            &::after {
                filter: brightness(0) invert(1);
            }
        }
        &:hover,
        &:focus {
            color: var(--white) !important;
            .arrow-icon {
                top: 2px;
            }
        }
    }

    &.btn-link {
        background-color: transparent;
        border-color: transparent;
        color: var(--blue);
        padding: 0;
        min-width: auto;
        min-height: auto;
        text-underline-offset: 4px;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: var(--text-black);
            text-decoration: none;
        }
    }
}


.btn-link-arrow {
    @include inline-flex;
    @include align-items(center);
    @include justify-content(flex-start);
    color: var(--dark-gray);
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1;
    .arrow-icon {             
        width: 25px;
        height: 25px;
        flex: none;
        display: inline-block;
        @include border-radius(50%);
        @include transition(0.2s, ease-in-out);
        position: relative;
        margin-top: 1px;
        &::before {
            content: '';   
            background-color: transparent;           
            background-image: url('data:image/svg+xml,<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.80357 0.75L10.75 3.75L7.80357 6.75M10.75 3.75L0.75 3.75" stroke="rgb(35 63 97)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 14px;
            width: 25px;
            height: 25px;
            flex: none;            
            @include inline-flex;
            @include align-items(center);
            @include justify-content(center);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        &::after {
            content: '';   
            width: 25px;
            height: 25px;
            display: inline-block;
            background-color: var(--primary);
            transform: scale(0);
            will-change: transform;
            transform-origin: center;
            @include border-radius(50%);
            @include transition(0.2s, ease-in-out);
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &:hover,
    &:focus,
    &.active {
        color: var(--primary);
        .arrow-icon {
            &::before {
                background-image: url('data:image/svg+xml,<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.80357 0.75L10.75 3.75L7.80357 6.75M10.75 3.75L0.75 3.75" stroke="rgb(255 255 255)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            }
            &::after {
                transform: scale(1);
            }
        }
    }
}

.btn-label {
    @include inline-flex;
    @include align-items(center);
    min-height: 50px;
    padding: 8px 25px;
    font-family: var(--font-heading1);
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    @include border-radius(50px);
    @include transition(0.2s, ease-in-out);
    @media (max-width: 1200px) {
        font-size: 20px;
    }
    @media (max-width: 767px) {
        min-height: 44px;
        font-size: 18px;
        padding: 8px 20px;
    }
    &.btn-power {
        color: var(--red);
        background-color: #ffe7e7;
        &:hover, &:focus {
            color: var(--white);
            background-color: var(--red);
        }
    }
    &.btn-natural-gas {
        color: var(--skyblue);
        background-color: #ecf8fe;
        &:hover, &:focus {
            color: var(--white);
            background-color: var(--skyblue);
        }
    }
    &.btn-coal {
        color: var(--orange);
        background-color: #fee8d8;
        &:hover, &:focus {
            color: var(--white);
            background-color: var(--orange);
        }
    }
    &.btn-renewable-energy {
        color: var(--green);
        background-color: #ccefdc;
        &:hover, &:focus {
            color: var(--white);
            background-color: var(--green);
        }
    }
    &.btn-environmental {
        color: var(--yellow);
        background-color: #f3f0de;
        &:hover, &:focus {
            color: var(--white);
            background-color: var(--yellow);
        }
    }
}

// Page Scroll Progress CSS
.icw-progress-goto {
    position: fixed;
    right: 20px;
    bottom: 64px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: block;
    border-radius: 40px;
    box-shadow: inset 0 0 0 2px rgba(#233F61, 0.23);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(16px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;

    &.active-progress {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &::after {
        position: absolute;
        content: url(../images/icons/arrow-up.svg);
        text-align: center;
        line-height: 40px;
        font-size: 28px;
        color: var(--text-white);
        left: 0;
        top: -5px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        display: block;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    // &:hover::after {opacity: 0;}
    &:hover::after {
        opacity: 1;
        @include transform(translateY(-5px));
    }

    svg path {
        fill: none;
    }

    svg.progress-circle path {
        stroke: var(--primary);
        stroke-width: 4;
        box-sizing: border-box;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    @media (max-width: 768px) {
        display: none !important;
    }
}

// Label 
.dot {
    width: 3px;
    height: 3px;
    flex: none;
    display: inline-block;
    @include border-radius(50%);
    background-color: var(--primary);
}
.energy-sector-labels {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    gap: 10px 5px;
    .label {
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center);
        gap: 8px;
        font-weight: 400;
        font-size: 12px; 
        width: max-content;
        z-index: 5;  
        line-height: 1;
        span[class^="icon-"] {
            width: 22px;
            height: 22px;
            background-size: contain !important;
            display: inline-block;
        }
        &.label-power {
            color: var(--red);
            .icon-power {
                background: url('data:image/svg+xml,<svg width="14" height="22" viewBox="0 0 14 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 8.8H14L3 22L6 12.1H0L8 0L7 8.8Z" fill="rgb(255 21 21)"/></svg>') no-repeat center center;
            }
        }
        &.label-natural-gas {
            color: var(--skyblue);
            .icon-natural-gas {
                background: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.70697 21.9711C7.92575 22.0853 8.15653 21.8379 8.02259 21.6332C7.29554 20.5217 6.60707 18.6514 7.70397 16.2427C9.53319 12.2261 10.6463 10.1457 10.6463 10.1457C10.6463 10.1457 11.2383 12.5735 12.8432 14.7321C14.3878 16.8096 15.2332 19.4225 13.8703 21.5991C13.7423 21.8034 13.9679 22.0445 14.1852 21.9352C15.8724 21.0875 17.7647 19.3871 17.9782 16.0032C18.0569 14.9692 17.9389 13.5216 17.3485 11.6949C16.5895 9.37961 15.6563 8.29927 15.1164 7.83533C14.9549 7.69654 14.7037 7.81955 14.7169 8.02991C14.8743 10.5281 13.9175 11.162 13.3729 9.73333C13.1554 9.1627 13.0285 8.17572 13.0285 6.97377C13.0285 4.97274 12.4375 2.91287 11.1344 1.239C10.7955 0.803706 10.399 0.396958 9.94414 0.0500983C9.77945 -0.075503 9.54073 0.0507453 9.5558 0.255C9.65586 1.61152 9.56521 5.49923 6.0928 10.1438C2.94435 14.4522 4.16436 17.761 4.59728 18.6572C5.42497 20.374 6.57947 21.3822 7.70697 21.9711Z" fill="rgb(71 190 244)"/></svg>');
            }
        }
        &.label-coal {
            color: var(--orange);
            .icon-coal {
                background: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.9986 17.5471H2.99787V18.8411H18.9986V17.5471ZM20.9969 9.10938H1V10.4034H20.9969V9.10938ZM19.0855 10.9089H2.91303L4.52385 18.0511H17.473L19.0855 10.9089Z" fill="rgb(250 141 60)"/><path d="M4.17214 18.6602H7.67214C8.00263 19.8208 7.14005 21.0015 5.92194 21.0015C4.70382 21.0015 3.84326 19.8208 4.17214 18.6602Z" fill="rgb(250 141 60)"/><path d="M14.3251 18.6602H17.8247C18.1556 19.8208 17.293 21.0015 16.0749 21.0015C14.8568 21.0015 13.9958 19.8208 14.3251 18.6602Z" fill="rgb(250 141 60)"/><path d="M5.984 7.772L4.58448 6.52653L4.78285 4.76902L6.68901 4.09349L8.27963 6.20446L5.984 7.772Z" fill="rgb(250 141 60)"/><path d="M11.052 4.13548L8.68688 5.91419L7.0506 3.74288L7.63199 1.65759L8.94787 1L11.6988 1.86918C11.7558 1.88793 11.8124 1.88385 11.8633 1.8651L13.7367 1.28701L14.748 2.54389C14.7758 2.57977 14.8142 2.60545 14.8554 2.62094H14.8538L16.524 3.24225L17.1296 4.31853L16.8246 5.03564L14.9544 4.76086C14.8639 4.74823 14.7702 4.78655 14.7148 4.86686L14.2256 5.58397L11.3243 4.11958C11.2407 4.07066 11.134 4.07514 11.052 4.13548Z" fill="rgb(250 141 60)"/><path d="M19.578 9.10716H15.0195L13.6959 7.24324L15.036 5.28106L16.8181 5.54443L17.8108 7.0447C17.8403 7.09076 17.8827 7.12216 17.93 7.1405L19.2883 7.65703L19.7453 8.60489L19.578 9.10716Z" fill="rgb(250 141 60)"/><path d="M14.4058 9.10716H6.46316L6.2462 8.20088L8.77899 6.47353H8.77738C8.78182 6.47068 8.78425 6.46946 8.78748 6.4666L11.2265 4.63163L13.9395 6.00144L13.1977 7.08913C13.1278 7.17515 13.1226 7.2995 13.1889 7.39408L14.4058 9.10716Z" fill="rgb(250 141 60)"/><path d="M5.94965 9.10716H2.56641L2.68438 7.43403L4.26328 6.91342L5.73956 8.22738L5.94965 9.10716Z" fill="rgb(250 141 60)"/></svg>');
            }
        }
        &.label-renewable-energy {
            color: var(--green);
            .icon-renewable-energy {
                background: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9754 20.9251C10.3061 20.2372 9.92969 19.3044 9.92969 18.332H11.3583C11.3583 18.9158 11.584 19.4753 11.9861 19.8874C12.3875 20.3003 12.9325 20.532 13.5011 20.532C13.8954 20.532 14.2154 20.8606 14.2154 21.2654C14.2154 21.6702 13.8954 21.9987 13.5011 21.9987C12.554 21.9987 11.6454 21.6122 10.9754 20.9251Z" fill="rgb(0 176 80)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.63211 0.428999C10.1902 -0.143 11.0955 -0.143 11.6536 0.428999C11.6727 0.448575 13.8259 2.66312 15.5487 5.4277C16.7991 7.43403 17.7857 9.72803 17.7857 11.7334C17.7856 15.7802 14.5847 19.0667 10.6429 19.0667C6.70105 19.0667 3.50015 15.7802 3.5 11.7334C3.5 9.72803 4.48663 7.43403 5.73703 5.4277C7.46038 2.66224 9.61442 0.447175 9.63211 0.428999ZM7.42927 11.5135H10.1846L8.80692 16.1334L13.8578 9.97307H10.6436L11.1025 5.86669L7.42927 11.5135Z" fill="rgb(0 176 80)"/></svg>');
            }
        }
        &.label-environmental {
            color: var(--yellow);
            .icon-environmental {
                background: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.0631 16.9991L14.6171 17.2524C14.1763 17.5062 13.6554 17.582 13.1607 17.4643C12.666 17.3466 12.2347 17.0444 11.9549 16.6191C11.8912 16.527 11.8054 16.4525 11.7054 16.4024C11.6053 16.3523 11.4943 16.3283 11.3825 16.3325C11.2332 16.327 11.0863 16.372 10.9655 16.4602C10.8448 16.5485 10.7572 16.6749 10.717 16.8191C10.2814 18.1758 10.2651 19.6326 10.6704 20.9986H10.9832C12.5716 20.9955 14.1363 20.6129 15.5473 19.8825C16.9584 19.1521 18.1751 18.095 19.0964 16.7991C18.458 16.5036 17.7576 16.3675 17.0552 16.4023C16.3527 16.4371 15.6692 16.6419 15.0631 16.9991Z" fill="rgb(197 179 88)"/><path d="M17.8851 11.037C17.8851 11.037 17.8851 11.037 17.8851 10.997H11.6488V6.77825H13.1995C14.5529 6.77649 15.8503 6.23736 16.8073 5.2791C17.7642 4.32083 18.3026 3.02165 18.3044 1.66647C18.3044 1.48971 18.2342 1.32019 18.1094 1.1952C17.9846 1.07022 17.8153 1 17.6388 1H15.4225C14.5197 1.00046 13.6332 1.24065 12.8533 1.69609C12.0735 2.15153 11.4282 2.80593 10.9832 3.59255C10.5383 2.80593 9.89302 2.15153 9.11316 1.69609C8.3333 1.24065 7.44677 1.00046 6.54397 1H4.32767C4.15115 1 3.98186 1.07022 3.85705 1.1952C3.73223 1.32019 3.66211 1.48971 3.66211 1.66647C3.66387 3.02165 4.20226 4.32083 5.15922 5.2791C6.11618 6.23736 7.41359 6.77649 8.76693 6.77825H10.3177V10.997H7.79522C8.28275 11.6588 8.62144 12.4185 8.78802 13.2238C8.95461 14.0291 8.94514 14.8609 8.76028 15.6622L7.68873 20.3941C8.19965 20.5762 8.72511 20.7145 9.25945 20.8073C9.12363 20.2126 9.05443 19.6046 9.05312 18.9946C9.05608 18.1218 9.19071 17.2545 9.45246 16.422C9.58205 16.0103 9.83874 15.6504 10.1856 15.3942C10.5324 15.1379 10.9515 14.9984 11.3826 14.9958C11.7126 14.9913 12.0382 15.0717 12.3283 15.2293C12.6185 15.3868 12.8634 15.6162 13.0398 15.8955C13.1331 16.0441 13.2812 16.1499 13.4519 16.1898C13.6227 16.2298 13.8022 16.2006 13.9516 16.1088L14.3975 15.8488C15.2117 15.3675 16.1329 15.0971 17.0777 15.0622C18.0226 15.0273 18.9612 15.2289 19.8085 15.6489C20.2528 14.8104 20.5755 13.9127 20.7669 12.983H20.3476C19.7822 12.9689 19.2366 12.7716 18.7927 12.4207C18.3487 12.0699 18.0302 11.5843 17.8851 11.037Z" fill="rgb(197 179 88)"/><path d="M19.3028 10.9989C19.4135 11.1845 19.569 11.3392 19.7551 11.4487C19.9413 11.5583 20.152 11.619 20.3677 11.6254H20.9667C20.9667 11.4121 21 11.2055 21 10.9922L19.3028 10.9989ZM6.41764 11.3921C6.32446 11.2655 6.21131 11.1322 6.11814 10.9989H1C1.00244 12.8393 1.51203 14.6434 2.47263 16.2124C3.43323 17.7814 4.80756 19.0544 6.44426 19.8911L7.46256 15.3917C7.61785 14.7262 7.61693 14.0337 7.45987 13.3687C7.30281 12.7036 6.9939 12.0841 6.5574 11.5588L6.41764 11.3921Z" fill="rgb(197 179 88)"/></svg>');
            }
        }
        &.label-primary {
            color: var(--primary);
            .icon-power {
                background: url('data:image/svg+xml,<svg width="14" height="22" viewBox="0 0 14 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 8.8H14L3 22L6 12.1H0L8 0L7 8.8Z" fill="rgb(255 21 21)"/></svg>');
            }
        }
    }
    a.label {
        text-decoration: none;
        &:hover, &:focus {
            text-decoration: underline;
            span[class^="icon-"] {
                opacity: 0.7;
            }
        }
    }
}

// Badge
.badge {
    display: inline-block;
    font-size: 9px;
    font-weight: 600;
    padding: 3px 10px 2px;
    @include border-radius(90px);
    line-height: 1;
    vertical-align: middle;

    &.badge-warning {
        color: var(--black);
    }
}

// Breadcrumb
.breadcrumb-nav {
    margin-bottom: 30px;
    opacity: 1;

    .breadcrumb {
        .breadcrumb-item {
            font-size: 12px;
            font-weight: 500;
            color: var(--black);

            a {
                text-decoration: none;
                color: var(--black);
                @include transition(0.3s, ease-in-out);

                &:hover,
                &:focus {
                    color: var(--dark-gray);
                    text-decoration: underline;
                }
            }
        }

        .breadcrumb-item+.breadcrumb-item {
            &::before {
                content: url('data:image/svg+xml,<svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7.5L4 4.5L1 1.5" stroke="rgb(101 101 101)" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                margin-top: 1px;
            }
        }
    }
}

.splide__arrows {
    .splide__arrow {
        background: rgba(#e5e5e5, 0.5) url('data:image/svg+xml,<svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6H23M23 6L18 1M23 6L18 11" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
        background-size: 16px !important;
        width: 40px;
        height: 40px;
        border: 1px solid #e5e5e5;
        opacity: 1;
        @include transition(0.3s, ease-in-out);
        top: auto;
        left: calc(50% - 48px);
        bottom: -65px;
        transform: scaleX(-1);
        &.splide__arrow--next {
            transform: unset;
            left: auto;
            right: calc(50% - 48px)
        }
        &:hover,
        &:focus {
            border-color: var(--black);
        }
        svg {
            display: none;
        }

        &:disabled {
            opacity: .3
        }
    }
}

.splide__pagination {
    bottom: 50px;

    li {
        .splide__pagination__page {
            width: 10px;
            height: 10px;
            @include transform (unset);
            opacity: 1;
            background: var(--primary);
            border: 1px solid transparent;
            @include border-radius(0.5rem);
            margin: 0 0.15rem;
            @include transition(0.3s, ease-in-out);

            &.is-active {
                background: var(--white);
                border-color: var(--primary);
                width: 20px;
            }
        }
    }

    &.is-light {
        li {
            .splide__pagination__page {
                background: rgba(255, 255, 255, 0.4);

                &.is-active {
                    background: var(--white);
                    border-color: var(--white);
                }
            }
        }
    }
}

// Check List
.check-list {
    list-style-type: none;
    padding: 0 !important;
    li {
        list-style-type: none;
        @include flexbox;
        @include align-items(flex-start);
        gap: 12px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        @media (max-width: 992px) {
            gap: 8px;
        }
        &::before {
            content: '';
            background-image: url('../images/icons/icon-circle-check.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            width: 20px;
            height: 20px;
            flex: none;
            display: inline-block;
            margin-top: 3px;
            @media (max-width: 992px) {
                width: 16px;
                height: 16px;
                margin-top: 3px;
            }
        }
    }
    &.is-power {
        li {
            &::before {
                background-image: url('../images/icons/icon-circle-check-red.svg');
            }
        }
    }
    &.is-natural-gas {
        li {
            &::before {
                background-image: url('../images/icons/icon-circle-check-skyblue.svg');
            }
        }
    }
    &.is-coal {
        li {
            &::before {
                background-image: url('../images/icons/icon-circle-check-orange.svg');
            }
        }
    }
    &.is-renewable-energy {
        li {
            &::before {
                background-image: url('../images/icons/icon-circle-check-green.svg');
            }
        }
    }
    &.is-environmental {
        li {
            &::before {
                background-image: url('../images/icons/icon-circle-check-yellow.svg');
            }
        }
    }
}

// Animation Image
.animated-img { 
    overflow: hidden; 
    animation-fill-mode: forwards;  
    display: inline-block;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);      
    width: 100%;
    height: 100%;
    .imgSlideInUp {
        display: inline-block; 
        width: 100%;
        animation-duration: 1s;
        animation-fill-mode: both;
        height: 100%;
    }   
    .animate {
        animation-name: imgSlideInUp; 
        height: 100%;
    }       
    img { 
        display: block; 
        width: 100%; 
        transform-origin: top center;
    }    
    &.is-visible {
        img { 
            transform: translateY(0%);
        }
        &.is-complete {    
            animation: cubic-bezier(0.25, 0.1, 0.25, 1), 1.5s isComplete; 
            animation-fill-mode: forwards;
            img { 
                @include transition(0.6s, ease-in-out);
            }  
        }
    }
}
@keyframes isComplete {
    0% { clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%); }
    100% { clip-path: polygon(0px 0%, 100% 0%, 100% 100%, 0% 100%); }
}
@keyframes isLoad {
    0% { clip-path: polygon(0px 0%, 100% 0%, 100% 100%, 0% 100%); }
    100% { clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);}
}
@keyframes imgSlideInUp{
    0% {transform: translateY(60%); @include opacity(0);}
    to {transform: translateY(0%); @include opacity(1);}    
}