:root {
  --text-black: #000000;
  --text-white: #ffffff;

  --white: #ffffff;
  --black: #000000;
  --dark-black: #1b1b1b;
  --dark-black-2: #151515;
  --gray: #F5F5F5;
  --dark-gray: #868686;

  --orange: #FF3D00;

  --success-green: #027a48;
  --success-green-light: #ecfdf3;
  --error-red: #eb2010;
  --error-red-light: #ffe0dd;
}