:root {
  --text-black: #000000;
  --text-white: #ffffff;

  --white: #ffffff;
  --black: #000000;
  --dark-black: #1b1b1b;
  --dark-black-2: #151515;
  --gray: #F5F5F5;
  --dark-gray: #737373;

  --primary: #233F61;
  --secondary: #E01E26;

  --red: #FF1515;
  --skyblue: #47BEF4;
  --orange: #FA8D3C;
  --green: #00B050;
  --yellow: #C5B358;

  --success-green: #027a48;
  --success-green-light: #ecfdf3;
  --error-red: #eb2010;
  --error-red-light: #ffe0dd;
}