.main-header {
    position: sticky;
    top: 0;
    background: rgba(#ffffff, 0.95);
    backdrop-filter: blur(20px);
    z-index: 10;
    @media (max-width: 1200px) {
        // overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000000, 0.5);
            visibility: hidden;
            opacity: 0;
            @include transition(0.1s, ease-in-out);
        }
        &.is-visible  {
            &::before {                
                opacity: 1;
                visibility: visible;
            }
            .navbar {
                .navbar-collapse {
                    @include transform(none);
                    visibility: visible;
                    max-width: 320px;
                }
                @media (max-width: 1200px) and (min-width: 992px) {
                    .navbar-toggler {
                        position: absolute;
                        right: 20px;
                        top: 18px;
                    }
                }
            }
        }
    }
    .navbar {
        padding: 10px 0;
        z-index: 11;
        background: var(--white);
        .container {
            @media (min-width: 1200px) {position: relative;}
            flex-wrap: nowrap;
        }
        .navbar-brand {
            padding: 0;
            margin-bottom: -32px;
            @media (max-width: 992px) {
                margin-bottom: -20px;
            }
            img {
                height: 88px;
                @media (max-width: 992px) {
                    height: 66px;
                    min-width: 153px;
                }
            }
        }
        .navbar-collapse {
            @media (min-width: 1200px) {
                @include justify-content(center);
                .mobile-top-menu {
                    display: none;
                }
            }
            @media (max-width: 1200px) {
                position: fixed;
                top: 5px;
                right: 5px;
                bottom: 0;
                z-index: 15;
                min-height: calc(100vh - 10px);
                width: 100%;
                max-width: 0;
                background: #F4F5F7;
                @include flexbox;
                @include flex-direction(column);
                @include align-items(flex-start);
                transition: max-width 0.1s ease-in-out, transform 0.3s ease-in-out;
                @include transform(translateX(110%));
                @include border-radius(8px);
                box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.05);
                overflow: hidden;
                overflow-y: auto;
                visibility: hidden;                
                .mobile-top-menu {
                    padding: 15px 15px 5px;
                    margin-bottom: 10px;
                    .home-menu {
                        line-height: 0.7;  
                        a {     
                            display: inline-block;
                            color: var(--primary);                     
                            @include transition(0.2s, ease-in-out);
                            &:hover, &:focus {
                               color: var(--dark-gray);
                            }
                        }
                    }
                }

                .mobile-bottom-menu {
                    border-top: 1px solid #E5E5E5;
                    margin-top: 30px;
                    padding: 20px 15px;
                    width: 100%;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(space-between);
                    gap: 20px;
                    .btn {
                        width: max-content;
                        // margin: 0 auto;
                    }
                }
            }
        }
        .mainMenu {
            display: flex;
            align-items: flex-start;
            padding: 4px;
            @media (min-width: 1200px) {
                gap: 6px;
                background: #F6F8F9;
                @include border-radius(56px);
            }
            @media (max-width: 1200px) { 
                width: 100%;
                padding: 10px;
                flex: 1 1 auto;
            }
            & > li {
                line-height: 1;
                @media (max-width: 1200px) { 
                    width: 100%;
                    margin-bottom: 5px;
                }
                & > a {                    
                    font-family: var(--font-heading2);
                    font-weight: 500;
                    font-size: 16px;
                    color: var(--blackk);
                    text-decoration: none;
                    padding: 10px 11px;
                    @include inline-flex;
                    @include align-items(center);
                    @include border-radius(56px);
                    line-height: 1.2;
                    @include transition(0.2s, ease-in-out);
                    letter-spacing: -0.02em;
                    height: 36px;
                    @media (max-width: 1200px) {
                        padding: 12px 12px;
                        font-size: 15px;
                        width: 100%;
                        line-height: 1;
                        height: auto;
                    }
                }
                &:hover, &:focus, &.current-menu-item {
                    & > a {
                        background: rgba(#233F61, 0.10);
                        color: var(--primary);
                    }
                }
            }            
            li {
                &.menu-item-has-children {
                    position: relative;
                    @media (min-width: 1200px) {                      
                        &::after {
                            content: '';
                            width: 100%;
                            height: 40px;
                            left: 0;
                            position: absolute;
                            bottom: -30px;
                            background: transparent;
                            z-index: 10;
                            display: inline-block;
                        }
                        // &::before {
                        //     content: '';
                        //     width: 100%;
                        //     height: calc(100vh - 76px);
                        //     top: 76px;
                        //     left: 0;
                        //     position: fixed;
                        //     background: rgba(#000000, 0.1);
                        //     opacity: 0;
                        //     visibility: hidden;
                        // }
                    }
                    & > a {
                        @media (min-width: 1200px) {
                            &::after {
                                content: '';
                                background: url('data:image/svg+xml,<svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 0.5L4.5 4.5L8.5 0.5" stroke="rgb(35 63 97)" stroke-linecap="round"/></svg>') no-repeat center center;
                                background-size: 10px;
                                width: 8px;
                                height: 4px;
                                display: inline-block;
                                line-height: 0.7;
                                margin-left: 6px;
                                @include transition(0.2s, ease-in-out);
                                filter: invert(0.5);
                            }
                        } 
                    }
                    @media (max-width: 1200px) { 
                        .arrow {
                            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path stroke="rgb(35 63 97)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m4 7 4 4 4-4"></path></svg>') no-repeat center center;
                            background-size: 16px;
                            width: 15px;
                            height: 15px;
                            line-height: 0.7;
                            margin-left: auto;
                            @include transition(0.2s, ease-in-out);
                            filter: invert(0.5);
                            display: block;
                            float: right;
                            &:hover, &:focus {
                                filter: invert(0);
                            }
                            &.is-active {
                                filter: invert(0);
                                @include transform(rotate(180deg));
                            }
                        }
                    }
                    .sub-menu {
                        @media (min-width: 1200px) {
                            position: absolute;
                            top: 64px;
                            left: 50%;
                            display: block;
                            min-width: 220px;
                            padding: 30px 0 0;
                            opacity: 0;
                            pointer-events: none;
                            transform-origin: 50% 0;
                            transform: translate(-50%, 5px);
                            @include transition(0.2s, ease-in-out);
                            @include border-radius(16px);
                            z-index: 9;
                            border: 1px solid #E5E5E5;
                            background: #F4F5F7;
                            &::before {
                                content: "";
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 8px 8px;
                                border-color: transparent transparent #F4F5F7;
                                position: absolute;
                                top: -8px;
                                left: calc(50% - 8px);
                            } 
                            &::after {
                                content: "";
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 9px 9px;
                                border-color: transparent transparent #E5E5E5;
                                position: absolute;
                                top: -9px;
                                left: calc(50% - 8.5px);
                                z-index: -1;
                            } 
                        }
                        @media (max-width: 1200px) {
                            display: none;
                            margin: 10px 0 !important;
                            width: 100%;
                            background: var(--white);
                            @include border-radius(16px);
                            padding: 15px 0;
                        }
                        & > li {
                            padding: 0 30px;
                            &:not(:last-child) {
                                margin-bottom: 5px;
                            }
                            &:last-child {
                                flex-basis: 100%;
                                padding: 20px;
                                text-align: center;                                
                                margin-top: 25px;
                                @media (min-width: 1200px) {
                                    border-top: 1px solid #E5E5E5;
                                }
                                @media (max-width: 1200px) {
                                    display: none;
                                }
                                a {
                                    color: var(--primary);
                                    @include inline-flex;
                                    @include align-items(center);
                                    @include justify-content(center);
                                    gap: 10px;
                                    &::after {
                                        content: '';
                                        background: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.39128 7.10872L8.44961 0.750391L2.09128 0.808724M8.44961 0.750391L0.749609 8.45039" stroke="rgb(35 63 97)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                                        background-size: contain;
                                        width: 11px;
                                        height: 9px;
                                        display: inline-block;
                                        @include transition(0.2s, ease-in-out);
                                    }
                                    &:hover, &:focus {
                                        color: var(--dark-gray);
                                        &::after {
                                            @include transform(rotate(45deg));
                                            filter: contrast(0.2);
                                        }
                                    }
                                }
                            }
                            @media (max-width: 1200px) {
                                padding: 0 15px;
                                &:nth-last-child(2) {
                                    margin-bottom: 0;
                                }
                            }
                            a {
                                color: var(--dark-gray);
                                font-family: var(--font-heading2);
                                font-size: 14px;
                                font-weight: 500;
                                @include transition(0.2s, ease-in-out);
                                border-radius: 2px;
                                line-height: 1.3;
                                text-decoration: none;
                                @include inline-flex;
                                @include align-items(center);
                                @include justify-content( flex-start);
                                &:hover, &:focus {
                                    color: var(--primary);
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    &.mega-menu {
                        position: unset;
                        &::after {
                            width: var(--width, 220px);
                            left: var(--left);
                        }
                        .sub-menu {
                            @media (min-width: 1200px) {
                                padding: 0 10px;
                                margin: 0 12px;
                                min-width: 100%;
                                @include flexbox;
                                @include flex-wrap(wrap);
                                top: 74px;
                                &::after, &::before {
                                    left: var(--arrow-left);
                                }
                            }
                            @media (max-width: 1200px) {
                                display: none;
                                padding: 0;
                                @include flex-direction(column);
                            }
                            & > li {
                                flex: 1;
                                padding: 30px 20px;
                                margin-bottom: 0;
                                &:last-child {
                                    margin: 10px -10px 0;
                                    padding: 10px 10px 0;
                                }
                                @media (min-width: 1200px) {
                                    &:not(:last-child) {
                                        border-right: 1px solid #E5E5E5;
                                    }
                                    &:last-child {
                                        margin-top: 0;
                                        flex-basis: 100%;
                                        padding: 20px;
                                        margin: 0 -10px;
                                    }
                                }
                                @media (max-width: 1200px) {
                                    padding: 10px 15px;
                                    &:not(:first-child) {
                                        border-top: 1px solid #E5E5E5;
                                    }
                                }
                                ul {
                                    li {
                                        &:not(:last-child) {
                                            margin-bottom: 5px;
                                            @media (max-width: 1200px) {
                                                margin-bottom: 8px;
                                            }
                                        }
                                        &.menu-title {
                                            margin-bottom: 10px;
                                            display: block;
                                            @media (max-width: 1200px) {
                                                margin-bottom: 0;
                                                & ~ li {
                                                    margin-top: 10px;
                                                }
                                            }
                                            a {
                                                font-size: 24px;
                                                font-family: var(--font-heading1);
                                                pointer-events: none;
                                                color: var(--black);
                                                font-style: italic;
                                                @media (max-width: 1200px) {
                                                    width: 100%;
                                                    gap: 10px;
                                                    font-size: 22px;
                                                    // &::after {
                                                    //     content: '+';
                                                    //     width: 12px;
                                                    //     height: 12px;
                                                    //     display: inline-block;
                                                    //     font-style: normal;
                                                    //     line-height: 0.7;
                                                    //     color: var(--dark-gray);
                                                    //     margin-left: auto;
                                                    //     margin-top: -2px;
                                                    // }
                                                }
                                            }                                            
                                            &.menu-title.active {
                                                a {
                                                    // &::after {
                                                    //     content: '—';
                                                    //     font-size: 17px;
                                                    // }
                                                }
                                            }
                                            &.text-red {
                                                a {
                                                    color: var(--red);
                                                }
                                            }
                                            &.text-skyblue {
                                                a {
                                                    color: var(--skyblue);
                                                }
                                            }
                                            &.text-orange {
                                                a {
                                                    color: var(--orange);
                                                }
                                            }
                                            &.text-green {
                                                a {
                                                    color: var(--green);
                                                }
                                            }
                                            &.text-yellow {
                                                a {
                                                    color: var(--yellow);
                                                }
                                            }
                                        }
                                        a {                                             
                                            &.with-icon {
                                                @include inline-flex;
                                                @include align-items(flex-start);
                                                gap: 8px;
                                                line-height: 1.4;
                                                &:hover, &:focus {                              
                                                    .icon {
                                                        filter: contrast(1);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .menu-card {
                                    position: relative;
                                    @media (max-width: 1200px) {
                                        margin-bottom: 20px;
                                    }
                                    .card-img {
                                        @include border-radius(4px);
                                        overflow: hidden;
                                        margin-bottom: 5px;
                                        img {
                                            aspect-ratio: 16/ 9;
                                        }
                                    }
                                    .card-body {                                       
                                        color: var(--dark-gray);
                                        padding-top: 10px;
                                        .card-title {
                                            font-size: 18px;
                                            font-weight: 500;
                                            margin-bottom: 5px;                                    
                                            color: var(--dark-black);
                                        }
                                        .card-info {
                                            font-size: 14px;
                                            line-height: 1.3;
                                        }
                                        .card-action {
                                            margin-top: 15px;
                                            a {
                                                padding: 0;
                                                line-height: 1;                                        
                                                color: var(--primary);
                                                margin-top: 0;
                                                .arrow-icon  {
                                                    width: 15px;
                                                    height: 10px;                                    
                                                    filter: contrast(1);
                                                }
                                                &:hover, &:focus {                                       
                                                    color: var(--dark-gray);
                                                    .arrow-icon  {      
                                                        width: 15px !important;                          
                                                        filter: contrast(0);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.is-open {                        
                        @media (min-width: 1200px) {                                
                            &::before {
                                opacity: 1;
                                visibility: visible;
                                z-index: -1;
                            }
                        }
                    }
                    &:hover, &:focus, &:active {
                        & > a {
                            @media (min-width: 1200px) {  
                                &::after {
                                    filter: invert(0);
                                    @include transform(rotate(180deg));
                                }
                            }
                        }
                        .sub-menu {
                            @media (min-width: 1200px) {
                                opacity: 1;
                                pointer-events: auto;
                                visibility: visible;
                                transform: translate(-50%, 0px);
                                &::before {
                                    opacity: 1;
                                }
                                &::after {
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    &.current-menu-item {
                        & > a {
                            @media (min-width: 1200px) {
                                &::after {
                                    filter: invert(0);
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-right {
            @include flexbox;
            @include align-items(center);
            position: relative;
            gap: 20px;
            @media (max-width: 575px) {
                gap: 15px;
                width: 100%;
            }
            .navbar-toggler {
                @media (min-width: 1200px) {
                    display: none;
                }
                display: inline-block;
                cursor: pointer;
                border: none;
                padding: 0;
                background-color: transparent;
                z-index: 15;
                span {
                    width: 20px;
                    height: 2px;
                    margin: 5px 0;
                    background-color: var(--black);
                    @include border-radius(4px);
                    display: block;
                    @include transition(0.2s, ease-in-out);
                }

                &:hover,
                &:active,
                &:focus, &.is-visible {
                    span {
                        background-color: var(--dark-gray);
                    }
                }

                &.is-visible {
                    span:nth-child(1) {
                        @include transform(rotate(-45deg) translate(-4px, 5px));
                    }

                    span:nth-child(2) {
                        @include opacity(0);
                        visibility: hidden;
                    }

                    span:nth-child(3) {
                        @include transform(rotate(45deg) translate(-4.5px, -6px));
                    }
                }
            }
            .search-menu {
                min-width: 44px;
                height: 44px;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                background: rgba(#233F61, 0.05);
                border: 1px solid transparent;
                @include border-radius(50%);
                @include transition(0.2s, ease-in-out);
                @media (max-width: 992px) {
                    min-width: 36px;
                    height: 36px;
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }
                &:hover, &:focus {
                    border-color: var(--primary);
                }
            }
            .nav-right-menu {
                @include flexbox;
                @include align-items(center);
                gap: 20px;
                a {
                    opacity: 1;
                    transition: all 0.3s 0.3s;
                }
            }  
            .search-toggle {
                position: relative;
                display: block;
                height: 38px;
                width: 38px;  
                @include border-radius(50%);     
                background-color: rgba(35, 63, 97, 0.05);         
                background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.4792 12.4935L17.25 17.25M14.5 7.625C14.5 11.4219 11.4219 14.5 7.625 14.5C3.82804 14.5 0.75 11.4219 0.75 7.625C0.75 3.82804 3.82804 0.75 7.625 0.75C11.4219 0.75 14.5 3.82804 14.5 7.625Z" stroke="rgb(35 63 97)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 14px !important;
                z-index: 9;
                @include transition(0.3s, ease-in-out);
                @media (max-width: 992px) {
                    height: 32px;
                    width: 32px;  
                    background-size: 12px !important;
                }
                @media (max-width: 575px) {
                    margin-left: auto;
                }
                &:hover, &:focus {
                    background-color: rgba(35, 63, 97, 0.1);         
                }
                &.active {    
                    background-color: rgba(35, 63, 97, 1);                         
                    background-image: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.4444 13.4444L7.22222 7.22222M7.22222 7.22222L1 1M7.22222 7.22222L13.4444 1M7.22222 7.22222L1 13.4444" stroke="rgb(255 255 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                    &:hover, &:focus {
                        background-color: rgba(35, 63, 97, 0.8);         
                    }
                }
            } 
            .search-box {
                position: absolute;
                right: 0;
                height: 100%;
                width: 0;
                padding: 0;
                opacity: 0;
                visibility: hidden;
                @include transition(0.3s, ease-in-out);
                @media (max-width: 1200px) {
                    right: 60px;
                }
                .search-input {
                    width: 100%;
                    height: 38px;
                    color: var(--primary);
                    font-size: 14px;
                    padding: 5px 48px 5px 15px;
                    border: 1px solid #e5e5e5;
                    background: #e9ebef;
                    @include border-radius(30px);
                    @media (max-width: 992px) {
                        height: 32px;
                        padding: 5px 38px 5px 12px;
                    }        
                    &:focus {
                        outline: none;
                    }
                }
            }         
            &.show {
                .nav-right-menu {
                    a {
                        opacity: 0;
                        @include transition(0.3s, ease-in-out);

                        &:nth-child(even) {
                            transform: translateY(-100%);
                        }

                        &:nth-child(odd) {
                            transform: translateY(100%);
                        }
                    }
                }
                .search-box {
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                    @include transition(0.3s, ease-in-out);
                    @media (max-width: 1200px) {
                        width: calc(100% - 30px);
                        right: 39px;
                    }
                }
            }
        }
    }
}
.icon {
    display: inline-block;
    background-size: contain !important;
    min-width: 14px;
    height: 14px;
    line-height: 0.7;
    margin-top: 5px;
    &.icon-location {
        background: url('data:image/svg+xml,<svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.00126 0C5.2107 0.00032039 4.428 0.154981 3.69806 0.455103C2.96813 0.755223 2.30535 1.1949 1.74775 1.74889C1.19016 2.30288 0.748739 2.96027 0.448821 3.68335C0.148905 4.40642 -0.00359836 5.18092 6.44462e-05 5.96241C6.44462e-05 10.0824 4.29927 13.8598 5.62191 14.8598C5.73294 14.9504 5.87244 15 6.01643 15C6.16042 15 6.29991 14.9504 6.41094 14.8598C7.73611 13.8297 11.9999 10.0824 11.9999 5.96241C12.0036 5.18113 11.8511 4.40683 11.5514 3.68392C11.2516 2.96102 10.8105 2.30373 10.2531 1.74978C9.69578 1.19582 9.03327 0.756094 8.30366 0.455822C7.57403 0.155552 6.79159 0.000649079 6.00126 0ZM6.00126 8.42737C5.50108 8.42737 5.01213 8.28078 4.59625 8.00605C4.18037 7.73135 3.85623 7.3409 3.66482 6.8841C3.47341 6.4273 3.42332 5.92463 3.5209 5.43969C3.61848 4.95474 3.85934 4.50929 4.21302 4.15967C4.5667 3.81005 5.01732 3.57194 5.50788 3.47548C5.99845 3.37902 6.50694 3.42853 6.96904 3.61775C7.43114 3.80696 7.82611 4.12739 8.104 4.5385C8.38189 4.94962 8.53017 5.43296 8.53017 5.92741C8.53017 6.59044 8.26379 7.22631 7.78949 7.69515C7.31522 8.164 6.67197 8.42737 6.00126 8.42737Z" fill="rgb(35 63 97)"/></svg>') no-repeat center center;
    }
    &.icon-phone {
        background: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.23 9.62889C12.2733 9.62889 11.3478 9.47333 10.4844 9.19333C10.2122 9.1 9.90889 9.17 9.69889 9.38L8.47778 10.9122C6.27667 9.86222 4.21556 7.87889 3.11889 5.6L4.63556 4.30889C4.84556 4.09111 4.90778 3.78778 4.82222 3.51556C4.53444 2.65222 4.38667 1.72667 4.38667 0.77C4.38667 0.35 4.03667 0 3.61667 0H0.925556C0.505556 0 0 0.186667 0 0.77C0 7.99556 6.01222 14 13.23 14C13.7822 14 14 13.51 14 13.0822V10.3989C14 9.97889 13.65 9.62889 13.23 9.62889Z" fill="rgb(35 63 97)"/></svg>') no-repeat center center;
    }
    &.icon-mail {
        background: url('data:image/svg+xml,<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.7 0H13.3C13.6866 0 14 0.273607 14 0.611111V10.3889C14 10.7264 13.6866 11 13.3 11H0.7C0.313404 11 0 10.7264 0 10.3889V0.611111C0 0.273607 0.313404 0 0.7 0ZM7.04242 5.30622L3.00556 2.314C2.74645 2.12194 2.38522 2.15117 2.16035 2.38239C1.8886 2.66181 1.92541 3.11669 2.23855 3.3488L7.05117 6.91601L11.7696 3.35118C12.081 3.11586 12.1136 2.65994 11.8388 2.3827C11.6115 2.15343 11.2497 2.12756 10.9921 2.32217L7.04242 5.30622Z" fill="rgb(35 63 97)"/></svg>') no-repeat center center;
    }
}
.search-menu-popup {
    margin-top: 16px;
    position: fixed;
    width: 100%;
    top: 76px;
    @include transform(translateY(20px));
    opacity: 0;
    visibility: hidden;
    @include transition(0.2s, ease-in-out);
    @media (max-width: 992px) {
        top: 60px;
        right: 0;
        margin: 15px;
        width: 320px;
        @include transform(translateX(120%));
    }
    &.is-open {
        opacity: 1;
        visibility: visible;
        z-index: 10;
        @include transform(translateY(0px));
        @media (max-width: 992px) {
            @include transform(translateX(0));
        }
    }
    .search-menu-block {
        max-width: 1290px;
        margin: 0 auto;
        background: #F4F5F7;
        @include border-radius(16px);
        @media (max-width: 1400px) {
            max-width: 1116px;
        }
        @media (max-width: 1200px) {
            max-width: 936px;
        }
        @media (max-width: 992px) {            
            height: calc(100vh - 90px);
        }
        .search-input-form { 
            padding: 30px 30px 0;
            @media (max-width: 992px) { 
                padding: 20px;
            }
            @include border-radius(40x);
            .input-group {
                @include flexbox;
                @include align-items(center);
                background: #FFFFFF;
                @include border-radius(40px);
                input {                    
                    padding: 10px 16px 10px 20px;
                    border: none;
                    height: 40px;
                    @include border-radius(40px);
                    font-size: 14px;
                }
                .btn {
                    min-width: 60px;
                    min-height: 40px;
                    @include transition(0.2s, ease-in-out);
                    @media (max-width: 992px) {   
                        min-width: 40px;
                    }
                    &:hover, &:focus {
                        background-color: rgba(#233F61, 0.10);
                    }
                }
            }
        }
        .search-menu-block {
            @include flexbox;
            @include align-items(stretch);
            @media (max-width: 992px) {
                @include flex-direction(column);
                overflow: hidden;
                overflow-y: auto;
                max-height: calc(100% - 145px);
                gap: 10px;
            }
            & > div {
                border-right: 1px solid #E5E5E5;
                padding: 30px;
                flex: 1;
                box-sizing: border-box;
                @media (max-width: 992px) { 
                    padding: 0 20px 20px;
                    flex: unset;
                    border: none;
                }
            }
            .search-list-menu {
                max-width: 275px;
                ul {
                    li {
                        margin-bottom: 8px;
                        a {
                            font-weight: 500;
                            font-size: 14px;
                            color: #737373;
                            text-decoration: none;
                            @include transition(0.1s, ease-in-out);
                            &:hover, &:focus {
                                text-decoration: underline;
                                color: var(--primary);
                            }
                        }
                        &.menu-title {
                            margin-bottom: 12px;
                            a {
                                pointer-events: none;
                                font-weight: 400;
                                font-size: 16px;
                                color: #000000;
                            }
                        }
                    }
                }
            }
            .menu-card {
                position: relative;
                min-height: 100%;
                @include flexbox;
                @include flex-direction(column);
                @media (max-width: 992px) {                    
                    min-height: auto;
                }
                .card-img {
                    @include border-radius(4px);
                    overflow: hidden;
                    margin-bottom: 20px;
                    img {
                        aspect-ratio: 16/ 9;
                        width: 100%;
                    }
                }
                .card-body {                                       
                    color: var(--dark-gray);
                    @include flexbox;
                    @include flex-direction(column);
                    .card-title {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 5px;                                    
                        color: var(--black);
                    }
                    .card-info {
                        font-size: 14px;
                        color: rgba(#000000, 0.8);
                        flex: 1 1 auto;
                    }
                    .card-action {
                        margin-top: 15px;
                        a {
                            padding: 0;
                            line-height: 1;                                        
                            color: var(--primary);
                            margin-top: 0;
                            font-size: 14px;
                        }
                    }
                }
            }
            .contact-menu {
                max-width: 290px;
                ul {
                    li {
                        margin-bottom: 10px;
                        a {
                            @include flexbox;
                            @include align-items(flex-start);
                            gap: 10px;
                            font-weight: 500;
                            font-size: 14px;
                            color: #737373;
                            text-decoration: none;
                            @include transition(0.1s, ease-in-out);
                            &:hover, &:focus {
                                text-decoration: underline;
                                color: var(--primary);
                            }
                        }
                        &.menu-title {
                            margin-bottom: 12px;
                            a {
                                pointer-events: none;
                                font-weight: 400;
                                font-size: 16px;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
        .serch-bottom-menu {
            border-top: 1px solid #E5E5E5;
            padding: 20px;
            text-align: center;
            .btn {
                color: var(--primary);
                font-size: 14px;
            }
        }
    }
}
.bg-overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(#000000, 0.1);
    opacity: 0;
    visibility: hidden;
    @include transition(0.1s, ease-in-out);
    @media (max-width: 1200px) {
        background: rgba(#000000, 0.5);
    }
    &.is-active {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }
}