.main-conten-wrapper {
    min-height: 100vh;
}
// Main Section CSS
.theme-section {
    padding: 150px 0;
    @media (max-width: 1200px) {
        padding: 90px 0;
    }
    @media (max-width: 992px) {
        padding: 70px 0;
    }
    @media (max-width: 767px) {
        padding: 50px 0;
    }

    &.bg-none:not(.bg-custom) {
        background-image: none !important;
    }

    &.is-light {
        color: var(--text-black);

        .section-title {
            color: var(--text-black);
        }
    }

    &.is-dark {
        color: var(--text-white);

        a {
            color: var(--text-white) !important;

            &:hover,
            &:focus {
                opacity: 0.8 !important;
            }
        }

        .section-title {
            color: var(--text-white);
        }
    }

    &.bg-custom {
        background-color: var(--gs-bg, #fff) !important;
    }

    &.is-custom {
        *:not(a) {
            color: var(--gs-text, #fff);
        }

        .section-title {
            *:not(a) {
                color: var(--gs-text, #fff);
            }
        }
    }

    &.section-title-flex {
        .section-title {
            @include flexbox;
            @include align-items(flex-end);
            @include justify-content(space-between);
            @include flex-wrap(wrap);
            gap: 10px;
            @media (max-width: 767px) {
                gap: 0;
            }
            .left-block {
                max-width: 500px;
            }
        }
    }

    &.section-title-mw-500 {
        .section-title {
            max-width: 500px;
        }
    }

    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
        }
    }

    &.section-title-mw-1000 {
        .section-title {
            max-width: 1000px;
        }
    }
}

// Section Title CSS
.section-title {
    margin-bottom: 50px;

    @media (max-width: 992px) {
        margin-bottom: 30px;
    }

    &.text-center {
        margin: 0 auto 50px;
        text-align: center;

        @media (max-width: 992px) {
            margin: 0 auto 30px;
        }
    }

    &.sticky-title {
        position: sticky;
        top: 150px;
    }

    .tag-line {
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        color: var(--dark-gray);
        display: inline-block;
        margin-bottom: 10px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    h1,
    h2,
    h3 {
        margin-bottom: 20px;
        color: var(--black);
        font-family: var(--font-heading2);
        span {
            font-family: var(--font-heading1);
            font-style: italic;
            color: var(--secondary);
            font-weight: 400;
            display: block;
        }
    }

    .sort-info {
        font-size: 18px;
        color: var(--black);
        @media (max-width: 992px) {
            font-size: 16px;
        }
        h3 {
            font-weight: 400;
        }

        h4 {
            margin-bottom: 16px;
        }

        img {
            margin-top: 30px;
        }

        a {
            margin-bottom: 5px;
            display: inline-block;
        }
    }

    .info-list-cards,
    .counter-cards {
        margin-top: 16px;
    }

    .action {
        margin-top: 30px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include flex-wrap(wrap);
        gap: 10px 12px;
        @media (max-width: 992px) {
            gap: 10px;            
        }
    }

    & *:last-child {
        margin-bottom: 0px !important;
    }
}
.content-section {
    .section-title {
        .title {
            &.font-sm {
                font-size: clamp(18px, 3vw, 40px);
            }
        }
        .action {
            margin-top: 50px;
            @media (max-width: 767px) {
                margin-top: 30px;
            }
        }
    }
}