// form reset
textarea, select
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-background-clip: padding
  -moz-background-clip: padding
  background-clip: padding-box
  -webkit-border-radius: 0
  -moz-border-radius: 0
  -ms-border-radius: 0
  -o-border-radius: 0
  border-radius: 0
  -webkit-appearance: none
  background-color: #fff
  color: #000
  outline: 0
  margin: 0
  padding: 0
  text-align: left
  font-size: u(16)
  line-height: u(32)
  vertical-align: middle
  border: 0
select
  background: white url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==)
  background-repeat: no-repeat
  background-position: 97% center
  padding: u(0 25 0 8)
  font-size: u(16)
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
input
  &[type="date"], &[type="datetime"], &[type="datetime-local"], &[type="email"], &[type="month"], &[type="number"], &[type="password"], &[type="search"], &[type="tel"], &[type="text"], &[type="time"], &[type="url"], &[type="week"]
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    -webkit-background-clip: padding
    -moz-background-clip: padding
    background-clip: padding-box
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    -o-border-radius: 0
    border-radius: 0
    -webkit-appearance: none
    background-color: #fff
    color: #000
    outline: 0
    margin: 0
    padding: 0
    text-align: left
    font-size: u(16)
    line-height: u(32)
    vertical-align: middle
    border: 2px solid $mediumGray
    border-radius: 5px
    width: 100%
input[type="submit"]:not(.button), input[type="button"], button[type="submit"]:not(.button)
  background: #fff
  border: 0
  font-size: u(14)
  line-height: u(32)
  margin: 0
  padding: 0 u(10)

input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select
  border: 2px solid $mediumGray
  border-radius: 5px
  width: 100%
  padding: u(5 10)