.main-content-wrapper {
    position: relative;   
    background: $white url(../images/img-home-page-bg.jpg) center center no-repeat !important;
    background-size: 100% auto !important; 
}
.main-section {
    padding: 50px 0;
    @media (max-width: 992px) {
        padding: 40px 0;
    }
    &.with-inner-padding {
        background: transparent !important;
        padding: 0;
        .inner-section {
            background: $white;
            padding: 50px;
            @media (max-width: 1200px) {
                padding: 50px 25px;
            }
            @media (max-width: 992px) {
                padding: 40px 25px;
            }
            @media (max-width: 767px) {
                padding: 40px 15px;
                margin: 0 -15px;
            }
        }
        &.bg-blue {
            .inner-section {
                background: $primary;
            }
        }
        &.bg-gray {
            .inner-section {
                background: $lightgray;
            }
        }
        &.bg-custom {
            .inner-section {
                background: var(--section-bg, none);
                background-repeat: no-repeat !important;
                background-position: top center !important;
                background-size: cover !important;
            }
        }
        &.pt-0 {
            .inner-section {
                padding-top: 0;
            }
        }
        &.pb-0 {
            .inner-section {
                padding-top: 0;
            }
        }
    }
    &.section-title-center {
        .section-title {
            text-align: center;
            margin: 0 auto 40px;
            @media (max-width: 992px) {
                margin: 0 auto 30px;
            }
        }
    }
    &.border-top-section {
        .inner-section {
            border-top: 1px solid $gray;
            padding-top: 50px;
            @media (max-width: 992px) {
                padding-top: 40px;
            }
        }
    }
}
.section-title {
    margin-bottom: 40px;
    @media (max-width: 992px) {
        margin-bottom: 30px;
    }
    .title {
        margin-bottom: 15px;
        color: $primary;
        &.font-light {
            font-weight: 300;
            text-transform: uppercase;
        }
    }
    .sort-info {
        font-size: 20px;
        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
}
.hero-section { 
    & > .container {
        @media (min-width: 576px) {
            .row {
                width: 100%;
            }
        }
    }
    .inner-section {
        padding: 0 50px;
        background: $white var(--header-bg, none);
        background-repeat: no-repeat !important;
        background-position: top center !important;
        background-size: cover !important; 
        min-height: 100vh;
        @include flexbox;
        @include align-items(flex-end);
        @media (max-width: 1200px) {
            padding: 0 25px;
        }
        @media (max-width: 767px) {
            padding: 100px 15px 0;
            margin: 0 -15px;
            min-height: auto;
        }
    }
    .hero-content-block {
        background-image: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(114, 148, 95, 1) 50%);
        padding: 200px 50px 50px;
        color: $white;          
        max-width: 480px;
        width: 100%;
        @media (max-width: 1200px) {
            padding: 150px 30px 30px;
        }
        @media (max-width: 767px) {
            padding: 100px 20px 20px;
        }
        .hero-title {  
            h1 {
                margin-bottom: 20px;
            }
            .sort-info {
                font-size: 24px;
                font-weight: 500;
                @media (max-width: 992px) {
                    font-size: 20px;
                }
                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }
        }
    }
}
.page-header {
    .inner-section {
        background: var(--page-header-bg, $white);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 50px 0;
        min-height: 500px;
        @include flexbox;
        @include align-items(flex-end);
        @media (max-width: 1200px) {
            padding: 100px 25px 0;
        }
        @media (max-width: 767px) {
            padding: 50px 15px 0;
            margin: 0 -15px;            
            min-height: 350px;
        }
        .page-info-block {
            background-image: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(114, 148, 95, 1) 80%);
            padding: 150px 50px 50px;
            max-width: 650px;
            @media (max-width: 1200px) {
                padding: 150px 30px 30px;
            }
            @media (max-width: 767px) {
                padding: 100px 20px 20px;
            }
        }
    }
    .page-title {
        h1 {
            color: $white;
        }
        .sort-info {
            font-size: 20px;
            color: $white;
            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
    }
}
.practice-card {
    height: 100%;
    @include flexbox;
    @include flex-direction(column);
    background: $white;
    @include box-shadow(0px 5px 5px 0px rgba(0, 0, 0, 0.2));
    padding: 25px;
    position: relative;
    @include transition(0.1s, ease-in-out);
    @media (max-width: 767px) {
        padding: 20px;
    }
    h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: uppercase;
        padding-right: 40px;
        @media (max-width: 767px) {
            font-size: 18px;
        }
        a {
            text-decoration: none;
            color: $primary;
            &::before {
                content: '';
                width: 15px;
                height: 15px;
                display: inline-block;
                background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" fill="white"/></svg>') no-repeat center center;
                background-size: 15px;
                position: absolute;
                top: 30px;
                right: 40px;
                @include transition(0.1s, ease-in-out);
                opacity: 0;
            }
        }
    }
    .sort-info {
        font-size: 16px;
        color: $primary;
        @include transition(0.1s, ease-in-out);
    }
    &:hover, &:focus {
        background: $primary;
        @include transform(translateY(-5px));
        h3 {
            a {
                color: $white;
                &::before {
                    right: 25px;
                    opacity: 1;
                }
            }
        }
        .sort-info {
            color: $white;
        }
    }
}
.customer-logo-block {
    .logo-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 50px 40px;
        @media (max-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 40px 30px;
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 767px) {
            grid-gap: 30px 20px;
        }
        .logo-item {
            @include flexbox;
            @include align-items(center);
            height: 100%;
            img {
                max-height: 75px;
                max-width: 250px;
                width: 100%;
            }
        }
        a.logo-item {
            &:hover, &:focus {
                @include transform(translateY(-5px) scale(1.05));
            }
        }
    }
}
.sidebar {
    max-width: 350px;
    margin-left: auto;
    @media (max-width: 767px) {
        max-width: 100%;
        margin: 30px 0 0;
    }
    .sidebar-content-block { 
        background: $white;
        @include box-shadow(0px 0px 15px 5px rgba(0, 0, 0, 0.05));
        padding: 25px;
        .sidebar-title {
            text-transform: uppercase;
            font-weight: 300;
            color: $primary;
            font-size: 24px;
            padding-bottom: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgba($gray, 0.3);
        }
        .nav-list {
            li {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                &.current_page_parent {
                    a {
                        color: $green;
                        text-decoration: underline;
                    }
                }
            }
            .nav-link {
                color: $bodyfontcolor;
                line-height: 1.3;
                font-size: 16px;
                text-underline-offset: 5px;
                &:hover, &:focus {
                    color: $green;
                }
            }
            &.attorneys-list {
                li {
                    @include flexbox;
                    @include align-items(center);
                    padding-bottom: 10px;
                    border-bottom: 1px solid rgba($gray, 0.1);
                    .icon-group {
                        line-height: 0.7;
                        margin-left: auto;
                        white-space: nowrap;
                        a {
                            line-height: 0.7;
                            display: inline-block;
                            margin-left: 5px;
                            &:hover, &:focus {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
    .sidebar-info {
        margin-top: 30px;
        .highlight-text {
            color: $primary;
            font-weight: 300;
            font-size: 24px;
        }
    }
}
.single-content-block {
    h2, h3 {
        text-transform: uppercase;
        font-weight: 300;
        color: $primary;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    ul {
        li {
            padding-left: 20px;
            position: relative;
            &::before {
                content: '';
                background: $green;
                width: 8px;
                height: 8px;
                @include border-radius(50%);
                display: inline-block;
                position: absolute;
                left: 0;
                top: 10px;
            }
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}
.attorney-card {
    @include flexbox;
    @include flex-direction(column);
    position: relative;
    text-align: center;
    background: $white;
    height: 100%;
    .card-img {
        position: relative;
        overflow: hidden;
        aspect-ratio: 3 / 4;
        max-height: 300px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: rgba(0, 0, 0, 0.4);
            opacity: 0;
            @include transition(0.3s, ease-in-out);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
            @include transition(0.3s, ease-in-out);
        }        
        .user-info-list {
            @include flexbox;
            @include flex-direction(column);
            gap: 8px;
            z-index: 9;
            position: absolute;
            bottom: 10px;
            right: -100px;
            @include transition(0.3s, ease-in-out);
            li {
                a {
                    width: 35px;
                    aspect-ratio: 1 / 1;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    background: $white;
                    border: 1px solid transparent;
                    &:hover, &:focus {
                        background: $primary;
                        .icon {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }
    }
    .card-body {
        padding: 20px;
        @media (max-width: 992px) {
            padding: 15px;
        }
        h3 {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 5px;
            @media (max-width: 992px) {
                font-size: 16px;
            }
            a {
                text-decoration: none;
            }
        }
        .designation {
            font-size: 15px;
            @media (max-width: 992px) {
                font-size: 13px;
            }
        }
    }
    &:hover, &:focus {
        .card-img {
            &::after {
                opacity: 1;
            }
            img {
                @include transform(scale(1.05))
            }
            .user-info-list {
                right: 10px;
            }
        }
    }
}