@import "../../assets/css/scss/mixins";

.info-list-cards {
    // &>[class^="col-"] {
    //     margin-bottom: 1rem;
    // }

    .info-list-card {
        @include flexbox;
        @include flex-direction(column);
        height: 100%;
        gap: 0.625rem;
        position: relative;
        @include transition(0.2s, ease-in-out);
        border: 1px solid transparent;

        .card-icon {
            max-width: 1.25rem;
            min-width: 1.25rem;
            line-height: 0.7;

            img {
                width: 100%;
                aspect-ratio: 1 / 1;
            }
        }

        .card-content {
            .card-title {
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 0.5rem;

                a {
                    color: var(--text-black);
                    text-decoration: none;
                    @include transition(0.2s, ease-in-out);
                }
            }

            .card-info {
                font-size: 0.875rem;
            }
        }

        &:has(a:hover),
        &:has(a:focus) {

            .card-title {
                a {
                    color: var(--blue);
                    text-decoration: underline;
                }
            }
        }

        &.with-bg {
            padding: 1.875rem;
            background-color: var(--lightblue);

            @media (max-width: 992px) {
                padding: 1.25rem;
            }
        }

        &.is-icon-left-card {
            @include flex-direction(row);

            @media (max-width: 767px) {
                gap: 0.75rem;
            }
        }

        &.is-center {
            text-align: center;
            @include align-items(center);
        }
    }
}