//instructor
.instructor-menu
  list-style: none
  margin: u(50 0)
  padding-left: 0
  text-align: center
  li
    display: inline-block
    padding: u(0 20)
    a
      border-radius: 100px
      display: inline-block
      font-size: u(18)
      font-weight: bold
      padding: u(10 20)
      text-decoration: none
      text-transform: uppercase
    &.active a
      border: 2px solid $primary

.instructor-info
  padding-bottom: u(50)
  text-align: center
  img
    text-align: center
  a
    text-decoration: none
    i
      font-size: u(25)
      position: relative
      top: u(7)
  .thumbnail-holder
    width: u(100)
    height: auto
    border-radius: 50% / 50%
    overflow: hidden
    margin: 0 auto

.instructor-holder
  .medium-3
    img
      padding: u(5 0)
