.cta-section {
    background: linear-gradient(94.49deg, #3A3435 27.87%, #FFC0CB 132.58%);
    .section-title {
        margin-bottom: 0;
        h2, h3 {
            color: #ffffff;
        }
        .sort-info {
            color: #ffffff;
            max-width: 570px;
            margin: 0 auto;
        }
    }
}