@import "../../assets/css/scss/mixins";

.image-content-section {
    .image-content-block {
        .media-block {
            margin-left: 0;
        }
        .flex-lg-row-reverse {
            .media-block {
                margin-left: auto;
            }
        }
    }
    .media-block {
        max-width: 535px;
        @media (max-width: 767px) {
            max-width: 100%;
        }
    }
    .section-title {
        margin-bottom: 0;
        @media (max-width: 992px) {
            margin-top: 30px;
        }
        .sort-info {
            .font-md {
                font-size: clamp(16px, 2vw, 18px);
            }
        }
    }
}