@import "../../assets/css/scss/mixins";

.image-content-section {
    .image-content-block {
        .media-block {
            margin-left: 0;
        }
        .flex-md-row-reverse {
            .media-block {
                margin-left: auto;
            }
        }
        .multiple-img-splide {
            max-width: 580px;
            &:has(.ratio-3x4) {
                max-width: 535px;
            }
            @media (max-width: 767px) {
                max-width: 100% !important;
            }
        }
    }
    .media-block {
        max-width: 580px;
        &:not(.ratio-1x1) {
            max-width: 535px;
        }
        @media (max-width: 767px) {
            max-width: 100% !important;
        }
    }
    .section-title {
        margin-bottom: 0;
        @media (max-width: 767px) {
            margin-top: 30px;
        }
        .sort-info {
            .font-md {
                font-size: clamp(16px, 2vw, 18px);
            }
        }
    }
    .history-list {
        margin-top: 30px;
        li {
            @include flexbox;
            @include align-items(flex-start);
            gap: 15px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            strong {
                font-weight: 700;
                font-size: 16px;
                color: var(--darkblue);
                min-width: 45px;
            }
        }
    }
}