@import "../../assets/css/scss/mixins";

.cta-section {
     @media (min-width: 1200px) {
       &.theme-section {
        padding-top: 100px;
        padding-bottom: 100px;
       } 
    }

    .cta-title {
        @include flexbox;
        @include align-items(center);
        gap: 20px;
        padding: 40px;
        background: var(--primary);
        border-radius: 24px;
        color: var(--white);
        &::before,&::after {
            content: none;
        }
        @media (max-width: 992px) {
            padding: 25px;
        }
        @media (max-width: 767px) {
            @include align-items(center);
            @include flex-direction(column);
            text-align: center;
        }
        .title,
         .soft-info {
            margin-bottom: 0;
            line-height: 1.3;
            letter-spacing: -0.02em;
            font-size: 36px;
            max-width: 730px;
            &.font-sm {
                font-size: 24px;
                font-weight: 500;
                @media (max-width: 767px) {
                 font-size: 22px;
                }
            }
            strong {
                font-weight: 600;
            }
            em {
                color: rgba(#ffffff, 0.6);
                font-family: var(--font-heading);
                font-weight: 300;
                letter-spacing: 0;
                display: block;
            }
            @media (max-width: 767px) {
                font-size: 20px;
            }
        }

        .sort-info {
            font-size: 30px;
            @media (max-width: 767px) {
                font-size: 18px;
            }

            em {
                color: rgba(#ffffff, 0.6);
                font-family: var(--font-heading);
                font-weight: 300;
                letter-spacing: 0;
                display: block;
                line-height: 1.3;
                font-size: 36px;

                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }

        .action {
            margin-left: auto;
            @include flexbox;
            @include align-items(center);
            gap: 12px;
            @media (max-width: 767px) {
                margin-left: 0;
                @include flex-wrap(wrap);
                .btn {
                    min-width: 175px;
                    gap: 10px;
                    .btn-text {
                        padding-left: 5px;
                        letter-spacing: -0.5px;
                    }
                }
            }
        }
    }

    .cta-title-block {
       @include flexbox;
       flex-direction: column; 
    }
    &.is-gradient-section {
        .cta-title {
            padding: 100px 50px;
            background: transparent;
            border: 1px solid #E5E5E5;
            overflow: hidden;
            z-index: 3;
            position: relative;
            overflow: hidden;
            @include border-radius(24px);
            @media (max-width: 1200px) {
                padding: 70px 50px 150px;
            }
            @media (max-width: 767px) {
                padding: 50px 40px 180px;
            }
            &::before {
                content: '';
                background: rgba(224, 30, 38, 0.3);
                filter: blur(125px);
                width: 300px;
                height: 300px;
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0;
                @media (max-width: 992px) {
                    width: 200px;
                    height: 200px;
                    filter: blur(70px);
                }
                @media (max-width: 767px) {
                    width: 100px;
                    height: 100px;
                    bottom: -9px;
                    left: -15px;
                    filter: blur(50px);
                }
            }
            &::after {
                content: '';
                background: rgba(35, 63, 97, 0.3);
                filter: blur(125px);
                width: 300px;
                height: 300px;
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                @media (max-width: 992px) {
                    width: 200px;
                    height: 200px;
                    filter: blur(70px);
                }
                @media (max-width: 767px) {
                    width: 100px;
                    height: 100px;
                    top: -9px;
                    right: -15px;
                    filter: blur(50px);
                }
            }
            .cta-img {
                position: absolute;
                bottom: 0;
                left: 30px;
                @media (max-width: 767px) {
                    left: 6px;
                }
                img {
                    max-height: 360px;
                    @media (max-width: 1400px) {
                        max-height: 250px;
                    }
                    @media (max-width: 1200px) {
                        max-height: 200px;
                    }
                    @media (max-width: 767px) {
                        max-height: 160px;
                    }
                }
            }
            .cta-info {
                text-align: center;
                max-width: 550px;
                margin: 0 auto;
                color: var(--black);
                .title {
                    margin-bottom: 20px;
                    em {
                        font-family: var(--font-heading);
                        color: var(--secondary);
                        font-style: italic;
                        font-weight: 400;
                        display: block;
                    }
                }
                .sort-info {
                    font-weight: 400;
                    font-size: 18px;
                    text-align: center;
                    color: #000000;
                }
                .action {
                    margin-top: 40px;
                    @include justify-content(center);
                }
            }
        }
    }
}