@import "../../assets/css/scss/mixins";

.image-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    gap: 1.25rem;
    position: relative;
    @include transition(0.2s, ease-in-out);

    .card-img {
        overflow: hidden;

        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            @include transition(0.2s, ease-in-out);
        }
    }

    .card-body {
        .card-title {
            font-size: 1.25rem;
            font-weight: 600;

            a {
                color: var(--text-black);
                text-decoration: none;
                @include transition(0.2s, ease-in-out);
            }
        }

        .card-info {
            font-size: 1rem;
        }
    }

    &:has(.stretched-link:hover),
    &:has(.stretched-link:focus) {
        .card-img {
            img {
                @include transform(scale(1.05));
            }
        }

        .card-title {
            a {
                color: var(--blue);
                text-decoration: underline;
            }
        }
    }
}