.frm-fluent-form {
    .ff-el-group {
        margin-bottom: 15px !important;
        &.ff_submit_btn_wrapper {
            margin-bottom: 0 !important;
            margin-top: 25px;
        }
        .ff-el-input--label {
            line-height: 1;             
            margin-bottom: 8px; 
            label {
                font-size: 14px;
                font-weight: 500;
                color: $black;
            }          
            &.ff-el-is-required {
                label::after {
                    color: #DF0A0A !important;
                }
            }
        }
        .ff-el-input--content {
            input, textarea, select {
                @include border-radius(6px);
                border: 1px solid #D4D4D8;
                background: $white;
                color: $black;
                font-size: 14px;
                font-weight: 400;
                height: 40px !important;
                line-height: 40px;
                padding: 0 15px;
                &::placeholder {
                    color: #D4D4D8;
                }
            }
            textarea {
                height: auto !important;
                line-height: normal;
                padding: 10px 15px;
            }
            .ff-el-form-check {
                width: auto;  
                font-size: 14px;   
                label {     
                    position: relative;  
                    input[type=checkbox] {
                        -webkit-appearance: none;
                        position: absolute;
                        width: 0;
                        left: 50px;
                        height: 0;
                        opacity: 0;
                    }
                    span {
                        position: relative;
                        padding-left: 30px;
                        @include flexbox;
                        &::before {
                            content: '';
                            border: 1px solid rgba($black, 0.2);
                            background-color: transparent !important;
                            width: 20px;
                            height: 20px;
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 1px;
                        }
                    }
                    input[type=checkbox]:checked ~ span::before {
                        border-color: $primary;
                        background-image: url('data:image/svg+xml,<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.06224 7.98832C4.66571 8.37577 4.00486 8.37577 3.60833 7.98832L0.436068 4.88889C0.0395397 4.50145 0.0395397 3.8557 0.436068 3.59741C0.832597 3.20996 1.49345 3.20996 1.88997 3.59741L4.40135 6.0511L5.06224 6.69684C5.32659 7.08428 5.32659 7.60088 5.06224 7.98832Z" fill="rgb(238 93 36)"/><path d="M11.2671 1.91849L5.05491 7.98872C4.65838 8.37616 3.9975 8.37616 3.73315 7.98872L3.07227 7.34297L4.52617 5.92222L9.94537 0.497737C10.3419 0.110292 11.0028 0.110292 11.2671 0.497737C11.6637 0.885182 11.6637 1.53105 11.2671 1.91849Z" fill="rgb(238 93 36)"/></svg>');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 12px;
                    }
                }
            }
            .choices__inner {
                @include border-radius(0);
                border-color: #C8D0D9;
                background: $white;
            }
        }
        &.ff-el-is-error {
            .error {
                color: #DF0A0A !important;
                font-weight: 600;
            }
        }
    }
    .ff-btn-submit[type=submit]  {
        min-height: 48px;
        padding: 5px 30px;
        font-weight: 500;
        font-size: 16px;
        @include transition(0.2s, ease-in-out);
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center);	
        @include border-radius(30px);
        background: $darkblack;
        border: 1px solid $darkblack;
        color: $white;
        text-decoration: none !important;
        gap: 10px;
        &::after {
            content: '';
            background: url('data:image/svg+xml,<svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.75 6.75H0.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.7501 12.75C14.7501 12.75 20.75 8.33112 20.75 6.75C20.75 5.16888 14.75 0.75 14.75 0.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
            background-size: contain !important;
            width: 20px;
            height: 12px;
            display: inline-block;
            @include transition(0.2s, ease-in-out);
        } 
        &.ff-btn-submit-md {
            height: 40px;
            min-height: 40px;
            padding: 0 20px;
            width: 100%; 
            font-size: 13px;
        }
        &:hover, &:focus, &:active {
            text-decoration: none;
            background: #34383b;
            border-color: #34383b;
            &::after {
                @include transform(translateX(5px));
            }
        } 
    }
}

.ff-message-success {
    border: 1px solid #8BC34A;
    background: #4CAF50;
    border-radius: 8px;
    text-align: center;
}
.form-content-block {
    h3 {
        font-weight: 500;
        font-size: 32px;
        color: $black;
        margin-bottom: 10px;
    }
    .sort-info {
        margin-bottom: 30px;
    }
}