@import "../../assets/css/scss/mixins";

.publication-card {
    position: relative;
    height: 100%;
    @include flexbox;
    @include flex-direction(column);
    @include border-radius(16px);
    background: #EEF0F3;
    border-color: transparent;
    &.is-power {
        background: #ffeded;
    }
    &.is-natural-gas {
        background: #F1FAFF;
    }
    &.is-coal {
        background: #FFF6F0;
    }
    &.is-renewable-energy {
        background: #ebf9f1;
    }
    &.is-environmental {
        background: #faf9f2;
    }
    .card-img {
        @include border-radius(16px 16px 0 0);
        overflow: hidden;
        max-height: 175px;
        img {
            @include transition(0.2s, ease-in-out);
        }
    }
    .card-body {
        padding: 20px;
        @include flexbox;
        @include flex-direction(column);
        .card-category {
            @include flexbox;
            @include justify-content(space-between);
            gap: 20px;
            margin-bottom: 15px;
            .energy-sector-labels {
                .label {
                    span[class^="icon-"] {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
            .time-period {
                padding: 4px 10px;
                background: rgba(0, 0, 0, 0.1);
                border-radius: 60px;
                font-weight: 500;
                font-size: 11px;
                color: var(--black);
                display: inline-block;
                height: max-content;
            }
        }
        .title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
            text-underline-offset: 4px;
            @include transition(0.2s, ease-in-out);
            a {
                color: var(--black);
                text-decoration: none;
            }
        }
        .card-info {
            font-size: 14px;
            flex: 1 1 auto;
        }
        .card-action {
            margin-top: 40px;
            .btn-link-arrow {
                color: var(--black);
                .arrow-icon {
                    filter: brightness(0);
                    &::before {
                        top: 0.5px;
                    }
                }
                &:hover, &:focus {
                    color: var(--primary);
                    .arrow-icon {
                        filter: unset;
                    }
                }
            }
        }
    }
    &:hover, &:focus {
        .card-img {
            img {
                transform: scale(1.03);
            }
        }
        .card-body {
            .title {
                color: var(--primary);
                text-decoration: underline;
            }
            .card-action {
                .btn-link-arrow {
                    color: var(--primary);
                    .arrow-icon {
                        filter: unset;
                    }
                }
            }
        }
    }
}

.relevant-publications-section {
    overflow: hidden;
    .relevant-publications-splide {
        padding-bottom: 70px;
        @media (max-width: 767px) {
            padding-bottom: 40px;
        }
        &.slider-disabled {
            .splide__list {
                @media (min-width: 1200px) {
                    @include justify-content(center);
                    margin: 0 -15px !important;
                    .splide__slide {
                        padding: 0 15px;
                    }
                }
            }
        }
        @media (max-width: 1200px) {
            .splide__slide {
                .publication-card {
                    max-width: 320px
                }
            }
            .splide__track {
                overflow: visible;
            }    
        }      
        .splide__pagination {
            bottom: 0px;
        }
    }
}