@import "../../assets/css/scss/mixins";

.content-section {
    .image-content-block {
        padding-top: 7.5rem;

        &:first-child {
            padding-top: 0;
        }

        @media (max-width: 1200px) {
            padding-top: 4.5rem;
        }

        @media (max-width: 767px) {
            padding-top: 3.125rem;
        }

        .media-block {
            @media (max-width: 767px) {
                margin-bottom: 2rem;
            }
        }

        .section-title {
            margin-bottom: 0;
        }
    }
}