@import "../../assets/css/scss/mixins";

.content-section {
    .image-content-block {
        padding-top: 7.5rem;

        &:first-child {
            padding-top: 0;
        }

        @media (max-width: 1200px) {
            padding-top: 4.5rem;
        }

        @media (max-width: 767px) {
            padding-top: 3.125rem;
        }

        .media-block {
            @media (max-width: 767px) {
                margin-bottom: 2rem;
            }
        }

        .image-splide {
            padding-bottom: 1rem;

            @media (max-width: 767px) {
                margin-bottom: 2rem;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -1rem;
                left: -1.875rem;
                width: 13.438rem;
                height: 10rem;
                background: var(--blue);
                z-index: -1;

                @media (max-width: 992px) {
                    bottom: -0.15rem;
                    right: -1rem;
                    width: 10rem;
                    height: 8rem;
                }
            }

            .splide__pagination {
                bottom: -1rem;
            }

            .splide__slide {

                .media-block {
                    margin-bottom: 0;

                    &::after {
                        content: none;
                    }

                    &.is-left-corner-mask {
                        img {
                            clip-path: polygon(0 15%, 15% 0, 100% 0, 100% 100%, 0 100%);
                        }
                    }

                    &.is-right-corner-mask {
                        img {
                            clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 0 100%);
                        }
                    }
                }
            }
        }

        &.right-img {
            .image-splide {
                &::after {
                    left: auto;
                    right: -1.875rem;

                    @media (max-width: 992px) {
                        right: -1rem;
                        width: 10rem;
                        height: 8rem;
                    }
                }
            }
        }

        .section-title {
            margin-bottom: 0;
        }
    }
}