@import "../../assets/css/scss/config";
@import "../../assets/css/scss/mixins";

.image-content-section {
    .image-content-block {
        &:not(:last-child) {
            padding-bottom: 150px;
        }
        & > .row {
            @media (min-width: 992px) {
                --bs-gutter-x: 50px;
            }
            @media (min-width: 1400px) {
                --bs-gutter-x: 110px;
            }
            @media (max-width: 992px) {
                --bs-gutter-x: 30px;
            }
        }
        .media-block {
            overflow: hidden;
            @include border-radius(16px);
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}