.categories-list-block {
    .category-list {
        &.grid-col-2 {
            column-count: 2;
            column-gap: 24px;
        }
    }
    .category-item {
        @include flexbox;
        @include align-items(center);
        text-decoration: none;
        width: 100%;
        margin-bottom: 1rem;
        position: relative;
        &::before  {
            content: '';
            width: 0;
            height: 100%;
            @include border-radius(7px);
            background: #F7F6FD;
            position: absolute;
            top: 0;
            left: 0;
            @include transition(0.3s, ease-in-out);
            z-index: -1;
        }
        .icon {
            width: 40px;
            height: 40px;
            flex: none;
            @include border-radius(7px);
            background: #F7F6FD;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            margin-right: 14px;
            img {
                max-width: 20px;
            }
        }
        .category-content {
            .title {
                font-size: 14px;
                font-weight: 500;
                color: $black;
            }
        }
        .action {
            margin-left: auto;
            padding-right: 12px;
            @include transition(0.3s, ease-in-out);
        }
        &:hover, &:focus {
            &::before {
                width: 100%;
            }
            .action {
                @include transform(translateX(5px));
            }
        }
    }
}   