.main-footer {
    position: relative;
    ul {
        li {
            &:not(:last-child) {
                margin-bottom: 0.1875rem;
            }
            a { 
                position: relative;
                color: $white;
                text-decoration: none;
                font-size: 0.875rem;
                @include inline-flex;
                @include align-items(center);
                font-weight: 500;
                text-transform: unset;
                @include transition(0.3s, ease-in-out);
                @include border-radius(2rem);
                &:hover, &:focus, &:active {
                    color: $secondary;
                }
            }
            &.current-menu-item {
                a {
                    color: $secondary;
                    &:not(.btn)::before {
                        width: 50%;
                    }
                }
            }
            &.menu-title {
                & > span {
                    color: rgba($white, 0.6);
                    text-transform: uppercase;
                    margin-bottom: 0.875rem;
                    font-weight: 600;
                    font-size: 0.875rem;
                    display: block;
                }
                & > a {
                    color: rgba($white, 0.6);
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 0.875rem;
                    &:hover, &:focus, &:active {
                        color: $secondary;
                    }
                }
            }
            &.menu-item-has-children {
                .sub-menu {
                    @media (max-width: 767px) {
                        column-count: 3;
                        gap: 0 1.2rem;
                    }
                    @media (max-width: 575px) {
                        column-count: 2;
                    }
                    &.grid-col-2 {
                        column-count: 2;
                        gap: 0 3rem;
                        @media (max-width: 1200px) {
                            gap: 0 1.2rem;
                        }
                        @media (max-width: 767px) {
                            column-count: 3;
                        }
                        @media (max-width: 575px) {
                            column-count: 2;
                        }
                    }
                }
            }
        }
    }
    .main-menu-contain-block {
        background-color: $black;
        color: $white;
    }
    .main-menu {
        display: grid;
        grid-template-columns: 20.625rem auto;
        grid-gap: 6.25rem;
        @media (max-width: 1200px) {            
            grid-template-columns: 15.50rem auto;
            grid-gap: 3.5rem;
        }
        @media (max-width: 992px) {            
            grid-template-columns: 1fr;
        }
        & > .container {
            width: 100%;
        }
        .footer-info-block {
            padding: 3rem 0;
            position: relative;
            @include flexbox;
            @include flex-direction(column);
            @media (max-width: 992px) {
                padding-bottom: 0;
            }
            &::before {
                content: '';
                width: 0.0625rem;
                height: 100%;
                background-color: rgba(#D4D6E5, 0.4);
                display: block;
                position: absolute;
                top: 0;
                right: -3.125rem;
                @media (max-width: 1200px) {
                    right: -1.75rem;
                }
                @media (max-width: 992px) {
                    right: 0;
                    top: auto;
                    bottom: -1.75rem;
                    width: 100%;
                    height: 0.0625rem;
                }
            }
            .footer-logo {
                margin-bottom: 1.5rem;
                display: inline-block;
            }
            .sort-info {
                font-size: 0.875rem;
                margin-bottom: 1.5rem;
                flex: 1 1 auto;
            }
            .icon-menu-list {
                margin-left: -0.625rem;
                li {
                    a {
                        padding: 0.3125rem 0.75rem;
                        .icon {
                            margin-right: 0.625rem;
                            width: 0.875rem;
                            height: 0.875rem;
                            display: inline-block;
                            line-height: 0.7;
                            svg {
                                width: 100%;
                                height: 100%;
                                path {
                                    @include transition(0.3s, ease-in-out);
                                }
                            }
                        }
                        &:hover, &:focus, &:active {
                            background: rgba($white, 0.25);
                            .icon {
                                svg {
                                    path {
                                        fill: $secondary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer-menu-block {
            @include flexbox;
            @include justify-content(space-between);
            gap: 2rem;
            padding: 3rem 0;
            @media (max-width: 1200px) {
                gap: 1.2rem;
            }
            @media (max-width: 992px) {
                padding-top: 0;
            }
            @media (max-width: 767px) {
                @include flex-direction(column);
            }
            .footer-menu {
                &.with-icon-menu {
                    ul {
                        li {
                            a {     
                                position: relative;      
                                overflow: hidden;  
                                @include border-radius(0);               
                                .icon {
                                    width: 20px;
                                    height: 20px;
                                    flex: none;
                                    @include inline-flex;
                                    @include align-items(center);
                                    @include justify-content(center);
                                    @include transition(0.3s, ease-in-out);
                                    margin-left: -28px;
                                    margin-right: 8px;
                                    img {
                                        width: 20px;
                                        height: 20px;
                                    }   
                                }  
                                &:hover, &:focus, &:active {
                                    .icon {                                       
                                        margin-left: 0px;
                                    }
                                }         
                            }
                        }
                    }
                }
            }
        }
    }
    .contact-info-block {
        border-bottom: 0.0625rem solid #D4D6E5;
        padding: 1.75rem 0;
        & > .container { 
            @include flexbox;
            @include align-items(center);
            @media (max-width: 767px) {
                @include flex-direction(column);
                @include align-items(flex-start);
            }
        }
        .contact-menu-list {
            @include flexbox;
            @include align-items(center);
            gap: 6.25rem;
            @media (max-width: 1200px) {            
                gap: 2rem;
            }
            @media (max-width: 767px) {
                @include flex-wrap(wrap);
                gap: 1rem;
            }
            li {
                margin-bottom: 0;
                color: $black;
                font-weight: 400;
                font-size: 0.875rem;
                span {
                    display: block;
                    font-size: 0.75rem;
                    font-weight: 600;
                    margin-bottom: 0.3125rem;
                    text-transform: uppercase;
                    line-height: 1;
                }
                .info {
                    padding: 0.1875rem 0;
                }
                a.info {
                    color: $black;
                    font-weight: 400;
                    padding: 0.1875rem 0.75rem;
                    margin-left: -0.75rem;
                    &:hover, &:focus, &:active {
                        color: $primary;
                        background: rgba($primary, 0.14)
                    }
                }
            }
        }
        .social-menu-block {
            @include flexbox;
            @include align-items(center);
            gap: 0.5rem;
            margin-left: auto;
            margin-right: -5px;
            @media (max-width: 767px) {
                margin-top: 1.5rem;
                margin-left: -5px;
               
            }
            li {
                margin-bottom: 0;
                a {
                    padding: 0.3125rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    @include border-radius(0.3125rem);
                    &::before {
                        content: none;
                    }
                    svg {
                        path {
                            @include transition(0.3s, ease-in-out);
                        }
                    }
                    &:hover, &:focus, &:active {
                        background: rgba($primary, 0.14);
                        svg {
                            path {
                                fill: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright-content-block {
        background: $white;
        position: relative;
        z-index: 2;
        padding: 1.25rem 0;
        & > .container { 
            @include flexbox;
            @include align-items(center);
            @media (max-width: 767px) {
                @include flex-direction(column);
                @include align-items(flex-start);
            }
        }
        .copyright-text {
            font-size: 0.75rem;
            @media (max-width: 767px) {
                order: 2;
                margin-top: 0.5rem;
            }
        }
        .footer-menu-inline {
            margin-left: auto;
            @include flexbox;
            @include align-items(center);
            gap: 0.75rem;
            @media (max-width: 767px) {
                margin-left: 0;
                order: 1;
            }
            li {
                margin-bottom: 0;
                a {
                    color: $black;
                    font-size: 0.75rem;
                    line-height: 1;                    
                    padding: 0.3125rem 0.75rem;
                    margin-right: -0.75rem;
                    &:hover, &:focus, &:active {
                        color: $primary;
                        background: rgba($primary, 0.14);
                    }
                }
            }
        }
    }
}