.main-footer {
    position: relative;    
    .container {
        @media (max-width: 767px) {
            max-width: 100%;
        }
    }
    ul {
        li {
            &:not(:last-child) {
                margin-bottom: 0.1875rem;
            }
            a { 
                position: relative;
                color: $white;
                text-decoration: none;
                font-size: 0.875rem;
                @include inline-flex;
                @include align-items(center);
                font-weight: 500;
                text-transform: unset;
                padding: 0.3125rem 0.625rem;
                @include transition(0.05s, ease-in-out);
                @include border-radius(2rem);
                line-height: 1.2;
                &:hover, &:focus, &:active {
                    background: rgba($white, 0.18);
                }
            }
            &.current-menu-item {
                a {
                    background: rgba($white, 0.18);
                }
            }
            &.menu-item-has-children {
                .sub-menu {
                    @media (max-width: 767px) {
                        column-count: 3;
                        gap: 0 1.2rem;
                    }
                    @media (max-width: 575px) {
                        column-count: 2;
                    }
                    &.grid-col-2 {
                        column-count: 2;
                        gap: 0 3rem;
                        @media (max-width: 1200px) {
                            gap: 0 1.2rem;
                        }
                        @media (max-width: 767px) {
                            column-count: 3;
                        }
                        @media (max-width: 575px) {
                            column-count: 2;
                        }
                    }
                }
            }
        }
    }
    .main-menu-contain-block {
        background-color: $black;
        color: $white;
    }
    .main-menu {
        display: grid;
        grid-template-columns: 20.625rem auto;
        grid-gap: 6.25rem;
        @media (max-width: 1200px) {            
            grid-template-columns: 15.50rem auto;
            grid-gap: 3.5rem;
        }
        @media (max-width: 992px) {            
            grid-template-columns: 1fr;
        }
        @media (max-width: 767px) {            
            grid-gap: 0;
        }
        .footer-info-block {
            padding: 3rem 0;
            position: relative;
            @include flexbox;
            @include flex-direction(column);
            @media (max-width: 992px) {
                padding-bottom: 0;
            }
            @media (max-width: 767px) {
                @include align-items(center);
                max-width: 31.25rem;
                margin: 0 auto;
            }
            &::before {
                content: '';
                width: 0.0625rem;
                height: 100%;
                background-color: rgba(#D4D6E5, 0.4);
                display: block;
                position: absolute;
                top: 0;
                right: -3.125rem;
                @media (max-width: 1200px) {
                    right: -1.75rem;
                }
                @media (max-width: 992px) {
                    right: 0;
                    top: auto;
                    bottom: -1.75rem;
                    width: 100%;
                    height: 0.0625rem;
                }
                @media (max-width: 767px) {
                    content: none;
                }
            }
            .footer-logo {
                margin-bottom: 1.5rem;
                display: inline-block;
            }
            .sort-info {
                font-size: 0.875rem;
                margin-bottom: 1.5rem;
                flex: 1 1 auto;
                @media (max-width: 992px) {
                    max-width: 31.25rem;
                }
                @media (max-width: 767px) {
                    text-align: center;
                    margin-bottom: 0;
                }
            }
            .icon-menu-list {
                margin-left: -0.625rem;
                @media (max-width: 767px) {
                    display: none;
                }
                li {
                    a {
                        padding: 0.3125rem 0.75rem;
                        .icon {
                            margin-right: 0.625rem;
                            width: 0.875rem;
                            height: 0.875rem;
                            display: inline-block;
                            line-height: 0.7;
                            svg {
                                width: 100%;
                                height: 100%;
                                path {
                                    @include transition(0.05s, ease-in-out);
                                }
                            }
                        }
                        &:hover, &:focus, &:active {
                            background: #3A3A3A;
                            color: $white;
                        }
                    }
                }
            }
        }
        .footer-menu-block {
            @include flexbox;
            @include justify-content(space-between);
            gap: 2rem;
            padding: 3rem 0;
            @media (max-width: 1200px) {
                gap: 1.2rem;
            }
            @media (max-width: 992px) {
                padding-top: 0;
            }
            @media (max-width: 767px) {
                @include flex-direction(column);
                gap: 0 1.2rem;
                padding-bottom: 0;
            }
            .footer-menu {
                @media (max-width: 767px) {
                    border-top: 0.0625rem solid rgba(#D4D6E5, 0.4);
                    margin: 0 -0.9375rem;
                    padding: 0 0.9375rem;
                    padding-top: 1.5rem;
                    margin-top: 1.5rem;
                }
                li {
                    a {                            
                        @include border-radius(0.25rem);  
                        padding: 0.25rem 0.45rem 0.20rem;   
                        margin-left: -0.45rem; 
                    }
                    &.menu-title {
                        @media (min-width: 767px) {
                            margin-bottom: 0.875rem;
                        }
                        & > span {
                            color: rgba($white, 0.6);
                            text-transform: uppercase;
                            margin-left: -0.45rem; 
                            font-weight: 600;
                            font-size: 0.875rem;
                            padding: 0.25rem 0.45rem 0.20rem;  
                            display: block;
                        }
                        & > a {
                            color: rgba($white, 0.6);
                            text-transform: uppercase;
                            font-weight: 600;
                            margin-left: -0.45rem; 
                            &:hover, &:focus, &:active {
                                color: $white;
                            }
                        }
                    }
                    &.menu-item-has-children {
                        position: relative;
                        .arrow {
                            @media (min-width: 767px) {
                                display: none;
                            }
                            background: url('data:image/svg+xml,<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.209209 0.708856C0.488155 0.430381 0.940416 0.430381 1.21936 0.708856L5 4.48311L8.78064 0.708856C9.05958 0.430381 9.51184 0.430381 9.79079 0.708856C10.0697 0.987331 10.0697 1.43883 9.79079 1.7173L5 6.5L0.209209 1.7173C-0.0697365 1.43883 -0.0697365 0.987331 0.209209 0.708856Z" fill="rgb(255 255 255)"/></svg>') no-repeat center calc(100% - 0.375rem);
                            background-size: 0.75rem;
                            width: 1.25rem;
                            height: 1.25rem;
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            top: 0.3125rem;
                            @include border-radius(0.25rem);
                            &.is-active {
                                @include transform(rotate(180deg));
                            }
                            &:hover, &:active {
                                background: #3A3A3A url('data:image/svg+xml,<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.209209 0.708856C0.488155 0.430381 0.940416 0.430381 1.21936 0.708856L5 4.48311L8.78064 0.708856C9.05958 0.430381 9.51184 0.430381 9.79079 0.708856C10.0697 0.987331 10.0697 1.43883 9.79079 1.7173L5 6.5L0.209209 1.7173C-0.0697365 1.43883 -0.0697365 0.987331 0.209209 0.708856Z" fill="rgb(255 255 255)"/></svg>') no-repeat center calc(100% - 0.375rem); 
                            }
                        }
                        .sub-menu {
                            @media (max-width: 767px) {
                                margin-top: 0.875rem;
                                min-width: 100%;
                                display: none;
                            }
                        }
                    }
                }
                &.with-icon-menu {
                    ul {
                        li {
                            a {     
                                position: relative;      
                                overflow: hidden;   
                                padding: 0.25rem 0.35rem;  
                                margin-left: -0.35rem; 
                                @include transition(0.2s, ease-in-out);                
                                .icon {
                                    width: 1.25rem;
                                    height: 1.25rem;
                                    flex: none;
                                    @include inline-flex;
                                    @include align-items(center);
                                    @include justify-content(center);
                                    @include transition(0.2s, ease-in-out);
                                    margin-left: -1.75rem;
                                    margin-right: 0.5rem;
                                    img {
                                        width: 1.25rem;
                                        height: 1.25rem;
                                    }   
                                }  
                                &:hover, &:focus, &:active {
                                    .icon {                                       
                                        margin-left: 0rem;
                                    }
                                }         
                            }
                        }
                    }
                }
                &.contact-info-menu {
                    padding-top: 0;
                    li {
                        border-top: 0.0625rem solid rgba(#D4D6E5, 0.4);
                        margin: 0 -0.9375rem;
                        padding: 0 0.9375rem;
                        padding-top: 1rem;
                        margin-top: 1rem;
                        &:first-child {
                            border-top: 0;
                            margin-top: 0;
                        }
                        &:last-child {                           
                            padding-bottom: 1rem;
                        }
                        a {
                            color: #949494;
                            .icon {
                                margin-right: 0.625rem;
                                svg {
                                    width: 1rem;
                                    height: 1rem;
                                    path {
                                        fill: #949494;
                                    }
                                }
                            }
                            &:hover, &:focus, &:active {
                                color: $white;
                                background: transparent;
                                .icon {
                                    svg {
                                        path {
                                            fill: $white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .contact-info-block {
        border-bottom: 0.0625rem solid #D4D6E5;
        padding: 1.75rem 0;
        & > .container { 
            @include flexbox;
            @include align-items(center);
            @media (max-width: 767px) {
                @include flex-direction(column);
                @include align-items(flex-start);
            }
        }
        .contact-menu-list {
            @include flexbox;
            @include align-items(center);
            gap: 6.25rem;
            @media (max-width: 1200px) {            
                gap: 2rem;
            }
            @media (max-width: 767px) {
                @include flex-wrap(wrap);
                gap: 1rem;
            }
            li {
                margin-bottom: 0;
                color: $black;
                font-weight: 400;
                font-size: 0.875rem;
                span {
                    display: block;
                    font-size: 0.75rem;
                    font-weight: 600;
                    margin-bottom: 0.3125rem;
                    text-transform: uppercase;
                    line-height: 1;
                }
                .info {
                    padding: 0.1875rem 0;
                }
                a.info {
                    color: $black;
                    font-weight: 400;
                    padding: 0.1875rem 0.75rem;
                    margin-left: -0.75rem;
                    &:hover, &:focus, &:active {
                        background: #F7F6FD;
                    }
                }
            }
        }
        .social-menu-block {
            @include flexbox;
            @include align-items(center);
            gap: 0.5rem;
            margin-left: auto;
            margin-right: -0.3125rem;
            @media (max-width: 767px) {
                margin-top: 1.5rem;
                margin-left: -0.3125rem;
               
            }
            li {
                margin-bottom: 0;
                a {
                    padding: 0.3125rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    @include border-radius(0.3125rem);
                    &::before {
                        content: none;
                    }
                    svg {
                        path {
                            @include transition(0.05s, ease-in-out);
                        }
                    }
                    &:hover, &:focus, &:active {
                        background: #F7F6FD;
                    }
                }
            }
        }
    }
    .copyright-content-block {
        background: $white;
        position: relative;
        z-index: 2;
        padding: 1.25rem 0;
        & > .container { 
            @include flexbox;
            @include align-items(center);
            @media (max-width: 767px) {
                @include flex-direction(column);
                @include align-items(flex-start);
            }
        }
        .copyright-text {
            font-size: 0.75rem;
            @media (max-width: 767px) {
                order: 2;
                margin-top: 0.5rem;
            }
        }
        .footer-menu-inline {
            margin-left: auto;
            @include flexbox;
            @include align-items(center);
            gap: 0.75rem;
            @media (max-width: 767px) {
                margin-left: -0.75rem;
                order: 1;
            }
            li {
                margin-bottom: 0;
                a {
                    color: $black;
                    font-size: 0.75rem;
                    line-height: 1;                    
                    padding: 0.3125rem 0.75rem;
                    margin-right: -0.75rem;
                    &:hover, &:focus, &:active {
                        background: #F7F6FD;
                    }
                }
            }
        }
    }
}