.main-header {  
    border-bottom: 0.0625rem solid #E2E5EE; 
    z-index: 4;
    position: relative;  
    &.fixed-header {
        position: sticky;
        top: 0;
        .header-top {
            height: 0;
            display: none;
        }
    }
    .navbar {
        padding: 0;
        .container {
            @include flexbox;
            @include align-items(center);
        }
        ul {                
            @include flexbox;
            @include align-items(center);
            li {                
                a {
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: $black;
                    text-decoration: none;
                    position: relative;
                    padding: 0.5rem 1rem;
                    @include transition(0.05s, ease-in-out);
                    @include border-radius(1.88rem);
                    @include inline-flex;
                    @include align-items(center);
                    @media (max-width: 992px) {
                        font-size: 0.81rem;
                    }
                    &.with-icon {
                        .icon {
                            margin-right: 0.5rem;
                            width: 0.75rem;
                            height: 0.75rem;
                            display: inline-block;
                            line-height: 0.7;
                            svg {
                                width: 100%;
                                height: 100%;
                                path {
                                    @include transition(0.05s, ease-in-out);
                                }
                            }
                        }
                    }
                }
                &:hover, &:focus, &.current-menu-item {
                    & > a {
                        background: #F7F6FD; 
                    }
                }
                &.menu-item-has-children {
                    & > a {
                        @include flexbox;
                        @include align-items(center);
                        @media (min-width: 992px) {
                            &::after {
                                content: '';
                                background: url('data:image/svg+xml,<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.209209 0.708856C0.488155 0.430381 0.940416 0.430381 1.21936 0.708856L5 4.48311L8.78064 0.708856C9.05958 0.430381 9.51184 0.430381 9.79079 0.708856C10.0697 0.987331 10.0697 1.43883 9.79079 1.7173L5 6.5L0.209209 1.7173C-0.0697365 1.43883 -0.0697365 0.987331 0.209209 0.708856Z" fill="rgb(0 0 0)"/></svg>') no-repeat center center;
                                width: 0.625rem;
                                height: 0.425rem;
                                line-height: 0.7;
                                margin-left: 0.3125rem;
                                margin-top: 0.0625rem;
                                @include transition(0.05s, ease-in-out);
                            }
                        }
                    }
                    .arrow {
                        @media (min-width: 767px) {
                            display: none;
                        }
                       
                    }
                    .sub-menu {
                        @media (min-width: 992px) {  
                            position: absolute;
                            top: 0.5rem;
                            display: block;
                            min-width: 13.75rem;
                            padding: 0.625rem;
                            margin-top: 0.94rem;
                            opacity: 0;
                            pointer-events: none;
                            background: $white;
                            border: 0.0625rem solid #D4D6E5;
                            @include transition(0.05s, ease-in-out);
                            @include transform(rotateX(-20deg) translate3d(0, 2.25rem, 0));
                            transform-origin: 50% 0;
                            will-change: transform;
                            @include border-radius(0);
                            z-index: 9;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 1.5625rem;
                                background: transparent;
                                display: block;
                                position: absolute;
                                top: -1.5625rem;
                                left: 0;
                            }
                        }
                        li {
                            a {
                                display: block;
                                font-weight: 500;
                                padding: 0.5rem 0.9375rem;
                                @include border-radius(0);
                            }
                            &:hover, &:focus {
                                & > a {
                                    background: #F7F6FD;
                                }
                            }
                        }
                    }
                    &:hover, &:focus {
                        & > a {
                            @media (min-width: 992px) {
                                &::after {
                                    background: url('data:image/svg+xml,<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.209209 0.708856C0.488155 0.430381 0.940416 0.430381 1.21936 0.708856L5 4.48311L8.78064 0.708856C9.05958 0.430381 9.51184 0.430381 9.79079 0.708856C10.0697 0.987331 10.0697 1.43883 9.79079 1.7173L5 6.5L0.209209 1.7173C-0.0697365 1.43883 -0.0697365 0.987331 0.209209 0.708856Z" fill="rgb(42 57 109)"/></svg>') no-repeat center center;
                                    @include transform(rotate(180deg));
                                }
                            }
                        }
                        .sub-menu {
                            @media (min-width: 992px) {                        
                                opacity: 1;
                                pointer-events: auto;
                                visibility: visible;
                                @include transform(rotateX(0deg) translate3d(0, 3.4rem, 0.31rem));
                            }
                        }
                    }
                }
            }
        }
    }
    .header-top {
        border-bottom: 0.0625rem solid #D4D6E5;
        @include flexbox;
        @include align-items(center);
        width: 100%;
        padding: 0.625rem 0;
        @media (max-width: 992px) {
            display: none;
        }
        .info-menu {           
            ul {
                @media (max-width: 767px) {
                    gap: 0.5rem;
                }
                li {
                    a {
                        font-size: 0.813rem;
                        text-transform: uppercase;
                        background: #F7F6FD;
                        &:hover, &:focus, &:active {
                            background: #EEEDF4;
                        }
                    }
                }
            }
        }
        .top-right-menu {
            margin-left: auto;
            ul {
                li {
                    &:last-child {
                        padding-right: 0;
                    }
                    a {
                        font-weight: 500;
                        font-size: 0.81rem;
                        &.btn {
                            min-height: 2.25rem;
                            font-size: 0.75rem;
                            min-width: auto;
                            text-transform: uppercase;
                            margin-left: 0.9375rem;
                        }
                    }
                }
            }
        }
    }
    .header-main-menu {
        width: 100%;
        padding: 0.5rem 0;  
        position: sticky;
        top: 0;
        left: 0;     
        .logo-block {
            .navbar-brand {
                margin-right: 1.875rem;
            }
        }
        .main-menu {
            margin-left: auto;
            margin-right: -1rem;
            @media (max-width: 992px) {
                display: none;
            }
        }
        .sidebar-toggler {
            @media (min-width: 1200px) {
                display: none;
            }
            border: none;
            background: #F7F6FD;
            width: 2.25rem;
            height: 2.25rem;
            margin-left: auto;
            padding: 0;
            @include border-radius(0.1875rem);
            span {
                width: 1rem;
                height: 0.125rem;
                background: $black;
                display: block;
                margin: 0.1875rem auto;
            }
        }
        .right-menu {
            @media (min-width: 992px) {
                display: none;
            }
            @include flexbox;
            @include align-items(center);
            margin-left: auto;
            .btn {
                min-width: unset;
                width: 2.25rem;
                height: 2.25rem;
                flex: none;
                padding: 0;
                margin-right: 0.625rem;
                .icon {
                    margin-right: 0;
                }
            }
        }
    }
    &.fixed-header {
        .header-main-menu {
            z-index: 9;
            width: 100%;
            background: $white;
        }
    }
}