.hero-header {
    position: relative;
    padding: 6.25rem 0;
    &::before {
        content: '';
        height: 100%;
        width: 20%;
        position: absolute;
        top: 0;
        right: 6vw;
        background: $primary;
        display: block;
    }
    .hero-splide {
        .icw-pagination {
            bottom: -50px;
        }
    }
    .section-title {

    }
    .media-block {
    }
}