.hero-header {
    position: relative;
    background: $black;
    & > .container {
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }
    .section-title {
        padding-top: 9.38rem;
        padding-bottom: 9.38rem;
        max-width: 600px;
        @media (max-width: 992px) { 
            padding: 3.13rem 15px 4.375rem;
        }
        .tag-line {
            color: $yellow;
        }
        .sort-info {
            font-size: 1.125rem;
            @media (max-width: 767px) {
                font-size: 1rem;
            }
        }
        .info-list-card {
            margin-bottom: 0.5rem;
            &.icon-left-card .card-icon img {
                max-width: 0.875rem;
                min-width: 0.875rem;
            }
        }
    }
    .media-block {
        margin-bottom: 0;
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .hero-content-splide {      
        @media (max-width: 992px) { 
            max-width: 720px;
            margin: 0 auto;
        }
        @media (max-width: 767px) {           
            max-width: 540px;
        }
        .icw-pagination {
            @include flex-direction(row);
            bottom: 1.75rem;
            top: auto;
            right: auto;
            @media (max-width: 992px) {
                left: 15px;
            }
        }
        .splide__slide {
            padding-left: 5px;  
            .section-title {
                opacity: 0;
                @include transform(translateY(-2rem));
                transition: opacity 0.3s ease-in-out 0.3s, transform 0.3s ease-in-out;
                will-change: transform;
            }
            &.is-active {
                .section-title {
                    opacity: 1;
                    @include transform(translateY(0));
                }
            }
        }
    }
    .hero-image-splide {
        width: calc(50vw - 1.5rem);
        height: 100%;
        @media (max-width: 992px) { 
            width: fit-content;
            margin-left: -15px;
            margin-right: -15px;
        }
        .splide__track {
            height: inherit;
        }
        .icw-pagination {
            bottom: 18px;
        }
    }
}