.trusted-partner-logo-block {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid #D4D6E5;
    border-bottom: 0;
    border-right: 0;
    overflow: hidden;
    @media (max-width: 1200px) {
        grid-template-columns: repeat(8, 1fr);
    }
    @media (max-width: 992px) {
        grid-template-columns: repeat(6, 1fr);
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
    }
    .logo-item {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        border-right: 1px solid #D4D6E5;
        border-bottom: 1px solid #D4D6E5;
        margin: 0 -1px;
        padding: 15px 20px;
        max-height: 100px;
        min-height: 100px;
        @media (max-width: 767px) {
            padding: 10px 15px;
            max-height: 80px;
            min-height: 80px;
        }
    }
}
.trusted-logo-section {
    .full-content-block {
        @media (max-width: 992px) {
            padding: 0 15px;
        }
    }
    .action {
        padding-top: 75px;
        text-align: center;
        @media (max-width: 1200px) { 
            padding-top: 50px;
        }
    }
}