.trusted-partner-logo-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-left: 0.0625rem solid #F2F2F2;
    border-right: 0.0625rem solid #F2F2F2;
    @media (max-width: 992px) {
        border-top: 0.0625rem solid #F2F2F2;
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
    }
    .logo-item {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        border-right: 0.0625rem solid #F2F2F2;
        border-bottom: 0.0625rem solid #F2F2F2;
        margin: 0 -0.0625rem;
        padding: 0.9375rem 1.25rem;
        max-height: 6.25rem;
        min-height: 6.25rem;
        @media (max-width: 767px) {
            padding: 0.625rem 0.9375rem;
            max-height: 5rem;
            min-height: 5rem;
        }
    }
}