.upcoming-classes-card {
    border: none;
    @include border-radius(0);
    position: relative;
    height: 100%;
    @include flexbox;
    @include flex-direction(column);
    border: 1px solid #D4D6E5;
    border-right: 0;
    @media (max-width: 992px) {
        border: 1px solid #D4D6E5;
        border-top: none;
    }
    .card-img {
        overflow: hidden;
        line-height: 0.7;
        position: relative;
        & > img {
            aspect-ratio: 21 / 9;
            object-fit: cover;
            object-position: center;
            @include transition(0.3s, ease-in-out);
        }
        .class-icon {
            display: block;            
            img {               
                width: 40px;
                height: 40px;
                flex: none;
                position: absolute;
                bottom: 1rem;
                right: 1rem;
            }
        }
    }
    .card-body {
        padding: 1.5rem;
        flex: 1 1 auto;
        @media (max-width: 992px) {
            padding: 0.9375rem;
        }
        .card-title {
            font-size: 1.125rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
            @media (max-width: 992px) {
                font-size: 1rem;
            }
            a {
                text-decoration: none;
                @include transition(0.3s, ease-in-out);
                color: $black;
                background-image: linear-gradient(to right, $primary 0%, $primary 100%);
                background-position: 0 100%;
                background-repeat: no-repeat;
                background-size: 0 1px;
            }
        }
        .card-text {
            font-size: 0.75rem;
            strong {
                color: $primary;
            }
        }
    }
    .card-action {
        padding: 0 1.5rem 1.5rem;
        overflow: hidden;
        .fees-info {
            @include flexbox;
            @include align-items(center);
            gap: 4px;
            font-size: 0.875rem;
            font-weight: 500;
            span {
                display: inline-block;
            }
            .price {
                font-size: 0.75rem;
                font-weight: 600;
                margin-top: 3px;
                .icon {
                    margin-left: 5px;
                }
            }
        }
        
    }
    &:hover, &:focus {
        .card-img {
            & > img {
                @include transform(scale(1.03));
            }
        }
        .card-body {
            .card-title {
                a {
                    color: $primary;
                    background-size: 100% 1px;
                }
            }
        }
    }
}