@import "../../assets/css/scss/mixins";

.counter-section {
    .energy-sector-labels {
        margin-bottom: 50px;
        @include justify-content(center);
        gap: 30px;
        @media (max-width: 992px) {
            gap: 20px;
        }
        .label {
            font-size: 18px;
            font-weight: 500;
            @media (max-width: 992px) {
                font-size: 16px;
                gap: 5px;
                span[class^="icon-"] {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
    .counter-card {
        @include flexbox;
        @include flex-direction(column);
        height: 100%;
        border-left: 4px solid #E01E26;
        padding: 0 30px;
        text-align: left;
        @media (max-width: 1200px) {
            padding: 0 20px;
        }
        .card-body {
            .counter {
                font-weight: 600;
                font-size: clamp(24px, 3vw, 40px);
                color: #000000;
                margin-bottom: 15px;
            }
            .card-info {
                font-weight: 400;
                font-size: 16px;
                color: #000000;
            }
        }
    }
}