@import "../../assets/css/scss/mixins";

.image-content-section {
    .image-content-block {
        &:not(:last-child) {
            padding-bottom: 150px;
            @media (max-width: 1200px) {
                padding-bottom: 90px;
            }
            @media (max-width: 992px) {
                padding-bottom: 70px;
            }
            @media (max-width: 767px) {
                padding-bottom: 60px;
            }
        }
        & > .row {
            @media (min-width: 992px) {
                --bs-gutter-x: 50px;
            }
            @media (min-width: 1400px) {
                --bs-gutter-x: 70px;
            }
            @media (max-width: 992px) {
                --bs-gutter-x: 30px;
                @include flex-direction(column-reverse);
            }
            &.flex-lg-row-reverse {
                .media-block {
                    margin-left: 0;
                }
            }
        }
        &.is-sticky {
            .media-block {
                position: sticky;
                top: 120px;
            }
            .section-title { 
                position: sticky;
                top: 120px;
            }
        }
        .media-block {
            overflow: hidden;
            @include border-radius(16px);
            max-width: 600px;
            margin-left: auto;
            @media (max-width: 992px) {
                margin-bottom: 30px;
            }
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
        .section-title {
            margin-bottom: 0;
            .sort-info {
                strong {
                    font-weight: 600;
                }
                ul {
                    list-style-type: none;
                    padding: 0 !important;
                    li {
                        list-style-type: none;
                        @include flexbox;
                        @include align-items(flex-start);
                        gap: 12px;
                        margin-bottom: 10px;
                        @media (max-width: 992px) {
                            gap: 8px;
                        }
                        &::before {
                            content: '';
                            background-image: url('../../assets/images/icons/icon-circle-check.svg');
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center center;
                            width: 20px;
                            height: 20px;
                            flex: none;
                            display: inline-block;
                            margin-top: 3px;
                            @media (max-width: 992px) {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                    &.is-power {
                        li {
                            &::before {
                                background-image: url('../../assets/images/icons/icon-circle-check-red.svg');
                            }
                        }
                    }
                    &.is-natural-gas {
                        li {
                            &::before {
                                background-image: url('../../assets/images/icons/icon-circle-check-skyblue.svg');
                            }
                        }
                    }
                    &.is-coal {
                        li {
                            &::before {
                                background-image: url('../../assets/images/icons/icon-circle-check-orange.svg');
                            }
                        }
                    }
                    &.is-renewable-energy {
                        li {
                            &::before {
                                background-image: url('../../assets/images/icons/icon-circle-check-green.svg');
                            }
                        }
                    }
                    &.is-environmental {
                        li {
                            &::before {
                                background-image: url('../../assets/images/icons/icon-circle-check-yellow.svg');
                            }
                        }
                    }
                }
            }
            .action {
                margin-top: 40px;
                @include justify-content(flex-start);
            }
        }
    }
}