@import "../../assets/css/scss/mixins";

.service-details-header {
    background-color: var(--bg-color);
    &::before, &::after {
        content: none;
    }
    .back-link-block {
        margin-bottom: 5px;
        @include inline-flex;
        @include align-items(center);
        gap: 12px;
        .label {
            height: 28px;
            font-size: 12px;
        }
        .back-link {
            background-color: rgba(#233F61, 0.1);
            @include inline-flex;
            @include justify-content(center);
            @include align-items(center);
            padding: 5px 15px;
            gap: 8px;
            height: 28px;
            border-radius: 50px;
            font-family: var(--font-heading1);
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            color: #233F61;
            text-decoration: none;
            @include transition(0.2s,ease-in-out);
            .icon-back-arrow {
                background: url('data:image/svg+xml,<svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.70703 0.5L0.707031 4.5L4.70703 8.5" stroke="rgb(35 63 97)" stroke-linecap="round"/></svg>') no-repeat center center;
                background-size: 8px;
                width: 8px;
                height: 8px;
                @include transition(0.2s,ease-in-out);
            }
            &:hover, &:focus {
                background-color: rgba(#233F61, 0.2);
                .icon-back-arrow {
                    @include transform(translateX(-5px));
                }
            }
        }
    }
    .section-title {
        text-align: left;
        h1 {
            em {
                display: inline-block;
            }
        }
        .sort-info {
            max-width: 650px;
            font-size: 16px;
        }
    }
}