.main-content-wrapper {
    min-height: 100vh;
    padding-top: 85px;
    @media (max-width: 992px) {
        padding-top: 75px;
    }
    @media (max-width: 767px) {
        padding-top: 65px;
    }
}
// Main Section CSS
.main-section {
    padding-top: 150px;
    padding-bottom: 150px;
    @media (max-width: 1200px) { 
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media (max-width: 767px) { 
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &.bg-none:not(.bg-custom) {
        background-image:none !important;
    }

    &.is-light {
        *:not(a, a > *) {
            color: #fff;
        }
		.section-title {
			*:not(a, a > *) {
				color: #fff;
			}
			a:not(.btn) {
				color: $primary;
				&:hover, &:focus {
					color: $black;
				}
			}
            h1, h2, h3 {
                color: $white;
            }
			.sort-info {
				color: $white !important;
			}
		}
		.text-color {
			color: $white !important;
		}
    }
    &.bg-custom {
		background-color:var(--gs-bg, #fff) !important;
	}
	
	&.is-custom {
        *:not(a) {
            color: var(--gs-text, #fff);
        }
		.section-title {
			*:not(a) {
				color: var(--gs-text, #fff);
			}
		}
    }
    &.section-title-mw-400 {
        .section-title {
            max-width: 400px;
        }
    }
    &.section-title-mw-500 {
        .section-title {
            max-width: 520px;
        }
    }
    &.section-title-mw-560 {
        .section-title {
            max-width: 560px;
        }
    }
    &.section-title-mw-600 {
        .section-title {
            max-width: 600px;
        }
    }
    &.section-title-mw-700 {
        .section-title {
            max-width: 700px;
        }
    }
    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
        }
    }
    &.section-title-mw-90 {
        .section-title {
            max-width: 90%;
        }
    }
}
.section-title {
   margin-bottom: 50px;
    @media (max-width: 992px) { 
        margin-bottom: 	32px;
    }
    &.text-center {
        margin: 0 auto 50px;
        @media (max-width: 992px) { 
            margin: 0 auto 	32px;
        }
        .action {
            @include justify-content(center);
        }
    }
    &.sticky-title {
        position: sticky;
        top: 150px;
    }
    &.d-flex {
        @include align-items(flex-start);
        gap: 70px;
        @media (max-width: 992px) { 
            @include flex-direction(column);
            gap: 20px;
        }
        & > * {
            flex: 1;
            margin-bottom: 0 !important;
        }
        h2 {
            margin-bottom: 0;
        }
        .sort-info {
            margin-top: 6px;
            p {
                max-width: 650px;
                @media (max-width: 992px) { 
                    max-width: 100%;
                }
            }
        }
    }
    .tag-line {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.08rem;
        color: $primary;
        margin-bottom: 8px;
    }

    h1, h2, h3 {
        margin-bottom: 15px;
        color: $primary;
    }
    .sort-info {
        h3 {
            font-family: $bodyfont;
            font-weight: 400;
        }
        h4 {
            margin-bottom: 15.008px;
            font-family: $bodyfont;
        }
        img {
            margin-top: 30px;
        }
        a {
            margin-bottom: 5px;
            display: inline-block;
        }
        ul {
            li {
                font-size: 16px;
                display: flex;
                align-items: flex-start;
                margin-bottom: 5px;
                color: rgba(#000000, 0.9);
                &::before {
                    content: '';
                    background: url('data:image/svg+xml; utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 8.25L6.25 11.5L12.75 5" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                    background-size: contain !important;
                    width: 16px;
                    height: 16px;
                    flex: none;
                    display: inline-block;
                    margin-top: 4px;
                    margin-right: 3px;
                }
            }
        }
    }
    .action {
        margin-top: 30px;
        @include flexbox;
        @include flex-wrap(wrap);
        gap: 15px;
        @media (max-width: 767px) { 
            margin-top: 20px;
        }
    }
}
.contact-link {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
    gap: 10px;
    font-size: 14px;
    color: rgba($white, 0.9);
    position: relative;
    padding-bottom: 2px;
    white-space: nowrap;
    text-decoration: none !important;
    &::before {
        content: '';
        position: absolute;
        bottom: 1px;
        right: 0;
        display: inline-block;
        background-color: rgba($white, 0.9);
        width: 0;
        height: 1px;
        transition: width 0.1s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
        will-change: transform;
    }
    .icw-icon-contact {
        width: 30px;
        height: 30px;
        flex: none;
        border: 1px solid rgba(#D4D4D8, 0.7);
        @include border-radius(50%);
        background: url(../images/icons/icon-phone.svg) no-repeat center center;
        background-size: 12px;
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center);
        @include transition(0.1s, ease-in-out);
    }
    small {
        font-weight: 600;
        color: $white;
        display: block;
        margin-bottom: 2px;
    }
    &:hover, &:focus, &:active {
        .icw-icon-contact {
            background: url(../images/icons/icon-flag.svg) no-repeat center center;
        }
        &::before {
            left: 40px;
            width: calc(100% - 40px);
        }
    }
    &.is-dark {
        color: $black;
        &::before {
            background-color: rgba($primary, 0.9);
        }
        .icw-icon-contact {
            border: 1px solid rgba($black, 0.7);
            background: url(../images/icons/icon-phone-black.svg) no-repeat center center;
        }
        small, span {
            color: $black;
        }
    }
}
.image-content-block {
    .splide__track {
        border-radius: 10px;
    }
    .image-block {
        @media (max-width: 767px) {
            margin-bottom: 10px;
        }
    }
}
.image-content-zigzag-section {
    .image-content-block {
        &:not(:first-child) {
            padding-top: 150px;
            @media (max-width: 992px) {
                padding-top: 80px;
            }
            @media (max-width: 767px) {
                padding-top: 60px;
            }
        }
    }
}