*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    -webkit-appearance: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--black);
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @media (max-width: 992px) {
        font-size: 14px;
    }
}

:focus {
    box-shadow: none !important;
}

body ::selection {
    color: var(--text-white);
    background: var(--black);
}

.clear {
    clear: both;
}

.tooltip {
    pointer-events: none !important;
    --bs-tooltip-bg: var(--primary);
    --bs-tooltip-opacity: 1;
    --bs-tooltip-max-width: 224px;
    --bs-tooltip-font-size: 12px;

    .tooltip-inner {
        text-align: center;
        font-weight: 500;
    }
}

.icw-tooltip {
    .tooltip-inner {
        font-size: 12px;
    }
}

.pointer-events-none {
    pointer-events: none !important;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    word-break: break-word;
    text-underline-offset: 4px;

    &:focus,
    &:hover {
        text-decoration: none;
    }

    &:focus-visible {
        outline: 2px solid var(--primary) !important;
        @include border-radius(4px);
    }
}

p {
    margin-top: 0;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: smooth;

    &.aligncenter {
        margin: 0 auto;
        display: table;
    }
}

.container {
    @media (max-width: 992px) {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

// Grid Gutter CSS
.g-15 {
    --bs-gutter-y: 30px;
    --bs-gutter-x: 30px;
}

.g-30 {
    --bs-gutter-x: 60px;

    @media (max-width: 992px) {
        --bs-gutter-x: 30px;
    }
}

.g-50 {
    @media (min-width: 992px) {
        --bs-gutter-x: 50px;
    }

    @media (min-width: 1400px) {
        --bs-gutter-x: 100px;
    }

    @media (max-width: 992px) {
        --bs-gutter-x: 30px;
    }
}

// Video & Image Background CSS
.media-bg-block {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--blue);
    z-index: -1;

    img,
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;

        &::-webkit-media-controls {
            display: none;
        }
    }
}

// Video Player CSS
.media-block {
    max-width: 100%;
    @include border-radius(16px);
    position: relative;
    overflow: hidden;
    line-height: 0.7;

    img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        &.mw-50 {
            @media (max-width: 992px) {
                max-width: 50%;
            }
        }
    }

    &.text-end {
        @media (max-width: 992px) {
            text-align: center !important;
        }
    }

    &.text-center {
        text-align: center;
    }
}

.glightbox {
    cursor: zoom-in;
    &:focus-visible {
        outline:none !important;
        border-radius: 0;
    }
}
.gslide-description {
    .gdesc-inner {
        padding: 5px 15px 15px;
    }
    .gslide-title {
        font-size: 12px;
        margin: 0 !important;
        font-weight: 600;
        color: var(--primary);
    }
}

// Heading CSS
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    line-height: 1.2;
    font-weight: 600;
    // font-family: var(--font-heading2);
}

h1,
.h1 {
    font-size: clamp(30px, 5vw, 56px);
}

h2,
.h2 {
    font-size: clamp(28px, 3vw, 46px);
    &.font-sm {
        font-size: clamp(22px, 3vw, 36px);
    }
}

h3,
.h3 {
    font-size: clamp(18px, 3vw, 24px);
}

h4,
.h4 {
    font-size: clamp(16px, 3vw, 20px);
}

h5,
.h5 {
    font-size: clamp(16px, 3vw, 18px);
}

// Text Color CSS
.text-white {
    color: var(--text-white) !important;
}

.text-black {
    color: var(--text-black) !important;
}
.text-primary {
    color: var(--primary) !important;
}


// Background Color CSS
.bg-white {
    background-color: var(--white) !important;
}

.bg-black {
    background-color: var(--dark-black-2) !important;

    &>* {
        color: var(--text-white) !important;
    }
}

.bg-gray {
    background-color: var(--gray) !important;
}

.bg-transprent {
    background-color: transparent !important;
    background-image: none !important;
}

.bg-custom {
    background: var(--bg-img, none);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

// Button CSS
.btn {
    height: 48px;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    border: none;
    overflow: hidden;
    @include transition(0.1s, ease-in-out);
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    @include border-radius(6px);
    padding: 0 25px;
    gap: 10px;
    white-space: nowrap;
    line-height: 1;
    letter-spacing: -0.01em;
    .icon {
        width: 22px;
        min-width: 22px;
        height: 22px;
        min-height: 22px;
        img {
            object-fit: contain;
            object-position: center;
        }
    }
    &.btn-md {
        height: 40px;
        padding: 0 15px;
    }
    &.btn-primary {
        color: var(--text-white) !important;
        background-color: var(--primary) !important;
        &:hover,
        &:focus {
            color: var(--white) !important;
            background-color: #041cb9 !important;
        }
        
    }
}

.splide__arrows {
    .splide__arrow {
        background: transparent;
        width: 40px;
        height: 40px;
        border: 1px solid #e5e5e5;
        opacity: 1;
        @include transition(0.2s, ease-in-out);
        top: auto;
        left: calc(50% - 48px);
        bottom: -65px;
        transform: scaleX(-1);
        z-index: 1;
        opacity: 1;
        overflow: hidden;
        &::before {
            content: '';
            width: 40px;
            height: 40px;
            display: inline-block;
            background: rgba(#e5e5e5, 0.5) url('data:image/svg+xml,<svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6H23M23 6L18 1M23 6L18 11" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
            background-size: 18px !important;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        &::after {
            content: '';
            width: 40px;
            height: 40px;
            display: inline-block;
            background-color: var(--primary);
            -webkit-transform: scale(0);
            transform: scale(0);
            will-change: transform;
            transform-origin: center;
            border-radius: 50%;
            transition: all .2s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        &.splide__arrow--next {
            transform: unset;
            left: auto;
            right: calc(50% - 48px)
        }
        &:hover,
        &:focus {
            opacity: 1;
            border-color: transparent;
            &::before {                
                background: rgba(#e5e5e5, 0) url('data:image/svg+xml,<svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6H23M23 6L18 1M23 6L18 11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
            }
            &::after {
                transform: scale(1);
            }
        }
        svg {
            display: none;
        }

        &:disabled {
            opacity: .3;
            pointer-events: none;
        }
    }
}

.splide__pagination {
    bottom: 50px;
    li {
        .splide__pagination__page {
            width: 10px;
            height: 10px;
            @include transform (unset);
            opacity: 1;
            background: var(--primary);
            border: 1px solid transparent;
            @include border-radius(0.5rem);
            margin: 0 0.15rem;
            @include transition(0.2s, ease-in-out);

            &.is-active {
                background: var(--white);
                border-color: var(--primary);
                width: 20px;
            }
        }
    }

    &.is-light {
        li {
            .splide__pagination__page {
                background: rgba(255, 255, 255, 0.4);

                &.is-active {
                    background: var(--white);
                    border-color: var(--white);
                }
            }
        }
    }
}