:root {
  --text-black: #000000;
  --text-white: #ffffff;

  --white: #ffffff;
  --black: #000000;
  --gray: #F7F7F7;

  --wp-green: #45D354;
  
  --font-heading: "Bricolage Grotesque", sans-serif;
  
}