.main-header {
    position: fixed;
    top: 0;
    background: linear-gradient(180deg, #000 10%, transparent 100%);
    z-index: 10;
    width: 100%;
    @media (max-width: 767px) {
        background: rgba(255, 255, 255, 1);
    }
    @media (max-width: 1200px) {
        &.is-visible  {
            // background: var(--black);
            .navbar {
                .navbar-collapse {
                    max-height: 100%;
                }
            }
        }
    }
    .navbar {
        padding: 15px 0;
        z-index: 11;
        @media (max-width: 767px) {
            padding: 10px 0;
        }
        .navbar-brand {
            padding: 0;
            margin-bottom: -40px;
            @media (max-width: 992px) {
                margin-bottom: -30px;
            }
            @media (max-width: 767px) {
                margin-bottom: 0px;
            }
            img {
                height: 90px;
                @include transition(0.2s, ease-in-out);
                @media (max-width: 992px) {
                    height: 70px;
                }
                @media (max-width: 767px) {
                    height: 50px;
                    min-width: 100px;
                }
            }
        }
        .navbar-collapse {
            @media (max-width: 767px) {
                position: fixed;
                top: 70px;
                left: 0;
                height: auto;
                max-height: 0;
                width: 100%;
                max-width: 100%;
                background: rgba(255, 255, 255, 1);
                @include flexbox;
                @include flex-direction(column);
                @include align-items(center);
                @include justify-content(center);
                transition: max-height 0.2s ease-in-out;
                box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.05);
                overflow: hidden;
                overflow-y: auto;
            }
        }
        .mainMenu {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            gap: 30px;
            width: 100%;
            @media (max-width: 767px) {
                padding: 20px 15px 30px;
                gap: 20px;
                @include align-items(flex-start);
            }
            & > li {
                line-height: 1;
                & > a {             
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--white);
                    text-decoration: none;
                    padding: 0;
                    @include inline-flex;
                    @include align-items(center);
                    line-height: 1;
                    @include transition(0.2s, ease-in-out);
                    @media (max-width: 767px) {
                        color: var(--black);
                        font-size: 16px;
                    }                    
                    &.active {               
                        text-decoration: underline;
                    }
                }
                &.menu-item-has-children {
                    position: relative;
                    &::after {
                        content: '';
                        width: 100%;
                        height: 32px;
                        position: absolute;
                        bottom: -32px;
                        left: 50%;
                        background: transparent;
                        z-index: 9;
                        display: inline-block;
                        transform: translateX(-50%);
                    }
                    & > a {
                        @media (min-width: 767px) {
                            &::after {
                                content: '';
                                background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m4 7 4 4 4-4"></path></svg>') no-repeat center center;
                                background-size: 14px;
                                width: 14px;
                                height: 8px;
                                display: inline-block;
                                line-height: 0.7;
                                margin-left: 4px;
                                @include transition(0.2s, ease-in-out);
                            }
                        } 
                    }
                    @media (max-width: 767px) { 
                        width: 100%;
                        .arrow {
                            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path stroke="rgb(0 0 0)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m4 7 4 4 4-4"></path></svg>') no-repeat center center;
                            background-size: 16px;
                            width: 20px;
                            height: 20px;
                            line-height: 0.7;
                            margin-left: auto;
                            @include transition(0.2s, ease-in-out);
                            display: block;
                            float: right;
                            &:hover, &:focus {
                                filter: invert(0);
                            }
                            &.is-active {
                                filter: invert(0);
                                @include transform(rotate(180deg));
                            }
                        }
                    }
                    .sub-menu {
                        @media (min-width: 767px) {
                            position: absolute;
                            top: calc(100% + 20px);
                            left: 50%;
                            display: block;
                            min-width: 300px;
                            padding: 10px;
                            opacity: 0;
                            pointer-events: none;
                            transform-origin: 50% 0;
                            transform: translate(-50%, 5px);
                            transition: all .2s ease-in-out;
                            border-radius: 10px;
                            z-index: 9;
                            border: 2px solid var(--white);
                            background: var(--black);
                            box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
                            &::before {
                                opacity: 0;
                                content: "";
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 8px 8px;
                                border-color: transparent transparent var(--black);
                                position: absolute;
                                top: -10px;
                                left: calc(50% - 8px);
                            }
                        }
                        @media (max-width: 767px) {
                            display: none;
                            padding: 10px 0 0;
                            width: 100%;
                        }
                        li {  
                            &:not(:last-child) {
                                margin-bottom: 3px;
                            }  
                            a {
                                color: var(--white);
                                font-size: 13px;
                                text-decoration: none;
                                line-height: 1.4;
                                padding: 10px;
                                @include flexbox;
                                @include align-items(center);
                                gap: 10px;
                                @include transition(0.1s, ease-in-out);
                                @include border-radius(10px);
                                @media (max-width: 767px) {
                                    color: var(--black);
                                }
                                .icon {
                                    width: 35px;
                                    @include border-radius(5px);
                                    display: inline-block;
                                    overflow: hidden;
                                }
                                &:hover, &:focus {
                                    background: rgba(255, 255, 255, 0.2);
                                    @media (max-width: 767px) {
                                        background: rgba(0, 0, 0, 0.08);
                                    }
                                }
                            }
                            &.current-menu-item {
                                & > a {                        
                                    background: rgba(255, 255, 255, 0.2);
                                    @media (max-width: 767px) {
                                        background: rgba(0, 0, 0, 0.08);
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover, &:focus {
                    & > a {                        
                        text-decoration: underline;
                    }
                    @media (min-width: 767px) {
                        &.menu-item-has-children {
                            & > a {
                                &::after {
                                    @include transform(rotate(180deg));
                                }
                            }
                            .sub-menu {
                                opacity: 1;
                                pointer-events: auto;
                                visibility: visible;
                                transform: translate(-50%, 0px);
                                &::before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                &.current-menu-item {
                    & > a {                        
                        text-decoration: underline;
                    }
                }
            }  
        }
        .nav-right {
            @include flexbox;
            @include align-items(center);
            position: relative;
            gap: 20px;
            margin-left: auto;
            .navbar-toggler {
                @media (min-width: 767px) {
                    display: none;
                }
                display: inline-block;
                cursor: pointer;
                border: none;
                padding: 0;
                background-color: transparent;
                z-index: 15;
                span {
                    width: 25px;
                    height: 2px;
                    margin: 5px 0;
                    background-color: var(--black);
                    @include border-radius(4px);
                    display: block;
                    @include transition(0.2s, ease-in-out);
                }

                &:hover,
                &:active,
                &:focus {
                    span {
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                &.is-visible {
                    span:nth-child(1) {
                        @include transform(rotate(-45deg) translate(-4px, 5px));
                    }

                    span:nth-child(2) {
                        @include opacity(0);
                        visibility: hidden;
                    }

                    span:nth-child(3) {
                        @include transform(rotate(45deg) translate(-4.5px, -6px));
                    }
                }
            }
            .nav-right-menu {
                .btn {
                    &.btn-white {
                        @media (max-width: 767px) {
                            background-color: var(--black) !important;
                            color: var(--white) !important;
                            .icon {
                                filter: brightness(0) invert(1);
                            }
                            &:hover,
                            &:active,
                            &:focus {
                                .icon {
                                    filter: unset;
                                }
                            }
                        }
                        @media (max-width: 575px) {
                            background-color: transparent !important;
                            padding: 0;
                            .icon {
                                filter: brightness(0);
                            }
                        }                        
                    }
                }
            } 
        }   
    }
}