.main-conten-wrapper {
    min-height: 100vh;
}
// Main Section CSS
.theme-section {
    padding: 100px 0;
    clear: both;
    content-visibility: auto;
    @media (max-width: 992px) {
        padding: 70px 0;
    }
    @media (max-width: 767px) {
        padding: 50px 0;
    }

    &.bg-none:not(.bg-custom) {
        background-image: none !important;
    }

    &.is-light {
        color: var(--text-black);

        .section-title {
            color: var(--text-black);
        }
    }

    &.is-dark {
        color: var(--text-white);

        a {
            color: var(--text-white) !important;

            &:hover,
            &:focus {
                opacity: 0.8 !important;
            }
        }

        .section-title {
            color: var(--text-white);
        }
    }

    &.bg-custom {
        background-color: var(--gs-bg, #fff) !important;
    }

    &.is-custom {
        *:not(a) {
            color: var(--gs-text, #fff);
        }

        .section-title {
            *:not(a) {
                color: var(--gs-text, #fff);
            }
        }
    }

    &.section-title-flex {
        .section-title {
            @include flexbox;
            @include align-items(flex-start);
            @include justify-content(space-between);
            gap: 50px;
            @media (max-width: 992px) {
                gap: 30px;
            }
            @media (max-width: 767px) {
                gap: 10px;
                @include flex-wrap(wrap);
            }
            .title {
                margin-bottom: 5px;
            }
            .left-block {
                max-width: 500px;
                min-width: 400px;
                @media (max-width: 992px) {
                    min-width: 280px;
                }
            }
            .right-block {
                max-width: 650px;
                margin-top: 5px;
            }
        }
    }
}
section[id] {
    scroll-margin-top: 200px;
    scroll-margin-bottom: 100px;
}

// Section Title CSS
.section-title {
    margin-bottom: 50px;

    @media (max-width: 992px) {
        margin-bottom: 30px;
    }

    &.text-center {
        margin: 0 auto 50px;
        text-align: center;

        @media (max-width: 992px) {
            margin: 0 auto 30px;
        }
    }

    &.sticky-title {
        position: sticky;
        top: 150px;
    }

    .tag-line {
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        display: inline-block;
        margin-bottom: 10px;
        color: var(--secondary);
    }

    h1,
    h2,
    h3 {
        margin-bottom: 15px;
        color: var(--black);
        letter-spacing: -0.02em;
        em {
            font-family: var(--font-heading);
            font-style: italic;
            color: var(--secondary);
            font-weight: 400;
            letter-spacing: 0;
        }
    }

    .sort-info {
        color: var(--black);
        strong {
            font-weight: 500;
            font-size: clamp(16px, 1.5vw, 18px);
        }
        h3 {
            font-weight: 400;
        }

        h4 {
            margin-bottom: 16px;
        }

        img {
            margin-top: 30px;
        }

        a {
            margin-bottom: 5px;
            display: inline-block;
        }
    }

    .action {
        margin-top: 40px;
        @include flexbox;
        @include align-items(center);
        @include flex-wrap(wrap);
        gap: 10px 12px;
        @media (max-width: 992px) {
            gap: 10px; 
            margin-top: 30px;           
        }
    }

    & *:last-child {
        margin-bottom: 0px !important;
    }
}

// Hero Section
.hero-section {
    min-height: 750px;
    padding: 180px 0 100px;
    color: var(--text-white);
    position: relative;
    @media (max-width: 992px) {
        min-height: 600px;
        padding: 130px 0 70px;
    }
    @media (max-width: 767px) {
        min-height: 500px;
        padding: 100px 0 70px;
    }
    .hero-title {
        max-width: 760px;
        .title {            
            font-family: var(--font-heading);
            margin-bottom: 20px;
            font-weight: 200;
            strong {
                font-weight: 500;
            }
        }
        .sort-info {
            font-size: 18px;
            @media (max-width: 992px) {
                font-size: 16px;
            }
        }
    }
}

// Info Card
.info-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    background: #F7F7F7;
    @include border-radius(10px);
    overflow: hidden;
    position: relative;
    @include transition(0.2s, ease-in-out);
    .card-img {
        img {
            @include transition(0.2s, ease-in-out);
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
        .card-img-splide {
            .splide__arrows {
                .splide__arrow { 
                    left: -20px;
                    @include transition(0.2s, ease-in-out);
                    &.splide__arrow--next {
                        left: auto;
                        right: -20px;
                    }
                }
            }
        }
    }
    .card-body {
        padding: 30px 30px 0;
        @media (max-width: 992px) {
            padding: 20px 20px 0;
        }
        .card-title {
            font-family: var(--font-heading);
            margin-bottom: 15px;
            @media (max-width: 992px) {
                margin-bottom: 10px;
            }
        }
        .card-info {
            color: #5E5E5E;
        }
    }
    .card-footer {
        padding: 30px;
        @media (max-width: 992px) {
            padding: 20px;
        }
        a {
            width: 40px;
            height: 40px;
            flex: none;
            background: #45D354;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            color: var(--white);
            @include transition(0.2s, ease-in-out);
            @include border-radius(50%);
            svg, img, .icon {
                width: 18px;
                height: 18px;
                flex: none;
            }
            .icon-wp {
                background: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.7953 3.19421C16.8127 1.22075 14.0738 0 11.0483 0C4.99789 0 0.0921304 4.88229 0.0921304 10.9054C0.0921304 12.9096 0.635331 14.787 1.58243 16.401L1.55442 16.3496L0 22L5.80716 20.4836C7.31884 21.3192 9.12238 21.8107 11.0416 21.8107H11.0461C17.0965 21.8085 22 16.9255 22 10.9032C22 7.89309 20.775 5.1684 18.7946 3.19494L18.7953 3.19421ZM11.0461 19.9686H11.0424C9.33318 19.9686 7.73306 19.4991 6.36732 18.6825L6.40859 18.7053L6.07618 18.5094L2.63051 19.4096L3.5496 16.065L3.33291 15.7224C2.45951 14.3563 1.94063 12.6917 1.94063 10.9061C1.94063 5.90129 6.01722 1.8436 11.0453 1.8436C16.0734 1.8436 20.15 5.90129 20.15 10.9061C20.15 15.9109 16.0749 19.9686 11.0461 19.9686ZM16.0403 13.1818C15.7668 13.0454 14.421 12.3873 14.1704 12.2956C13.9191 12.2046 13.7363 12.1599 13.5535 12.4328C13.3722 12.7049 12.8474 13.3183 12.6875 13.5002C12.5283 13.6829 12.3676 13.7049 12.0941 13.5692C11.2465 13.2273 10.5183 12.7717 9.88522 12.2105L9.89259 12.2171C9.3037 11.6742 8.79882 11.0528 8.39124 10.3676L8.3706 10.3295C8.2114 10.0573 8.35365 9.90983 8.49 9.77411C8.61309 9.65233 8.76418 9.45572 8.90053 9.29725C9.00814 9.16593 9.10027 9.01554 9.17029 8.85414L9.17471 8.84167C9.20641 8.77784 9.22483 8.70375 9.22483 8.62452C9.22483 8.52841 9.19756 8.43891 9.15039 8.36261L9.15187 8.36481C9.08258 8.22836 8.5357 6.88729 8.30795 6.34147C8.08536 5.81032 7.85909 5.88295 7.69178 5.87415C7.53258 5.86681 7.34979 5.86535 7.16701 5.86535C6.87588 5.87268 6.61717 6.00327 6.43881 6.20502L6.43807 6.20648C5.84696 6.76477 5.47992 7.55195 5.47992 8.42424C5.47992 8.44331 5.47992 8.46312 5.48065 8.48219V8.47926C5.57721 9.55549 5.98258 10.5217 6.60612 11.3089L6.59727 11.2979C7.77949 13.0432 9.35529 14.4392 11.2045 15.3798L11.2738 15.4113C11.6777 15.5932 12.1951 15.7876 12.7243 15.9542L12.8341 15.9843C13.1599 16.087 13.5351 16.1464 13.9242 16.1464C14.1475 16.1464 14.3672 16.1266 14.5795 16.0892L14.5566 16.0921C15.3445 15.9285 15.9983 15.4553 16.397 14.809L16.4036 14.7965C16.5252 14.528 16.596 14.2148 16.596 13.8854C16.596 13.7496 16.5842 13.6168 16.5614 13.4877L16.5636 13.5017C16.4958 13.388 16.313 13.3205 16.0388 13.1833L16.0403 13.1818Z" fill="rgb(255 255 255)"/></svg>');
                background-size: contain;
            }
            &:hover, &:focus {
                @include transform(scale(1.07));
            }
        }
    }
    &:hover, &:focus {
        @include box-shadow(0px 0px 0px 1px #D9D9D9);
        .card-img {
            .card-img-splide {
                .splide__arrows {
                    .splide__arrow { 
                        left: 10px;
                        &.splide__arrow--next {
                            left: auto;
                            right: 10px;
                        }
                    }
                }
            }
        }
    }
}

.video-card {
    .media-block {
        display: block;
    }
    .card-title {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }
}
// CTA Section
.cta-section {
    .cta-block {
        background: var(--black);
        @include border-radius(20px);
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        gap: 30px;
        padding: 50px;
        color: var(--white);
        @media (max-width: 992px) {
            padding: 30px;
        }
        @media (max-width: 767px) {
            padding: 25px;
            @include flex-wrap(wrap);
            @include border-radius(10px);
        }
        .cta-content {
            max-width: 620px;
            .sort-info {
                max-width: 490px;
            }
        }
    }
}

// Contact Info
.contact-info-list {
    li {
        @include flexbox;
        @include align-items(flex-start);
        gap: 10px;
        color: #000000;
        &:not(:last-child) {
            margin-bottom: 20px;
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
        a {
            display: flex !important;
            @include align-items(flex-start);
            gap: 10px;
            color: var(--black);
            text-decoration: none;
            @include transition(0.2s, ease-in-out);
            text-underline-offset: 5px;
            &:hover, &:focus {
                opacity: 0.8;
                text-decoration: underline;
            }
        }
        .icon {
            display: inline-block;
            max-width: 18px;
            min-width: 18px;
            height: 18px;
            background-size: contain !important;
            margin-top: 4px;
            @media (max-width: 767px) {
                max-width: 16px;
                min-width: 16px;
                height: 16px;
            }
            &.icon-location {
                background: url('data:image/svg+xml,<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.74995 18.75C7.62277 18.7499 7.49757 18.7201 7.38545 18.6631C7.27334 18.6062 7.17778 18.5238 7.10726 18.4234L2.1415 11.3592C2.1333 11.3479 2.12596 11.336 2.11952 11.3236C0.947664 9.81922 0.5073 7.97 0.878084 6.1095C1.40268 3.47769 3.61182 1.37311 6.37576 0.872803C8.47046 0.493232 10.5963 1.00309 12.2103 2.27035C13.0057 2.89291 13.646 3.67484 14.0851 4.55998C14.5242 5.44512 14.7512 6.41152 14.75 7.38979C14.7522 8.8021 14.2756 10.1776 13.3905 11.3132C13.3822 11.3292 13.3727 11.3446 13.3621 11.3592L8.39264 18.4234C8.3223 18.524 8.22678 18.6065 8.11463 18.6635C8.00247 18.7204 7.87718 18.7502 7.74995 18.75ZM7.74995 4.7988C7.02612 4.79949 6.33213 5.0726 5.8203 5.55819C5.30847 6.04378 5.02061 6.70219 5.01988 7.38892C5.02037 8.0758 5.30812 8.73443 5.81998 9.22021C6.33184 9.70599 7.02596 9.97922 7.74995 9.97991C8.47387 9.97899 9.16785 9.70569 9.67966 9.21996C10.1915 8.73423 10.4793 8.07573 10.48 7.38892C10.4791 6.70226 10.1911 6.04399 9.67933 5.55845C9.16756 5.0729 8.47371 4.79972 7.74995 4.7988Z" stroke="rgb(0 0 0)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
            }
            &.icon-chat {
                background: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.378 2.61345C13.7558 0.9988 11.515 0 9.0395 0C4.08918 0 0.0753794 3.9946 0.0753794 8.92257C0.0753794 10.5624 0.519816 12.0984 1.29472 13.419L1.2718 13.377L0 18L4.75132 16.7593C5.98814 17.443 7.46377 17.8451 9.03407 17.8451H9.03769C13.988 17.8433 18 13.8481 18 8.92077C18 6.45798 16.9978 4.22869 15.3774 2.61405L15.378 2.61345ZM9.03769 16.3379H9.03467C7.63624 16.3379 6.32705 15.9538 5.20962 15.2857L5.24339 15.3043L4.97142 15.1441L2.15223 15.8806L2.90422 13.1441L2.72693 12.8637C2.01233 11.7461 1.58779 10.3842 1.58779 8.92317C1.58779 4.82833 4.92318 1.5084 9.03709 1.5084C13.151 1.5084 16.4864 4.82833 16.4864 8.92317C16.4864 13.018 13.1522 16.3379 9.03769 16.3379ZM13.1239 10.7851C12.9001 10.6735 11.799 10.1351 11.594 10.06C11.3883 9.98559 11.2388 9.94898 11.0892 10.1723C10.9409 10.395 10.5115 10.8968 10.3806 11.0456C10.2504 11.1951 10.1189 11.2131 9.8952 11.102C9.20171 10.8223 8.60592 10.4496 8.08791 9.9904L8.09394 9.9958C7.61211 9.55162 7.19904 9.04322 6.86556 8.48259L6.84867 8.45138C6.71842 8.22869 6.8348 8.10804 6.94636 7.997C7.04707 7.89736 7.17069 7.7365 7.28225 7.60684C7.3703 7.4994 7.44568 7.37635 7.50296 7.2443L7.50658 7.23409C7.53251 7.18187 7.54759 7.12125 7.54759 7.05642C7.54759 6.97779 7.52528 6.90456 7.48668 6.84214L7.48789 6.84394C7.4312 6.73229 6.98375 5.63505 6.79741 5.18848C6.6153 4.7539 6.43016 4.81333 6.29328 4.80612C6.16302 4.80012 6.01347 4.79892 5.86391 4.79892C5.62572 4.80492 5.41405 4.91177 5.26812 5.07683L5.26751 5.07803C4.78388 5.53481 4.48357 6.17887 4.48357 6.89256C4.48357 6.90816 4.48357 6.92437 4.48417 6.93998V6.93758C4.56317 7.81813 4.89484 8.60864 5.40501 9.2527L5.39777 9.2437C6.36504 10.6717 7.65433 11.8139 9.16734 12.5834L9.22403 12.6092C9.55449 12.7581 9.97782 12.9172 10.4108 13.0534L10.5007 13.078C10.7672 13.1621 11.0741 13.2107 11.3925 13.2107C11.5753 13.2107 11.755 13.1945 11.9286 13.1639L11.9099 13.1663C12.5546 13.0324 13.0895 12.6453 13.4157 12.1164L13.4212 12.1062C13.5207 11.8866 13.5785 11.6303 13.5785 11.3607C13.5785 11.2497 13.5689 11.1411 13.5502 11.0354L13.552 11.0468C13.4965 10.9538 13.347 10.8986 13.1227 10.7863L13.1239 10.7851Z" fill="rgb(0 0 0)"/></svg>') no-repeat center center;
            }
            &.icon-mail {
                background: url('data:image/svg+xml,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.75 3.75L6.19992 7.3833C7.48295 8.2386 8.1245 8.6663 8.8178 8.8325C9.4306 8.9793 10.0694 8.9793 10.6822 8.8325C11.3755 8.6663 12.0171 8.2386 13.3001 7.3833L18.75 3.75M3.95 14.75H15.55C16.6701 14.75 17.2302 14.75 17.658 14.532C18.0343 14.3403 18.3403 14.0343 18.532 13.658C18.75 13.2302 18.75 12.6701 18.75 11.55V3.95C18.75 2.8299 18.75 2.26984 18.532 1.84202C18.3403 1.46569 18.0343 1.15973 17.658 0.96799C17.2302 0.75 16.6701 0.75 15.55 0.75H3.95C2.8299 0.75 2.26984 0.75 1.84202 0.96799C1.46569 1.15973 1.15973 1.46569 0.96799 1.84202C0.75 2.26984 0.75 2.82989 0.75 3.95V11.55C0.75 12.6701 0.75 13.2302 0.96799 13.658C1.15973 14.0343 1.46569 14.3403 1.84202 14.532C2.26984 14.75 2.82989 14.75 3.95 14.75Z" stroke="rgb(0 0 0)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
            }
        }
    }
}