.form-content-wrapper {
    max-width: 900px;
    margin: 0 auto;
    position: relative; 
    padding: 20px;
    background: linear-gradient(0deg, rgba(160, 179, 201, 0.19), rgba(160, 179, 201, 0.19)), rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(17.2px);
    @media (max-width: 992px) {
        padding: 15px;
    }
    &.is-top-img {
        padding-top: 180px;
        @media (max-width: 767px) {       
            padding-top: 120px;
        }
        .media-block {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            @media (max-width: 992px) {
                max-width: 70%;
                margin: 0 auto;
            }
        }
    }        
    .form-content {
        background: $white;
        backdrop-filter: blur(17.2px);
        padding: 50px;
        @media (max-width: 992px) {
            padding: 30px;
        }
        @media (max-width: 767px) {
            padding: 20px;
        }
        h3 {
            margin-bottom: 30px;
        }
    }
}
.frm-fluent-form {
    .ff-el-group {
        .ff-el-input--label {
            label {
                font-size: 14px;
                font-weight: 600;
                color: rgba($black, 0.5);
            }                     
            &.ff-el-is-required {
                label::after {
                    color: #DF0A0A !important;
                }
            }
        }
        .ff-el-input--content {
            input, textarea, select {
                @include border-radius(0);
                border: 1px solid rgba($black, 0.2);
                background: $white;
                color: $black;
                font-size: 16px;
                font-weight: 500;
                height: 48px !important;
                line-height: 48px;
                padding: 0 15px;
                &::placeholder {
                    color: #a7a7a7;
                }
            }
            textarea {
                height: auto !important;
                line-height: normal;
                padding: 10px 15px;
            }
            .ff-el-form-check {
                width: auto;  
                font-size: 14px;   
                label {     
                    position: relative;  
                    input[type=checkbox] {
                        -webkit-appearance: none;
                        position: absolute;
                        width: 0;
                        left: 50px;
                        height: 0;
                        opacity: 0;
                    }
                    span {
                        position: relative;
                        padding-left: 30px;
                        @include flexbox;
                        &::before {
                            content: '';
                            border: 1px solid rgba($black, 0.2);
                            background-color: transparent !important;
                            width: 20px;
                            height: 20px;
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 1px;
                        }
                    }
                    input[type=checkbox]:checked ~ span::before {
                        border-color: $primary;
                        background-image: url('data:image/svg+xml,<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.06224 7.98832C4.66571 8.37577 4.00486 8.37577 3.60833 7.98832L0.436068 4.88889C0.0395397 4.50145 0.0395397 3.8557 0.436068 3.59741C0.832597 3.20996 1.49345 3.20996 1.88997 3.59741L4.40135 6.0511L5.06224 6.69684C5.32659 7.08428 5.32659 7.60088 5.06224 7.98832Z" fill="rgb(238 93 36)"/><path d="M11.2671 1.91849L5.05491 7.98872C4.65838 8.37616 3.9975 8.37616 3.73315 7.98872L3.07227 7.34297L4.52617 5.92222L9.94537 0.497737C10.3419 0.110292 11.0028 0.110292 11.2671 0.497737C11.6637 0.885182 11.6637 1.53105 11.2671 1.91849Z" fill="rgb(238 93 36)"/></svg>');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 12px;
                    }
                }
            }
            .choices__inner {
                @include border-radius(0);
                border-color: #C8D0D9;
                background: $white;
            }
        }
        &.ff-el-is-error {
            .error {
                color: #DF0A0A !important;
                font-weight: 600;
            }
        }
    }
    .ff-btn-submit[type=submit]  {
        white-space: nowrap;
        color: $white !important;
        background-color: $primary;
        border:1px solid $primary;
        height: 48px;
        min-height: 48px;
        padding: 0 25px;
        font-weight: 600;
        font-size: 14px;
        min-width: 120px;
        margin-bottom: 0px;
        line-height: 1;
        opacity: 1 !important;
        position: relative;
        z-index: 1;
        @include transition(0.3s, ease-in-out);
        @include border-radius(0px !important);
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center); 
        box-shadow: 5px 5px 0px rgba($primary, 0.3);
        &::before {
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transform: translateY(101%) scale(.5);
            transform-origin: center top;
            @include transition(0.2s, cubic-bezier(.165,.84,.44,1));
            width: 100%;
            z-index: -1;
        }     
        &:hover, &:focus, &:active {
            text-decoration: none;
            border-color: transparent; 
            color: $primary !important;
            &::before {
                transform: translateY(0);
                background-color: $white;
            }
        } 
    }
}

.ff-message-success {
    border: 1px solid #8BC34A;
    background: #4CAF50;
    border-radius: 8px;
    text-align: center;
}