*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    -webkit-appearance: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--text-black);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

body ::selection {
    color: var(--text-white);
    background: var(--black);
}

:focus {
    box-shadow: none !important;
}

.clear {
    clear: both;
}

.tooltip {
    pointer-events: none !important;
    --bs-tooltip-bg: #2C323A;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-max-width: 21.25rem;

    .tooltip-inner {
        text-align: left;
        font-weight: 500;
    }
}

.icw-tooltip {
    .tooltip-inner {
        font-size: 0.75rem;
    }
}

.pointer-events-none {
    pointer-events: none !important;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    word-break: break-word;
    text-underline-offset: 0.25rem;

    &:focus,
    &:hover {
        text-decoration: none;
    }

    &:focus-visible {
        outline: 0.125rem solid var(--blue) !important;
        @include border-radius(0.375rem);
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;

    &.aligncenter {
        margin: 0 auto;
        display: table;
    }
}

.container {
    @media (max-width: 992px) {
        max-width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

// Padding-Margin CSS
.pt-0 {
    padding-top: 0 !important;
}

.pt-25 {
    padding-top: 1.563rem !important;
}

.pt-40 {
    padding-top: 2.5rem !important;
}

.pt-50 {
    padding-top: 3.125rem !important;
}

.pt-80 {
    padding-top: 5rem !important;
}

.pt-100 {
    padding-top: 6.25rem !important;
}

.pt-120 {
    padding-top: 7.5rem !important;
}

.pt-150 {
    padding-top: 13.125rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-25 {
    padding-bottom: 1.563rem !important;
}

.pb-40 {
    padding-bottom: 2.5rem !important;
}

.pb-50 {
    padding-bottom: 3.125rem !important;
}

.pb-80 {
    padding-bottom: 5rem !important;
}

.pb-100 {
    padding-bottom: 6.25rem !important;
}

.pb-120 {
    padding-bottom: 7.5rem !important;
}

.pb-150 {
    padding-bottom: 13.125rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-50 {
    margin-top: 3.125rem !important;
}

.mt-100 {
    margin-top: 6.25rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-50 {
    margin-bottom: 3.125rem !important;
}

.mb-100 {
    margin-bottom: 6.25rem !important;
}

@media (max-width: 767px) {
    .m-pt-0 {
        padding-top: 0 !important;
    }

    .m-pt-25 {
        padding-top: 1.563rem !important;
    }

    .m-pt-40 {
        padding-top: 2.5rem !important;
    }

    .m-pt-50 {
        padding-top: 3.125rem !important;
    }

    .m-pt-80 {
        padding-top: 5rem !important;
    }

    .m-pt-100 {
        padding-top: 6.25rem !important;
    }

    .m-pb-0 {
        padding-bottom: 0 !important;
    }

    .m-pb-25 {
        padding-bottom: 1.563rem !important;
    }

    .m-pb-40 {
        padding-bottom: 2.5rem !important;
    }

    .m-pb-50 {
        padding-bottom: 3.125rem !important;
    }

    .m-pb-80 {
        padding-bottom: 5rem !important;
    }

    .m-pb-100 {
        padding-bottom: 6.25rem !important;
    }

    .m-mt-0 {
        margin-top: 0 !important;
    }

    .m-mt-50 {
        margin-top: 3.125rem !important;
    }

    .m-mt-100 {
        margin-top: 6.25rem !important;
    }

    .m-mb-0 {
        margin-bottom: 0 !important;
    }

    .m-mb-50 {
        margin-bottom: 3.125rem !important;
    }

    .m-mb-100 {
        margin-bottom: 6.25rem !important;
    }
}

.g-15 {
    --bs-gutter-y: 1.875rem;
    --bs-gutter-x: 1.875rem;
}

.g-30 {
    --bs-gutter-x: 3.75rem;

    @media (max-width: 992px) {
        --bs-gutter-x: 1.875rem;
    }
}

.g-50 {
    @media (min-width: 992px) {
        --bs-gutter-x: 3.125rem;
    }

    @media (min-width: 1400px) {
        --bs-gutter-x: 6.25rem;
    }

    @media (max-width: 992px) {
        --bs-gutter-x: 1.875rem;
    }
}

// Button CSS
.btn {
    position: relative;
    white-space: nowrap;
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    @include border-radius(2rem);
    border: 0.063rem solid transparent;
    transition: background-color .2s;
    min-height: 3rem;
    min-width: 6.25rem;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    line-height: 1;
    gap: 0.5rem;

    @media (max-width: 767px) {
        min-height: 2.75rem;
        min-width: 5rem;
    }

    &.btn-sm {
        min-height: 2.75rem;
        min-width: 5rem;
    }

    &.btn-primary {
        color: var(--text-white) !important;
        border-color: var(--blue) !important;
        background-color: var(--blue) !important;

        &:hover,
        &:focus {
            border-color: #363884 !important;
            background-color: #363884 !important;
        }
    }

    &.btn-outline-primary {
        color: var(--blue) !important;
        border-color: var(--blue) !important;
        background-color: transparent;

        &:hover,
        &:focus {
            color: var(--text-white) !important;
            border-color: var(--blue) !important;
            background-color: var(--blue) !important;
        }
    }

    &.btn-white {
        color: var(--blue) !important;
        border-color: var(--white) !important;
        background-color: var(--white) !important;

        &:hover,
        &:focus {
            border-color: var(--blue) !important;
            background-color: var(--blue) !important;
        }
    }

    &.btn-link-arrow {
        background-color: transparent;
        border-color: transparent;
        color: var(--blue);
        padding: 0;
        min-width: auto;
        min-height: auto;
        @include transition(0.2s, ease-in-out);

        .icon-arrow {
            background: url('../images/icons/icon-arrow.svg') no-repeat center center;
            background-size: contain !important;
            width: 0.75rem;
            height: 0.75rem;
            @include transition(0.2s, ease-in-out);
            display: inline-block;
        }

        &:hover,
        &:focus {
            color: var(--text-black);

            .icon-arrow {
                @include transform(translateX(0.3rem));
                filter: brightness(0);
            }
        }
    }

    &.btn-link {
        background-color: transparent;
        border-color: transparent;
        color: var(--blue);
        padding: 0;
        min-width: auto;
        min-height: auto;
        text-underline-offset: 0.3rem;
        text-decoration: underline;
        @include transition(0.2s, ease-in-out);

        &:hover,
        &:focus {
            color: var(--text-black);
            text-decoration: none;
        }
    }
}

.back-link {
    @include flexbox;
    @include align-items(center);
    gap: 0.3rem;
    font-size: 1rem;
    line-height: 1.3;
    color: var(--blue);
    text-decoration: none;
    @include transition(0.2s, ease-in-out);
    text-underline-offset: 0.3rem;
    margin-bottom: 1rem;

    .icon-back {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M201.4 297.4C188.9 309.9 188.9 330.2 201.4 342.7L361.4 502.7C373.9 515.2 394.2 515.2 406.7 502.7C419.2 490.2 419.2 469.9 406.7 457.4L269.3 320L406.6 182.6C419.1 170.1 419.1 149.8 406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3L201.3 297.3z" fill="rgb(66 68 150)"/></svg>') no-repeat center center;
        background-size: contain;
        width: 1.125rem;
        height: 1.125rem;
        @include transition(0.3s, ease-in-out);
    }

    &:hover,
    &:focus {
        color: var(--text-black);
        text-decoration: underline;

        .icon-back {
            @include transform(translateX(-0.3rem));
            filter: brightness(0);
        }
    }
}

// Video & Image Background CSS
.media-bg-block {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--blue);
    z-index: -1;

    img,
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;

        &::-webkit-media-controls {
            display: none;
        }
    }
}

// Full Width Background CSS
.full-width-block {
    position: relative;
    overflow: hidden;
    padding: 6.25rem 0;
    background-image: var(--bg-image, none);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &>.container {
        max-width: 100%;
        padding: 0;
    }

    @media (max-width: 992px) {
        padding: 4.375rem 0;
    }

    @media (max-width: 767px) {
        padding: 3.125rem 0;
        margin: 0;
    }

    &.py-50 {
        padding: 3.125rem 0;
    }

    .section-title {
        z-index: 3;
        position: relative;
        padding: 0 1rem;
    }

    &.bottom-video-content {
        @media (max-width: 575px) {
            padding-bottom: 18.75rem;

            .media-bg-block {

                img,
                video {
                    object-position: bottom center;
                }
            }
        }
    }
}

// Video Player CSS
.media-block {
    max-width: 100%;
    @include border-radius(0);
    position: relative;
    overflow: hidden;
    line-height: 0.7;

    img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        &.mw-50 {
            @media (max-width: 992px) {
                max-width: 50%;
            }
        }
    }

    .image-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(91.66deg, #DFB93B 0%, #0FA2C7 99.72%);
        color: var(--white);
        padding: 1.875rem 3.75rem;
        @include transform(translateY(100%));
        @include transition(0.3s, ease-in-out);

        @media (max-width: 1200px) {
            padding: 1.25rem 2.5rem;
        }

        &.is-animate {
            @include transform(translateY(0%));
        }
    }

    &.is-video {
        .play-icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            cursor: pointer;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            @include transition(0.3s, ease-in-out);
            @include box-shadow(0 3px 12px rgba(0, 0, 0, 0.25));

            svg {
                width: 3.75rem;
                height: 3.75rem;
                flex: none;
                @include border-radius(50%);
                @include transition(0.3s, ease-in-out);
                @include transform(scale(1));
                z-index: 2;
            }

            &.d-hide {
                opacity: 0;
            }

            &::after {
                content: '';
                top: 0;
                left: 0;
                @include border-radius(2rem);
                opacity: 0.025;
                background: #002B31;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        video {
            vertical-align: bottom;
            max-width: 100%;
            object-fit: cover;
            width: 100%;
        }

        .video-wrap {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &:hover {
            .play-icon {
                svg {
                    @include box-shadow(0px 0px 15px 0px rgba(255, 255, 255, 0.5));
                    @include transform(scale(1.1));
                }
            }
        }
    }

    &.text-end {
        @media (max-width: 992px) {
            text-align: center !important;
        }
    }

    &.text-center {
        .imgSlideInUp {
            text-align: center;
        }
    }
}

// Slider Pagination
.splide__pagination {
    bottom: -1.5rem;

    li {
        .splide__pagination__page {
            width: 0.625rem;
            height: 0.625rem;
            @include transform (unset);
            opacity: 1;
            background: rgba(0, 0, 0, 0.4);
            border: 0.063rem solid transparent;
            @include border-radius(0.5rem);
            margin: 0 0.25rem;
            @include transition(0.3s, ease-in-out);

            &.is-active {
                background: var(--blue);
                border-color: var(--blue);
                width: 1.25rem;
            }
        }
    }

    &.is-light {
        li {
            .splide__pagination__page {
                background: rgba(255, 255, 255, 0.4);

                &.is-active {
                    background: var(--blue);
                    border-color: var(--blue);
                    width: 1.25rem;
                }
            }
        }
    }
}

.splide__arrows {
    .splide__arrow {
        background: url('data:image/svg+xml,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.516 1.58984C6.49457 1.58984 1.59006 6.49436 1.59006 12.5157C1.59006 18.5371 6.49457 23.4416 12.516 23.4416C18.5373 23.4416 23.4419 18.5371 23.4419 12.5157C23.4419 6.49436 18.5373 1.58984 12.516 1.58984ZM11.1077 17.6631L9.55382 16.1092L13.1472 12.5157L9.55382 8.92234L11.1077 7.36843L16.255 12.5157L11.1077 17.6631Z" fill="black"></path></svg>') no-repeat center center;
        background-size: contain;
        bottom: -2.5rem;
        top: auto;
        left: calc(50% - 3.125rem);
        right: auto;
        width: 1.875rem;
        height: 1.875rem;
        opacity: 1;
        @include transform(unset);
        @include transition(0.3s, ease-in-out);

        &:hover,
        &:focus {
            opacity: 0.7;
        }

        &.splide__arrow--prev {
            transform: scaleX(-1);
        }

        &.splide__arrow--next {
            left: calc(50% + 1.25rem);
        }

        svg {
            display: none;
        }

        &:disabled {
            opacity: .3
        }
    }
}

// Heading CSS
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    line-height: 1.2;
    font-weight: 700;

    @media (max-width: 767px) {
        line-height: 1.1;
    }
}

h1,
.h1 {
    font-size: clamp(2.5rem, 3vw, 3.75rem);
    // font-size: 3.75rem;

    // @media (max-width: 992px) {
    //     font-size: 3.25rem;
    // }

    // @media (max-width: 767px) {
    //     font-size: 2.8rem;
    // }
}

h2,
.h2 {
    font-size: 3rem;

    @media (max-width: 992px) {
        font-size: 2.25rem;
    }

    @media (max-width: 992px) {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: 2rem;

    @media (max-width: 992px) {
        font-size: 1.75rem;
    }

    @media (max-width: 767px) {
        font-size: 1.5rem;
    }
}

h4,
.h4 {
    font-size: 1.5rem;

    @media (max-width: 992px) {
        font-size: 1.25rem;
    }

    @media (max-width: 767px) {
        font-size: 1.125rem;
    }
}

h5,
.h5 {
    font-size: 1.25rem;

    @media (max-width: 992px) {
        font-size: 1rem;
    }
}

// Text Color CSS
.text-white {
    color: var(--text-white) !important;
}

.text-black {
    color: var(--text-black) !important;
}

.text-primary {
    color: var(--blue) !important;
}

.text-gray {
    color: var(--gray) !important;
}

.text-purple {
    color: var(--purple) !important;
}


// Background Color CSS
.bg-white {
    background-color: var(--white) !important;
}

.bg-black {
    background-color: var(--black) !important;

    &>* {
        color: var(--text-white) !important;
    }
}

.bg-lightblue {
    background-color: var(--lightblue) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.bg-primary {
    background-color: var(--blue) !important;

    &>* {
        .tag-line {
            color: var(--text-white) !important;
        }

        color: var(--text-white) !important;
    }
}

.bg-transprent {
    background-color: transparent !important;
    background-image: none !important;
}

.bg-custom {
    background: var(--header-bg, none);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

// Background Vector CSS
.bg-br-vector {
    position: relative;

    &::before {
        content: '';
        background-image: url('../images/img-bg-logo.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        width: 30.25rem;
        height: 30rem;
        display: inline-block;
        position: absolute;
        bottom: 4rem;
        right: 0;
        opacity: 0.2;

        @media (max-width: 1500px) {
            width: 25rem;
            height: 25rem;
        }

        @media (max-width: 992px) {
            width: 20rem;
            height: 20rem;
        }

        @media (max-width: 767px) {
            bottom: 1.5rem;
            width: 15rem;
            height: 15rem;
        }
    }
}

.bg-tr-glow {
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 30.5rem;
        height: 30.5rem;
        right: 0;
        top: -12.125rem;
        background: rgba(184, 175, 252, 0.45);
        filter: blur(9.375rem);
        z-index: -1;

        @media (max-width: 1200px) {
            width: 25rem;
            height: 25rem;
        }

        @media (max-width: 575px) {
            width: 20rem;
            height: 20rem;
        }
    }
}

.bg-br-glow {
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 40.5rem;
        height: 40.5rem;
        right: 0;
        bottom: -6.125rem;
        background: rgba(184, 175, 252, 0.45);
        filter: blur(9.375rem);
        z-index: -1;

        @media (max-width: 1200px) {
            width: 25rem;
            height: 25rem;
        }

        @media (max-width: 575px) {
            width: 20rem;
            height: 20rem;
        }
    }
}

.bg-bl-glow {
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 40.5rem;
        height: 40.5rem;
        left: -5rem;
        bottom: -6.125rem;
        background: rgba(184, 175, 252, 0.45);
        filter: blur(9.375rem);
        z-index: -1;

        @media (max-width: 1200px) {
            width: 25rem;
            height: 25rem;
        }

        @media (max-width: 575px) {
            width: 20rem;
            height: 20rem;
        }
    }
}


// Badge
.badge {
    display: inline-block;
    font-size: 0.625rem;
    font-weight: 600;
    padding: 0.3rem 0.625rem 0.3rem;
    @include border-radius(5.625rem);
    line-height: 1;
    vertical-align: middle;

    &.badge-warning {
        color: var(--black);
    }
}

// Page Scroll Progress CSS
.icw-progress-goto {
    position: fixed;
    right: 1.25rem;
    bottom: 4rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    display: block;
    border-radius: 2.5rem;
    box-shadow: inset 0 0 0 2px rgba(#f1f1f1, 0.23);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;

    &.active-progress {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &::after {
        position: absolute;
        content: url(../images/icons/arrow-up.svg);
        text-align: center;
        line-height: 2.5rem;
        font-size: 1.75rem;
        color: var(--text-white);
        left: 0;
        top: -0.3rem;
        height: 2.5rem;
        width: 2.5rem;
        cursor: pointer;
        display: block;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    // &:hover::after {opacity: 0;}
    &:hover::after {
        opacity: 1;
        @include transform(translateY(-0.3rem));
    }

    svg path {
        fill: none;
    }

    svg.progress-circle path {
        stroke: var(--text-white);
        stroke-width: 4;
        box-sizing: border-box;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    @media (max-width: 768px) {
        display: none !important;
    }
}

// minmax
.minmax {
    max-width: var(--maxd, 56.25rem);

    @media (max-width: 768px) {
        max-width: var(--maxm, 12.5rem);
    }
}

// Breadcrumb
.breadcrumb-nav {
    margin-bottom: 1.875rem;
    opacity: 1;

    .breadcrumb {
        .breadcrumb-item {
            font-size: 0.75rem;
            font-weight: 500;
            color: var(--black);

            a {
                text-decoration: none;
                color: #656565;
                @include transition(0.3s, ease-in-out);

                &:hover,
                &:focus {
                    color: var(--blue);
                    text-decoration: underline;
                }
            }
        }

        .breadcrumb-item+.breadcrumb-item {
            &::before {
                content: url('data:image/svg+xml,<svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7.5L4 4.5L1 1.5" stroke="rgb(101 101 101)" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                margin-top: 1px;
            }
        }
    }
}

// ICW Pagination
.icw-pagination {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    gap: 0.75rem;
    margin-top: 3rem;
    border-top: 1px solid #494848;
    padding-top: 2rem;

    .page-numbers {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        width: 2rem;
        height: 2rem;
        flex: none;
        text-decoration: none;
        border: 1px solid rgba(255, 255, 255, 0.25);
        line-height: 0.7;
        font-size: 0.9rem;
        @include border-radius(0.25rem);
        background: var(--black);
        color: rgba(255, 255, 255, 0.6);
        @include transition(0.1s, ease-in-out);
        outline: none !important;

        &.next,
        &.prev {
            width: auto;
            padding: 0 0.5rem;
        }

        &.current {
            color: var(--white);
            border-color: var(--white);

            &:hover,
            &:focus {
                background: #000;
                color: var(--white);
                border-color: var(--white);
            }
        }

        &:hover,
        &:focus {
            color: rgba(255, 255, 255, 0.8);
            border-color: rgba(255, 255, 255, 0.8);
        }
    }
}