:root {
  --text-black: #000000;
  --text-white: #ffffff;

  --white: #ffffff;
  --black: #000000;
  --gray: #cccccc;

  --blue: #004D86;
  --skyblue: #20A2E3;
  --lightblue: #EBF0F3;
  --purple: #B8AFFC;


  --success-green: #027a48;
  --success-green-light: #ecfdf3;
  --error-red: #eb2010;
  --error-red-light: #ffe0dd;
}