:root {
  --text-black: #000000;
  --text-white: #ffffff;

  --white: #ffffff;
  --black: #000000;
  --gray: #cccccc;

  --blue: #424496;
  --lightblue: rgba(66, 68, 150, 0.04);
  --purple: #B8AFFC;

  
  --success-green: #027a48;
  --success-green-light: #ecfdf3;
  --error-red: #eb2010;
  --error-red-light: #ffe0dd;
}