:root {
    --black: #000000;
	--white: #ffffff;

	--primary: #20A2E3;
	--darkblack1: #001728;
	--darkblack: #303030;
	--darkblue: #004D86;
	--gray: #E6E6E6;

	--success-green: #027a48;
	--success-green-light: #ecfdf3;
	--error-red: #eb2010;
	--error-red-light: #ffe0dd;

	--font-allerta: "Allerta Stencil", sans-serif
}