.main-header {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.84);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid #EEEEEE;
    z-index: 10;
    @media (max-width: 992px) {
        &.is-visible  {
            backdrop-filter: unset;
            background: rgba(255, 255, 255, 1);
            .navbar {
                .navbar-collapse {
                    @include transform(translateX(0));                    
                    transition: transform 0.3s ease-in-out;
                }
            }
        }
    }
    .navbar {
        padding: 0;
        position: unset;
        & > .container {
            position: relative;
            height: 100%;
            @media (max-width: 992px) {
                max-width: 100%;
            }
        }
        .navbar-brand {
            padding: 15px 0;
            img {
                height: 40px;
                @media (max-width: 767px) {
                    height: 35px;
                }
            }
        }
        .navbar-collapse {
            @media (min-width: 992px) {
                height: stretch;
            }
            @media (max-width: 992px) {
                position: fixed;
                top: 71px;
                left: 0;
                bottom: 0;
                width: 100%;
                max-width: 300px;
                height: calc(100dvh - 71px);
                background: #fff;
                border-right: 1px solid #EEEEEE;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                z-index: 15;
                transform: translateX(-110%);
                transition: transform .3s ease-in-out;
                padding-bottom: env(safe-area-inset-bottom);
                @include flexbox;
                @include flex-direction(column);
                @media (max-width: 767px) {
                    top: 66px;
                    height: calc(100dvh - 66px);
                }
            }
        }
        .mainMenu {
            gap: 30px;
            margin-left: auto;
            height: stretch;
            @include align-items(center);
            @media (max-width: 1200px) {
                gap: 20px;
            }
            @media (max-width: 992px) {
                padding: 15px;
                gap: 15px;
                flex: 1 1 auto;
                margin-left: unset;
                width: 100%;
                height: 100%;
                @include align-items(flex-start);
                overflow: hidden;
                overflow-y: auto;
            }
            & > li {
                height: 100%;
                @media (max-width: 992px) {
                    height: auto;
                    width: 100%;
                }
                & > a:not(.btn) {
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--black);
                    line-height: 1;
                    height: 100%;
                    @include inline-flex;
                    @include align-items(center);
                    position: relative;
                    text-underline-offset: 5px;
                    transition: unset;
                    &::before {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: -1px;
                        width: 0;
                        height: 3px;
                        background-color: var(--primary);
                        @include border-radius(5px);
                        transition: width 0.05s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                        will-change: transform;
                        @media (max-width: 992px) {
                            content: none;
                        }
                    }
                    @media (max-width: 992px) {
                        height: auto;
                        display: block;
                        padding: 5px 0;
                    }
                }
                &.menu-item-has-children {
                    position: relative;
                    & > a {
                        @include inline-flex;
                        @include align-items(center);   
                        gap: 6px;                     
                        position: relative;
                        &::after {
                            content: '';
                            width: 10px;
                            height: 10px;
                            display: inline-block;
                            background: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.65002 0.650002L4.65002 4.65L0.650024 0.650002" stroke="rgb(32 162 227)" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                            background-size: 10px;
                            margin-top: 2px;
                            filter: brightness(0);
                            @include transition(0.05s, ease-in-out);
                            animation: .3s menuArrowMoveOut ease-in-out;
                            opacity: 0.5;
                            @media (max-width: 992px) {
                                content: none;
                            }
                        }
                    }
                    .arrow {
                        display: none;
                        @media (max-width: 992px) {
                            display: inline-block;
                            vertical-align: middle;
                            width: 22px;
                            height: 22px;
                            background: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.65002 0.650002L4.65002 4.65L0.650024 0.650002" stroke="rgb(32 162 227)" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                            background-size: 12px;
                            filter: brightness(0);
                            @include transition(0.05s, ease-in-out);
                            animation: .3s menuArrowMoveOut ease-in-out;
                            float: right;
                            position: relative;
                            margin-top: 3px;
                            opacity: 0.5;
                            &:hover, &:focus {
                                filter: unset;
                            }
                            &.is-active {
                                animation: .3s menuArrowMoveIn ease-in-out forwards;
                                margin-top: 1px;
                            }
                        }
                    }                    
                    .sub-menu {
                        @media (min-width: 992px) {
                            visibility: hidden;
                            opacity: 0;
                            position: absolute;
                            left: 50%;
                            top: calc(100% + 1px);
                            z-index: 1;
                            min-width: 160px;
                            padding: 10px;
                            background: #FFFFFF;
                            border: 1px solid rgba(#CAE0F0, 0.5);
                            @include transform(translate(-50%, 5px));
                        }
                        @media (max-width: 992px) {
                            display: none;
                            padding: 10px 0 0;
                        }
                        & > li {
                            &:not(:last-child) {
                                margin-bottom: 5px;
                                @media (max-width: 992px) {
                                    margin-bottom: 3px;
                                }
                            }
                            & > a:not(.btn) {
                                color: var(--black);
                                text-decoration: none;
                                @include border-radius(3px);
                                display: block;
                                font-size: 14px;
                                font-weight: 500;                                  
                                padding: 8px 12px;
                                &:hover, &:focus {
                                    background: #F4F9FD;
                                    text-decoration: none;
                                }
                            }
                            &.current-menu-item {
                                a:not(.btn) {
                                    background: #F4F9FD;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    &.mega-menu {
                        position: unset;
                        .sub-menu {
                            padding: 10px 0;
                            @media (min-width: 992px) {
                                width: calc(100% - 24px);
                                padding: 0;
                                left: 0;
                                margin: 0 12px;
                                @include transform(translateY(5px));
                                &.md-sub-menu {
                                    width: auto;
                                    left: auto;
                                    right: 0;
                                    min-width: 800px;
                                }
                            }
                            .sub-menu-inner {
                                .sub-menu-main {                                    
                                    display: grid;
                                    grid-template-columns: auto 308px;
                                    gap: 50px;
                                    padding: 30px 30px 30px 15px;
                                    @media (max-width: 1200px) { 
                                        gap: 20px;
                                        padding: 20px 20px 20px 5px;
                                    }
                                    @media (max-width: 992px) {
                                        grid-template-columns: 100%;
                                        gap: 20px;
                                        padding: 0;
                                    }
                                }
                                .sub-menu-list-block {
                                    .menu-title {
                                        font-family: var(--font-allerta);
                                        font-weight: 400;
                                        font-size: 12px;
                                        letter-spacing: 0.02em;
                                        text-transform: uppercase;
                                        color: var(--primary);
                                        margin-bottom: 10px;
                                        padding-left: 15px;
                                    }
                                    .menu-grid {
                                        display: grid;                                        
                                        gap: 5px 75px;
                                        grid-template-columns: repeat(1, 300px);
                                        &:has(li:nth-child(3)) {
                                            grid-template-columns: repeat(2, 310px);
                                            @media(max-width: 1200px) {
                                                grid-template-columns: repeat(2, 1fr);
                                            }
                                        }
                                        @media (max-width: 1200px) { 
                                            gap: 5px 20px;
                                        }
                                        @media (max-width: 992px) { 
                                            gap: 3px;
                                            grid-template-columns: 100% !important;
                                        }
                                        li {
                                            a:not(.btn) {
                                                padding: 15px 15px 13px;
                                                display: block;
                                                text-decoration: none;
                                                @include border-radius(3px);
                                                line-height: 1;
                                                .menu-name {
                                                    font-weight: 600;
                                                    font-size: clamp(15px, 1vw, 18px);
                                                    color: var(--black);
                                                    line-height: 1;
                                                    margin-bottom: 3px;
                                                    text-underline-offset: 5px;
                                                }
                                                .menu-info {
                                                    font-weight: 400;
                                                    font-size: 12px;
                                                    color: #787878;
                                                    display: inline-block;
                                                    line-height: 1.3;
                                                }
                                                &:hover, &:focus {
                                                    background: #F4F9FD;
                                                    .menu-name {
                                                        text-decoration: none;
                                                    }
                                                }
                                            }
                                            &.current-menu-item {
                                                a:not(.btn) {
                                                    background: #F4F9FD;
                                                    .menu-name {
                                                        text-decoration: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .img-content-menu-block {                                    
                                    @media (max-width: 992px) {
                                        margin: 0 10px;
                                    }
                                    a {
                                        img {
                                            @include transition(0.05s, ease-in-out);
                                        }
                                        &:hover, &:focus {
                                            img {
                                                opacity: 0.8;
                                            }
                                        }
                                    }
                                }
                            }
                            .sub-menu-bottom {
                                @include flexbox;
                                @include align-items(center);
                                gap: 15px;
                                padding: 15px 30px;
                                border-top: 5px solid var(--darkblue);
                            }
                        }
                    }
                }
                &:hover, &:focus {
                    & > a:not(.btn) {
                        color: var(--primary);
                        text-decoration: none;
                        &::before {
                            width: 100%;
                            left: 0;
                            right: auto;
                        }
                    }
                    &.menu-item-has-children {
                        & > a:not(.btn) {
                            &::after {
                                filter: unset;
                                margin-top: 0;
                                margin-bottom: 2px;
                                animation: .3s menuArrowMoveIn ease-in-out forwards;
                            }
                        }
                        @media (min-width: 992px) {
                            .sub-menu {
                                opacity: 1;
                                visibility: visible;
                                @include transform(translate(-50%, 0));
                            }
                            &.mega-menu {
                                .sub-menu {
                                    @include transform(translateY(0px));
                                }
                            }
                        }
                    }
                }
                &.current-menu-item { 
                    a {
                        color: var(--primary);
                        text-decoration: none;
                        &::before {
                            width: 100%;
                            left: 0;
                            right: auto;
                        }
                    }
                    &.menu-item-has-children {
                        a {
                            &::after {
                                filter: unset;
                            }
                        }
                    }
                }
            }
        }
        .mobile-bottom-menu {
            @media (min-width: 992px) {
                display: none;
            } 
            @media (max-width: 992px) {
                padding: 15px;
                width: 100%;
                border-top: 1px solid #EEEEEE;
                text-align: center;
                a {
                    width: 100%;
                }
            }
        }
        .nav-right {
            margin-left: 40px;
            @include flexbox;
            @include align-items(center);
            gap: 20px;
            @media (max-width: 1200px) {
                margin-left: 20px;
            }
            @media (max-width: 992px) {
                margin-left: 15px;
                gap: 20px;
                .btn {
                    &.btn-primary {
                        background: transparent !important;
                        color: var(--black) !important;
                        border-color: transparent !important;
                        text-underline-offset: 5px;
                        padding: 0 !important;
                        .icons {
                            filter: brightness(0);
                        }
                        &:hover, &:focus {
                            text-decoration: underline !important;
                        }
                    }
                }
            }
            .navbar-toggler {
                @media (min-width: 992px) {
                    display: none;
                }
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 5px;
                cursor: pointer;
                padding: 0px;
                z-index: 10;
                width: 40px;
                height: 40px;
                background: #F4F9FD;
                border: 1px solid transparent;
                border-radius: 3px;
                line-height: 1;
                span {
                    width: 18px;
                    height: 2px;
                    background-color: var(--black);
                    @include border-radius(2px);
                    display: block;
                    @include transition(0.1s, ease-in-out);
                }
                &:hover,
                &:active,
                &:focus {
                    span {
                        background-color: var(--primary);
                    }
                }
                &.is-visible {
                    span:nth-child(1) {
                        @include transform(translateY(7px) rotate(135deg));
                    }
                    span:nth-child(2) {
                        @include opacity(0);
                        visibility: hidden;
                        left: 0;
                    }
                    span:nth-child(3) {
                        @include transform(translateY(-7px) rotate(-135deg));
                    }
                }
            }
        }
    }
}
@keyframes menuArrowMoveIn {
    0% {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }

    49% {
        -webkit-transform: translateY(8px) scaleX(0.5);
        transform: translateY(8px) scaleX(0.5);
        opacity: 0
    }

    50% {
        -webkit-transform: translateY(8px) scale(0.5, -1);
        transform: translateY(8px) scale(0.5, -1);
        opacity: 0
    }

    to {
        -webkit-transform: translateY(0) scaleY(-1);
        transform: translateY(0) scaleY(-1);
        opacity: 1
    }
}
@keyframes menuArrowMoveOut {
    0% {
        -webkit-transform: translateY(0) scaleY(-1);
        transform: translateY(0) scaleY(-1);
        opacity: 1
    }

    49% {
        -webkit-transform: translateY(-8px) scale(0.5, -1);
        transform: translateY(-8px) scale(0.5, -1);
        opacity: 0
    }

    50% {
        -webkit-transform: translateY(-8px) scaleX(0.5);
        transform: translateY(-8px) scaleX(0.5);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}
.bg-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
    &.is-visible {
        opacity: 1;
        z-index: 3;
    }
}