.main-conten-wrapper {
    min-height: 100vh;
}
// Main Section CSS
.theme-section {
    padding: 100px 0;
    clear: both;
    content-visibility: auto;
    @media (max-width: 992px) {
        padding: 70px 0;
    }
    @media (max-width: 767px) {
        padding: 50px 0;
    }

    &.bg-none:not(.bg-custom) {
        background-image: none !important;
    }

    &.bg-custom {
        background-color: var(--gs-bg, #fff) !important;
    }

    &.is-custom {
        *:not(a) {
            color: var(--gs-text, #fff);
        }

        .section-title {
            *:not(a) {
                color: var(--gs-text, #fff);
            }
        }
    }

    &.section-title-flex {
        .section-title {
            @include flexbox;
            @include align-items(flex-end);
            @include justify-content(space-between);
            @include flex-wrap(wrap);
            gap: 10px;
            @media (max-width: 767px) {
                gap: 0;
                @include flex-direction(column);
                @include align-items(flex-start);
            }
            .left-block {
                max-width: 700px;
            }
        }
    }

    &.section-title-mw-530 {
        .section-title {
            max-width: 530px;
            @media (max-width: 992px) {
                max-width: 100%;
            }
        }
    }

    &.section-title-mw-600 {
        .section-title {
            max-width: 600px;
            @media (max-width: 992px) {
                max-width: 100%;
            }
        }
    }

    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
        }
    }

    &.section-title-mw-950 {
        .section-title {
            max-width: 950px;
        }
    }

    @media (min-width: 992px) {
        &.section-title-mw-80 {
            .section-title {
                max-width: 80%;
            }
        }

        &.section-title-mw-90 {
            .section-title {
                max-width: 90%;
            }
        }
    }
}

// Section Title CSS
.section-title {
    margin-bottom: 50px;
    @media (max-width: 992px) {
        margin-bottom: 30px;
    }
    &.text-center {
        margin: 0 auto 50px;
        text-align: center;
        @media (max-width: 992px) {
            margin: 0 auto 30px;
        }
    }
    &.sticky-title {
        position: sticky;
        top: 150px;
    }
    .tagline {
        display: inline-block;
        margin-bottom: 10px;
        font-family: var(--font-allerta);
        color: var(--primary);
        font-weight: 400;
        font-size: clamp(13px, 2vw, 14px);
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }

    h1,
    h2,
    h3 {
        margin-bottom: 20px;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    .sort-info {
        color: var(--lightblack);
        h3 {
            font-weight: 400;
        }

        h4 {
            margin-bottom: 16px;
        }

        img {
            margin-top: 30px;
        }

        a {
            margin-bottom: 5px;
            display: inline-block;
        }
    }

    .info-list-cards,
    .counter-cards {
        margin-top: 16px;
    }

    .action {
        margin-top: 40px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-start);
        @include flex-wrap(wrap);
        gap: 10px 12px;
        @media (max-width: 992px) {
            gap: 10px;   
            margin-top: 20px;          
        }
    }

    & *:last-child {
        margin-bottom: 0px !important;
    }
}

// Page Header
.page-header {
    padding: 50px 0;
    @media (max-width: 767px) {
        padding: 15px 0 50px;
    }
    .section-title {
        @include flexbox;
        @include align-items(flex-end);
        @include justify-content(space-between);
        gap: 90px;
        @media (max-width: 1400px) {
            gap: 50px;
        }
        @media (max-width: 992px) {
            gap: 30px;
        }
        @media (max-width: 767px) {
            gap: 10px;
            @include flex-direction(column);
            @include align-items(flex-start);
            margin-top: 30px;
            margin-bottom: 0;
        }
        .title {
            font-size: clamp(30px, 5vw, 54px);
        }
        .sort-info {
            font-size: clamp(16px, 2vw, 18px);
        }
        .action {
            margin-top: 30px;
            gap: 30px;
            @media (max-width: 992px) {
                margin-top: 20px;
                gap: 15px;
            }
        }
        .right-block {
            max-width: calc(50% - 45px);
            @media (max-width: 1400px) {
                max-width: calc(50% - 25px);
            }
            @media (max-width: 992px) {
                max-width: calc(50% - 15px);
            }
            @media (max-width: 767px) {
                max-width: 100%;
            }
            & > *:last-child {                
                margin-bottom: 4px !important;
            }
        }
    }
}