.main-header {  
    border-bottom: 1px solid #E2E5EE; 
    position: relative;
    background: $white;
    z-index: 4;
    &.fixed-header {
        position: sticky;
        top: 0;
        .header-top {
            height: 0;
            display: none;
        }
        .navbar ul li.menu-item-has-children::after {
            top: 87px;
        }
    }   
    .navbar {
        padding: 0;
        position: unset;
        .container {
            @include flexbox;
            @include align-items(center);
            @media (max-width: 992px) {
                max-width: 100%;
            }
        }
        ul {                
            @include flexbox;
            @include align-items(center);
            gap: 15px;
            @media (max-width: 1200px) {
                gap: 0px;
            }
            li {                
                a {
                    font-size: 16px;
                    font-weight: 600;
                    color: $black;
                    text-decoration: none;
                    position: relative;
                    @include transition(0.05s, ease-in-out);
                    @include border-radius(30.08px);
                    @include inline-flex;
                    @include align-items(center);
                    @media (max-width: 1200px) {
                        font-size: 14px;
                    }
                    &.with-icon {
                        .icon {
                            margin-right: 8px;
                            display: inline-block;
                            line-height: 0.7;
                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
                &:hover, &:focus, &.current-menu-item {
                    & > a {
                        &:not(.btn) {
                            box-shadow: 12px 0 #f7f6fd, -12px 0 #f7f6fd,inset 0 0 0 100px #f7f6fd;
                        }
                    }                    
                }
                &.menu-item-has-children {
                    position: relative;
                    & > a {
                        @include flexbox;
                        @include align-items(center);
                        @media (min-width: 1200px) {
                            &::after {
                                content: '';
                                background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path stroke="rgb(0 0 0)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m4 7 4 4 4-4"></path></svg>') no-repeat center center;
                                width: 16px;
                                height: 16px;
                                line-height: 0.7;
                                margin-left: 5px;
                                margin-top: 1px;
                                @include transition(0.2s, ease-in-out);
                            }
                        }
                        &::before {
                            content: '';
                            width: 100%;
                            height: 12px;
                            position: absolute;
                            bottom: -12px;
                        }
                    }
                    .arrow {
                        @media (min-width: 1200px) {
                            display: none;
                        }
                        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path stroke="rgb(0 0 0)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m4 7 4 4 4-4"></path></svg>');
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        position: absolute;
                        right: 15px;
                        top: 16px;
                        @include border-radius(4px);
                        @include transition(0.2s, ease-in-out);
                        &.is-active {
                            @include transform(rotate(180deg));
                            background-color: #F7F6FD;
                        }
                        &:hover, &:focus {
                            background-color: #F7F6FD;
                        }
                    }
                    .sub-menu {
                        @media (min-width: 1200px) {  
                            position: absolute;
                            top: calc(100% + 8px);
                            left: 50%;
                            display: block;
                            min-width: 240px;
                            padding: 10px 0;
                            opacity: 0;
                            pointer-events: none;
                            background: $white;
                            border: 1px solid #d4d6e5;
                            @include transition(0.05s, ease-in-out);
                            @include transform(rotateX(-20deg) translateX(-50%));
                            @include border-radius(8px);
                            z-index: 9;
                            @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.04));
                            &::before, &::after {
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-bottom: 5px solid $white;
                                top : -5px;
                                content: '';
                                right: calc(50% - 3px);
                                position: absolute;
                            }
                            &::before {
                                border-left: 6px solid transparent;
                                border-right: 6px solid transparent;
                                border-bottom: 6px solid #D4D6E5;
                                top : -6px;
                                right: calc(50% - 4px);
                            }
                            & > .menu-item-has-children {
                                @media (min-width: 1200px) {
                                    &::after {
                                        content: none
                                    }
                                    & > a {
                                        display: flex !important;
                                        @include align-items(center);
                                        @include justify-content(space-between);
                                        &::after {
                                           display: inline-block;
                                        }
                                    }
                                }
                                .sub-menu {
                                    @media (min-width: 1600px) {
                                        top: 0;
                                        left: 100%;
                                        right: auto;
                                        margin-left: 10px;
                                        opacity: 0;
                                        &::before, &::after {
                                            border-left: 6px solid transparent;
                                            border-right: 6px solid $white;
                                            border-top: 6px solid transparent;
                                            border-bottom: 6px solid transparent;
                                            top: 12px;
                                            left: -12px;
                                            right: auto;
                                        }
                                        &::before {
                                            border-right: 6px solid #D4D6E5;
                                            left: -13px;
                                            right: auto;
                                        }
                                    }
                                }
                                &:hover, &:focus {
                                    & > a {
                                        background: #F7F6FD;
                                        &::after {
                                           @include transform(rotate(270deg))
                                        }
                                    }
                                    .sub-menu {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        @media (max-width: 1200px) {
                            display: none;
                            margin-left: 0; 
                            width: 100%; 
                        }
                        li {
                            padding: 0 8px;
                            a:not(.btn) {
                                display: block;
                                font-weight: 500;
                                padding: 8px;
                                font-size: 14px;
                                margin: 0;
                                height: auto;
                                @include border-radius(5px);
                            }
                            &:hover, &:focus {
                                & > a {
                                    background: #F7F6FD;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                    &:hover, &:focus {
                        &:not(.mega-menu) {
                            @media (min-width: 1200px) {
                                &::after {
                                    opacity: 1;
                                }
                            }
                            & > a {
                                @media (min-width: 1200px) {
                                    &::after {
                                        @include transform(rotate(180deg));
                                    }
                                }
                            }
                        }
                        .sub-menu {
                            @media (min-width: 1200px) {                        
                                opacity: 1;
                                pointer-events: auto;
                                visibility: visible;
                                @include transform(rotateX(0deg) translate3d(-50%, 0, 0));
                            }
                        }
                    }
                }
            }
        }
    }
    .header-top {
        border-bottom: 1px solid #D4D6E5;
        @include flexbox;
        @include align-items(center);
        width: 100%;
        padding: 10px 0;
        @media (max-width: 1200px) {
            display: none;
        }
        .info-menu {    
            @include flexbox;
            @include align-items(center);    
            gap: 18px;   
            flex-grow: 1;
            ul {
                @media (max-width: 1200px) {
                    gap: 8px;
                }
                li {
                    a {
                        font-size: 13px;
                        text-transform: uppercase;
                        background: #F7F6FD;
                        height: 36px;
                        padding: 0 12px;
                        @media (max-width: 1400px) {
                            font-size: 12px;
                        }
                        &:hover, &:focus, &:active {
                            box-shadow: none;
                            background: #EEEDF4;
                        }
                        &.with-icon {
                            &.phone {
                                font-family: $font-geist;
                                font-weight: 700;
                                white-space: nowrap;
                            }
                            .icon {                            
                                filter: none !important;
                            }
                        }
                    }
                }
            }
            .search-block {
                width: 100%;
                .search-input {
                    @include border-radius(6px);
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 0;
                    .icon-search {
                        width: 16px;
                        position: absolute;
                        left: 12px;
                        z-index: 9;
                        top: calc(50% - 8px);
                        @include inline-flex;
                        @include align-items(center);
                    }
                    input {
                        border: none;
                        height: 32px;
                        border: 1px solid #D4D6E5;
                        padding: 0 12px 0 35px;
                        margin-left: 0 !important;
                        @include border-radius(6px 0 0 6px !important);
                        font-size: 12px;
                        font-weight: 500;
                    }
                    .btn {
                        min-height: 32px;
                        min-width: auto;
                        padding: 5px;   
                        z-index: 9;                    
                        @include border-radius(0 6px 6px 0 !important);
                        transform: none !important;
                        @include transition(0.1s, ease-in-out !important);
                        &:hover, &:focus {
                            background-color: #4ebd94 !important;
                            border-color: #4ebd94 !important;
                        }
                    }
                }
            }
        }
        .top-right-menu {
            margin-left: 18px;
            ul {
                & > li {   
                    &:last-child {
                        padding-right: 0;
                    }
                    a {
                        font-weight: 500;
                        font-size: 14px;
                        height: 36px;
                        margin: 0 5px;
                        @media (max-width: 1400px) {
                            font-size: 12px;
                            padding: 8px 10px;
                        }
                        &.btn {
                            min-height: 36px;
                            font-size: 12px;
                            min-width: auto;
                            text-transform: uppercase;
                            padding: 8px 18px;
                            margin: 0;
                            @media (max-width: 4200px) {
                                padding: 5px 18px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .header-main-menu {
        width: 100%;
        position: sticky;
        top: 0;
        left: 0; 
        height: 60px;
        box-shadow: 0 0 4px #d4d6e5;
        @include flexbox;
        @include align-items(center);
        &::before, &::after {
            content: '';
            height: 100%;
            width: 1px;
            background: #D4D6E5;
            position: absolute;
            top: 0;
            left: 6vw;
            z-index: 5;
            @media (max-width: 1500px) {
                left: 2vw;
            }
            @media (max-width: 992px) {
                content: none;
            }
        }
        &::after {
            left: auto;
            right: 6vw;
            @media (max-width: 1500px) {
                right: 2vw;
            }
            @media (max-width: 992px) {
                content: none;
            }
        }
        @media (min-width: 767px) {
            height: 80px;
        }
        .logo-block {
            .navbar-brand {
                margin-right: 30px;
                @media (max-width: 767px) {
                    margin-right: 10px;
                }
                img {
                    height: 55px;
                    @media (max-width: 767px) {
                        min-width: 124px;
                        max-height: 23px;
                    }
                }  
            }
        }
        .main-menu {
            margin-left: auto;
            @media (min-width: 1200px) {
                height: inherit;
                .menu-content {
                    height: inherit;
                }
            }
            @media (max-width: 992px) {
                margin-right: -11.2px;
            }  
            ul.main-menu-list {
                @media (min-width: 1200px) {
                    height: inherit;
                    gap: 30px;
                }
                & > li {
                    @media (min-width: 1200px) {
                        height: inherit;
                        display: inline-flex;
                        align-items: center;                  
                        &:nth-child(3) {
                            &.menu-item-has-children {
                                .sub-menu {
                                    left: auto;
                                    right: 0;
                                    transform: rotateX(-20deg) translateX(0%);
                                    &::before {
                                        right: 40px;
                                    }
                                    &::after {
                                        right: 41px;
                                    }
                                }
                                &:hover, &:focus {
                                    .sub-menu {
                                        transform: rotateX(0deg) translate3d(0%, 0, 0);
                                    }
                                }
                            }
                        }
                    }
                    a {
                        display: inline-flex;
                        @media (min-width: 1200px) {
                            height: 36px;
                        }

                    } 
                } 
            }
            &.mobile-menu {
                @media (min-width: 1200px) {
                    .mobile-top-menu, .mobile-bottom-menu {
                        display: none;
                    }
                }
                @media (max-width: 1200px) {  
                    position: fixed;
                    top: 0;
                    left: 0;  
                    width: 100%;
                    height: 100%;   
                    z-index: 6;          
                    @include transform(translateX(-110%));  
                    background: transparent;   
                    transition: transform 0.3s ease-in-out 0.2s, background 0.3s ease-in-out;
                    .menu-content {
                        max-width: 320px;
                        height: calc(100% - 30.08px);
                        background: $white;
                        margin: 15px;                        
                        @include border-radius(15px);
                        @include flexbox;
                        @include flex-direction(column);   
                    }
                    .main-menu-list {
                        @include flex-direction(column);
                        @include align-items(flex-start);
                        flex: 1 1 auto;
                        overflow: hidden;
                        overflow-y: auto;
                        li { 
                            width: 100%;
                            border-bottom: 1px solid #d4d6e5;
                            a {
                                @include border-radius(0);
                                display: block;
                                padding: 16px;
                                font-size: 18px;
                                line-height: 1.1;
                            }
                            .sub-menu {
                                padding: 8px 8px;
                                min-width: 100%;
                                li {
                                    border: none;
                                    padding: 0;
                                    margin-bottom: 2px;
                                    a {
                                        padding: 8px;
                                        display: block;
                                        @include border-radius(4px);
                                        font-size: 14px;
                                        &:hover, &:focus {
                                            background: #F7F6FD
                                        }
                                    }
                                }
                            }
                            &:hover, &:focus, &:active {
                                a {
                                    background: transparent;
                                }
                            }
                        }
                    }
                    &.is-open {
                        background: rgba($black, 0.5);
                        @include transform(translateX(0));                          
                        transition: background 0.3s ease-in-out 0.2s, transform 0.3s ease-in-out;

                    }
                    .mobile-top-menu {
                        @include flexbox;
                        @include align-items(center);
                        padding: 16px;
                        // margin-bottom: 8px;
                        .menu-close {
                            width: 24px;
                            height: 24px;
                            @include flexbox;
                            @include align-items(center);
                            @include justify-content(center);
                            @include border-radius(6px);
                            background-color: #f7f6fd;
                            svg {
                                width: 8px;
                            }
                            &:hover, &:focus {
                                background: #F7F6FD;
                            }
                        }
                        .contact-link {
                            font-size: 13px;
                            font-weight: 700;
                            font-family: $font-geist;
                            text-decoration: none;
                            color: $black;
                            @include flexbox;
                            @include align-items(center);
                            padding: 8px 12px;
                            margin-left: auto;
                            @include border-radius(32px);
                            @include transition(0.05s, ease-in-out);
                            .icon {
                                margin-right: 5px;
                                @include inline-flex;
                                @include align-items(center);
                                @include justify-content(center);
                                svg {                                    
                                    width: 16px;
                                    height: 16px;
                                    flex: none;
                                }
                            }
                            &:hover, &:focus {
                                background: #F7F6FD;
                            }
                        }
                    }
                    .menu-title {
                        font-size: 24px;
                        font-weight: 700;
                        color: $black;
                        font-family: $font-geist;
                        margin-bottom: 16px;
                        padding: 0 16px;
                    }
                    .mobile-bottom-menu {
                        border-top: 1px solid #EEEDF8;
                        ul {
                            li {
                                padding: 8px;
                                &:not(:last-child) {
                                    border-right: 1px solid #EEEDF8;
                                }
                                a {
                                    @include flexbox;
                                    font-size: 12px;
                                    padding: 8px 10px;
                                    .icon {
                                        margin-right: 5px;
                                    }
                                    svg {
                                        width: 13px;
                                        height: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .sidebar-toggler {
            @media (min-width: 1200px) {
                display: none;
            }
            border: none;
            background: #F7F6FD;
            width: 36px;
            height: 36px;
            margin-left: 10px;
            padding: 0;
            @include border-radius(3px);
            span {
                width: 16px;
                height: 2px;
                background: $black;
                display: block;
                margin: 3px auto;
            }
        }
        .right-menu {
            @media (min-width: 1200px) {
                display: none;
            }
            @include flexbox;
            @include align-items(center);
            margin-left: auto;
            .btn {
                min-width: auto;
                height: 36px;
                flex: none;
                padding: 8px 12px;
                &.btn-yellow {
                    width: 36px;     
                    margin-right: 10px;               
                    .icon {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    &.fixed-header {
        .header-main-menu {
            z-index: 9;
            width: 100%;
            background: $white;
        }
    }
}
.bg-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 145px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
    &.is-visible {
        opacity: 1;
        z-index: 3;
    }
}