@import "../../assets/css/scss/mixins";

.hero-section {
    padding: 60px 0;
    background: linear-gradient(96.39deg, rgba(202, 224, 240, 0.8) 0.12%, rgba(243, 248, 251, 0.7) 49.04%, rgba(202, 224, 240, 0.3) 99.88%), url('../../assets/images/img-bg-vector-r.png') no-repeat top right;
    background-size: auto;
    .hero-title {
        @media (max-width: 767px) {
            margin-top: 30px;
        }
        .tagline {
            font-family: var(--font-allerta);
            font-weight: 400;
            font-size: clamp(13px, 2vw, 14px);
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: var(--primary);
            margin-bottom: 10px;
        }
        .title {
            margin-bottom: 20px;
            line-height: 1.1;
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
        .sort-info {
            font-size: clamp(16px, 2vw, 18px);
        }
        .action {
            margin-top: 40px;
            @media (max-width: 767px) {
                margin-top: 30px;
            }
        }
    }
    .media-block {
        display: grid;
        grid-template-columns: 180px 1fr;
        gap: 18px;
        background: transparent;
        max-width: 500px;
        margin-left: auto;
        @media (max-width: 992px) {
            grid-template-columns: 150px 1fr;
        }
        @media (max-width: 767px) {
            max-width: 100%;
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;
        }
        img {
            height: 100%;
            max-height: 450px;
            @media (max-width: 767px) {
                width: 100%;
                max-height: 250px;
            }
            @media (max-width: 575px) {
                width: 100%;
                max-height: 200px;
            }
            &:nth-child(1) {
                grid-column: 1;
                grid-row: 1;
                @media (max-width: 767px) {
                    grid-column: 1;
                    grid-row: 2;
                }
            }
            &:nth-child(2) {
                grid-column: 1;
                grid-row: 2;
                @media (max-width: 767px) {
                    grid-column: 2;
                    grid-row: 2;
                }
            }
            &:nth-child(3) {
                grid-column: 2;
                grid-row: 1 / span 2;
                @media (max-width: 767px) {
                    grid-column: 1 / span 2;
                    grid-row: 1;
                }
            }
        }
    }
}