@import "scss/mixins";

.related-post-section {
    .related-post-splide {
        @media (max-width: 1200px) {
            padding-bottom: 40px;
        }
        @media (max-width: 992px) {
            margin: 0 -15px;
        }
        .splide__pagination {
            bottom: 0px;
        }
    }
}
.post-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    position: relative;
    @media (max-width: 1200px) {
        max-width: 300px;
    }
    .card-img {
        margin-bottom: 20px;
        img {
            @include transition(0.2s, ease-in-out);
        }
    }
    .card-body {
        @include flexbox;
        @include flex-direction(column);
        .post-cat-meta {
            z-index: 5;
            margin-bottom: 10px;  
            @include flexbox;
            @include flex-wrap(wrap);          
            .post-category {
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: var(--primary);
                font-family: var(--font-allerta);
                text-underline-offset: 4px;
                line-height: 1;
                &:hover, &:focus {
                    color: var(--black);
                }
            }
            .post-date {
                font-weight: 400;
                font-size: 11px;
                color: rgba(48, 48, 48, 0.6);
                display: inline-block;
                margin-left: auto;
            }
        }
        .card-title {
            font-size: clamp(16px, 2vw, 18px);
            flex: 1 1 auto;
            a {
                color: var(--black);
                text-decoration: none;
                display: block;
            }
        }
        .post-meta {
            margin-top: 20px;
            .user-info {
                @include flexbox;
                @include align-items(center);
                gap: 10px;
                .user-img {
                    width: 32px;
                    height: 32px;
                    flex: none;
                }
                .info {
                    line-height: 1;
                    .name {
                        font-weight: 400;
                        font-size: 13px;
                        color: #000000;
                        margin-bottom: 2px;
                    }
                    span {
                        font-weight: 400;
                        font-size: 11px;
                        color: rgba(48, 48, 48, 0.6);
                        display: inline-block;
                    }
                }
            }
        }
    }
    &:hover, &:focus {
        .card-img {
            img {
                opacity: 0.8;
            }
        }
        .card-body {
            .card-title {
                a {
                    color: var(--primary);
                    text-decoration: none;
                }
            }
        }
    }
}