@import "scss/mixins";

.related-post-section {
    .related-post-splide {
        @media (max-width: 1200px) {
            padding-bottom: 40px;
        }
        @media (max-width: 992px) {
            margin: 0 -15px;
        }
        .splide__pagination {
            bottom: 0px;
        }
    }
}
.post-card{
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    position: relative;
    @media (max-width: 1200px) {
        max-width: 300px;
    }
    .card-img {
        margin-bottom: 20px;
        img {
            @include transition(0.2s, ease-in-out);
        }
    }
    .card-body {
        @include flexbox;
        @include flex-direction(column);
        .card-title {
            font-size: clamp(18px, 2vw, 20px);
            flex: 1 1 auto;
            margin-bottom: 20px;
            a {
                color: var(--black);
                text-decoration: none;
                display: block;
                text-underline-offset: 5px;
            }
        }
        .post-meta {
            .user-info {
                @include flexbox;
                @include align-items(center);
                gap: 10px;
                .user-img {
                    width: 32px;
                    height: 32px;
                    flex: none;
                }
                .info {
                    line-height: 1;
                    .name {
                        font-weight: 400;
                        font-size: 14px;
                        color: #000000;
                        margin-bottom: 5px;
                    }
                    span {
                        font-weight: 400;
                        font-size: 12px;
                        color: rgba(48, 48, 48, 0.6);
                        display: inline-block;
                    }
                }
            }
        }
    }
    &:hover, &:focus {
        .card-img {
            img {
                opacity: 0.8;
            }
        }
        .card-body {
            .card-title {
                a {
                    color: var(--primary);
                    text-decoration: underline;
                }
            }
        }
    }
}