.cta-block {
    background-color: #001530;
    background-image: linear-gradient(89.99deg, #001530 25.18%, rgba(0, 21, 48, 0) 66.92%), url(../images/img-cta-bg.jpg);
    background-repeat: no-repeat;
    background-position: left, calc(100% + 70px) center;
    background-size: cover;
    padding: 70px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    &::after {
        content: '';
        background-image: url(../images/cta-logo-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 100%;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: 15px;
        left: 25%;
        z-index: 2;
    }
    @media (max-width: 992px) {
        padding: 50px;
    }
    @media (max-width: 767px) {
        padding: 30px;
        background-image: linear-gradient(89.99deg, #001530 45.18%, rgba(0, 21, 48, 0) 86.92%), url(../images/img-cta-bg.jpg);
    }
    @media (max-width: 575px) {        
        &::after {
            content: none;
        }
    }
    .section-title {
        margin-bottom: 0;
        h2 {
            color: #ffffff;
        }
    }
    &.only-bg {
        background: #001530;
        padding: 50px;
        &::after {
            top: 6px;
            left: auto;
            right: 200px;
        }
        .section-title {
            display: flex;
            align-items: center;
            gap: 20px;
            h2 {
                margin: 0;
            }
            .action {
                margin: 0;
                margin-left: auto;
            }
        }
    }
}