.icon-info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    .card-icon {
        margin-bottom: 20px;
        img {
            width: 60px; 
            align-self: 1 / 1;
        }
    }
    .card-body {
        .card-title {
            margin-bottom: 10px;
            color: #001530;
        }
        .card-info {
            font-size: 16px;
            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
    }
    &.with-bg-icon {
        .card-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f6f6f6;
            padding: 20px;
            border-radius: 50%;
            img {
                width: 50px;
            }
        }
    }
}