:root {
    --black: #000000;
	--white: #ffffff;
	--white-smoke: #f1f3f6;

	--primary: #ed0400;
	--orange: #e34328;
	--darkblack: #0d0e10;
	--slate-grey: #6e7687;
	--lightblack: #303030;
	--royal-blue: #145aff;
	--gray: #f1f3f6;

	--success-green: #027a48;
	--success-green-light: #ecfdf3;
	--error-red: #eb2010;
	--error-red-light: #ffe0dd;

}