@import "../../assets/css/scss/mixins";

.info-card-section {
    .info-card {
        @include flexbox;
        @include flex-direction(column);
        height: 100%;
        padding: 30px;
        border: 1px solid #E6E6E6;
        @media (max-width: 1200px) {
            padding: 20px;
        }
        .card-title {
            font-size: clamp(16px, 2vw, 20px);
            margin-bottom: 10px;
        }
        .card-info {
            color: var(--dark-black);
        }
        &.is-image {
            padding: 0;
            .card-img {
                height: 100%;
                width: 100%;
                @media (max-width: 992px) {
                    max-height: 180px;
                }
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}