.categories-list-block {
    .categories-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        &.grid-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.grid-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.grid-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }
    }
    .category-item {
        padding: 15px 20px;
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border-radius: 10px;
        text-decoration: none;
        border: 1px solid transparent;
        transition: all 0.2s ease-in-out;
        .icon {
            margin-right: 10px;
            img {
                max-height: 35px;
            }
        }
        .category-content {
            .title {
                font-size: 16px;
                font-weight: 500;
                color: #000000;
                line-height: 1.3;
            }
        }
        &:hover, &:focus {
            background: #FBFCFF;
            border-color: #E2E6EE;
        }
    }
}