.hero-section {
    padding: 70px 0;
    @media (max-width: 767px) {
        padding: 50px 0;
    }
    .hero-title {
        .tag-line {
            background: rgba(#2A396D, 0.11);
            padding: 3px 5px 2px;
            font-size: 12px;
            display: inline-block;
            border-radius: 5px;
            color: #2A396D;
            margin-bottom: 10px;
        }
        h1 {
            margin-bottom: 15px;
        }
        .sort-info {
            color: #000000;
            font-size: 16px;
        }
        .action {
            margin-top: 30px;
        }
    }
    .testinomials-slider-block {
        margin-top: 50px;
        padding-top: 20px;    
        border-top: 1px solid #D1E3FF;
        @media (max-width: 992px) {
            margin-bottom: 40px;
        }
        .testimonial-splide {
            padding-bottom: 15px;    
            max-width: 360px;
        }
        .testimonial-card {
            display: flex;
            align-items: flex-start;
            gap: 15px;
            .user-info {
                .user-img {
                    img {
                        min-width: 34px;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                    }
                }
            }
            .card-icon {
                display: none;
            }
            .card-info {
                color: #2A396D;
                font-size: 12px;
                p {
                    margin-bottom: 8px;
                }
                .class-info {
                    font-size: 10px;
                }
            }
        }
    }
    .classes-splide {
        .splide__track {
            padding-bottom: 25px;
            border-radius: 10px;
        }
    }
    .classes-icon-card {
        border: 1px solid #E2E5EE;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(42, 57, 109, 0.1);
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        .card-icon {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            img {
                max-height: 50px;
            }
        }
        .card-title {            
            background: #F2F6FF;
            padding: 10px 20px;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
        }
    }
}