@import "../../assets/css/scss/mixins";

.tab-section {
    padding: 0;
    background: linear-gradient(90deg,#F4F5F7 50%, #EAECEF 50%);
    @media (max-width: 992px) {
        background: none;
    }
    .tab-block {
        display: grid;
        grid-template-columns: 420px auto;
        @media (max-width: 1200px) {
            grid-template-columns: 350px auto;
        }
        @media (max-width: 992px) {
            grid-template-columns: 100%;
        }
        .tab-nav-block {
            background: #F4F5F7;
            padding: 80px 80px 80px 0;
            @media (max-width: 1200px) {
                padding: 80px 40px 80px 0px;
            }
            @media (max-width: 992px) {
                padding: 50px 15px;
                margin: 0 -15px;
                .section-title {
                    margin-bottom: 0;
                }
            }
            .tab-nav {
                max-width: 100%;
                @media (max-width: 992px) {
                    max-width: 100%;
                    flex-direction: row !important;
                    gap: 0 30px;
                }
                .btn-link-arrow {
                    text-align: left;
                    padding: 10px 0;
                    font-weight: 400;
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.6);
                    @include border-radius(0);
                    width: 100%;
                    border: none;
                    background: transparent;
                    &:not(:last-child) {
                        border-bottom: 1px solid #e5e5e5;
                    }
                    .arrow-icon {
                        margin-left: auto;
                        &::before {
                            background-size: 12px;
                            filter: contrast(0.3);
                        }
                    }
                    &.active, &:hover, &:focus {
                        color: var(--primary);
                        .arrow-icon {
                                &::before {
                                filter: unset;
                            }
                        }
                    }
                    &.active {
                        font-weight: 500;
                    }
                }
            }
        }
        .tab-content-block {
            background: #EAECEF;
            padding: 80px 0px 80px 80px;
            @media (max-width: 1200px) {
                padding: 80px 0px 80px 40px;
            }
            @media (max-width: 992px) {
                margin: 0 -15px;
                padding: 0;
            }
            .tab-pane {
                @media (max-width: 992px) {
                    display: block;
                    opacity: 1; 
                    &:not(:last-child) {
                        border-bottom: 1px solid #dfdbdb;
                    }    
                }
            }
            .tab-content-collapse-title {
                display: none;
                @media (max-width: 992px) {
                    display: block;
                    background: #eaecef;
                    .btn-link-arrow {
                        width: 100%;
                        border: none;
                        padding: 15px;
                        background: rgba(233, 235, 239, 1);
                        .arrow-icon {
                            margin-left: auto;
                            &::before {
                                background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z" fill="rgb(35 63 97)" /></svg>') no-repeat center center;
                                background-size: 15px !important;
                            }
                        }
                        &:hover, &:focus {
                            .arrow-icon {
                                &::before {
                                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z" fill="rgb(255 255 255)" /></svg>') no-repeat center center;
                                }
                            }
                        }
                        &.is-open {
                            .arrow-icon {
                                margin-left: auto;
                                &::before {
                                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320z" fill="rgb(35 63 97)"/></svg>') no-repeat center center;
                                    background-size: 15px !important;
                                }
                            }                            
                           
                            &:hover, &:focus {
                                .arrow-icon {
                                    &::before {
                                        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320z" fill="rgb(255 255 255)"/></svg>') no-repeat center center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .tab-content-collapse-body {
                @media (max-width: 992px) {
                    display: none;
                    padding: 30px 15px;
                }
            }
            .tab-info {
                .title {
                    margin-bottom: 20px;
                }
                ul {
                    margin-top: 20px;
                }
                .action {
                    margin-top: 40px;
                    @media (max-width: 992px) {
                        margin-top: 30px;
                    }
                }
            }
            .media-block {
                @include border-radius(16px);
                overflow: hidden;
                @media (max-width: 1200px) {
                    margin-bottom: 40px;
                    max-height: 400px;
                }
                @media (max-width: 992px) {
                    margin-top: 0;
                    margin-bottom: 30px;
                    max-height: 300px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .tab-pane {
            &.fade {
                transition: opacity 0.05s linear;
            }
        }
        &.classic-tab {
            display: block;
            .tab-nav-block {
                background: #F4F5F7;
                padding: 0;
                margin: 0 -12px;
                // position: sticky;
                // top: 100px;
                @media (max-width: 992px) {
                    display: flex;
                }
            }
            .nav-tabs {
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                @include flex-wrap(nowrap);
                gap: 10px;
                border: none;
                padding: 5px 15px;
                overflow: hidden;
                overflow-x: auto;
                @media (max-width: 1500px) {
                    @include justify-content(flex-start);
                }
                &::-webkit-scrollbar {
                    background-color: transparent;
                    width: 5px;
                    height: 5px;
                    border-radius: 16px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(#233F61, 0.1);
                    border-radius: 16px;
                }
                &::-webkit-scrollbar-track {
                    background-color: #eeeeee;
                }
                .nav-link {
                    white-space: nowrap;
                    border: none;
                    padding: 12px 20px;
                    border-radius: 50px;
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--primary);
                    @include transition(0.2s, ease-in-out);
                    margin: 0;
                    &:hover, &:focus, &.active {
                        background: rgba(35, 63, 97, 0.1);
                    }
                }
            }
            .tab-content {
                padding: 100px 0;
                @media (max-width: 1200px) {
                    padding: 70px 0;
                }
                @media (max-width: 992px) {
                    padding: 50px 0;
                }
                .section-title {
                    margin-bottom: 0;
                }
            }
        }
    }
}