@import 'scss/mixins';

.related-posts-section {
    overflow: hidden;
    .related-posts-block {
        padding-bottom: 70px;
        @media (max-width: 767px) {
            padding-bottom: 40px;
        }
        &.is-slider {
            .post-splide {
                &.slider-disabled {
                    .splide__list {
                        @media (min-width: 1200px) {
                            @include justify-content(center);
                            margin: 0 -15px !important;
                            .splide__slide {
                                padding: 0 15px;
                            }
                        }
                    }
                }
                .splide__track {
                    @media (max-width: 1200px) {
                        overflow: visible;
                    }
                }          
                .splide__pagination {
                    bottom: -50px;
                }
            }
        }
        &.is-grid {
            .post-card {
                display: grid;
                grid-template-columns: 300px auto;
                grid-gap: 30px;
                max-width: 100%;
                @media (max-width: 1200px) {
                    grid-template-columns: 220px auto;
                }
                @media (max-width: 767px) {
                    grid-template-columns: 120px auto;
                    grid-gap: 15px;
                }
                .card-img { 
                    margin-bottom: 0;
                    @media (max-width: 767px) {
                        max-height: 120px;
                    }
                }
                .card-body {
                    padding: 20px 0;
                    @media (max-width: 767px) {
                        padding: 0px 0;
                        .card-title {
                            font-size: 16px
                        }
                    }
                }
                .card-action {
                    @include flex-wrap(wrap);
                    gap: 8px;
                }
            }
        }
    }
}
.post-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    position: relative;
    @include transition(0.2s, ease-in-out);
    @media (max-width: 1200px) {
        max-width: 350px;
    }
    @media (max-width: 767px) {
        max-width: 300px;
    }
    .card-img {
        margin-bottom: 30px;
        overflow: hidden;
        @include border-radius(16px);
        position: relative;
        img {
            @include transition(0.2s, ease-in-out);
        }
    }
    .card-body {
        @include flexbox;
        @include flex-direction(column);
        .energy-sector-labels {
            @include flexbox;
            @include align-items(center);
            margin-bottom: 10px;
            gap: 10px;
            .label {
                span[class^="icon-"] {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .post-date {
            font-weight: 400;
            font-size: 12px;
            color: var(--dark-gray);
        }
        .card-title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
            flex: 1 1 auto;
            line-height: 1.5;
            a {
                color: var(--black);
                text-decoration: none;
                @include transition(0.2s, ease-in-out);
                text-underline-offset: 5px;
            }
        }    
        .card-info {
            font-weight: 400;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.8);
            margin-bottom: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }    
        .post-category {
            padding: 4px 10px;
            background: rgba(35, 63, 97, 0.1);
            border-radius: 60px;
            font-weight: 500;
            font-size: 11px;
            color: #233F61;
        }
        .date {
            font-weight: 400;
            font-size: 12px;
            color: #737373;
        }
        .card-category {
            @include flexbox;
            @include align-items(center);
            gap: 10px;
        }
    }
    .card-action {
        @include flexbox;
        @include align-items(center);
        gap: 10px;
        .user-info {
            @include flexbox;
            @include align-items(center);
            gap: 10px;
            .user-img {
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .info {
                .name {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
        .btn-link-arrow {
            color: var(--black);
            font-size: 14px;
            .arrow-icon {
                margin-top: 1px;
                filter: brightness(0);
                &::before {
                    top: 0.5px;
                }
            }
            &:hover, &:focus {
                color: var(--primary);
                .arrow-icon {
                    filter: unset;
                }
            }
        }
    }
    &:hover, &:focus {
        .card-img {
            img {                
                @include transform(scale(1.05));  
                filter: grayscale(1);
            }
        }
        .card-body {
            .card-title {
                a {
                    color: var(--primary);
                    text-decoration: underline;
                }
            }
            .card-action {
                .btn-link-arrow {
                    color: var(--primary);
                    .arrow-icon {
                        filter: unset;
                    }
                }
            }
        }
    }
}
.blog-section {
    .blog-content-block {
        display: grid;
        grid-template-columns: 280px auto;
        gap: 60px;
        @media (max-width: 1200px) {
            grid-template-columns: 250px auto;
            gap: 30px;
        }
        @media (max-width: 992px) {
            grid-template-columns: 100%;
            gap: 30px;
        }
        .col-content {
            .row {
                --bs-gutter-x: 30px; 
                --bs-gutter-y: 30px; 
                @media (max-width: 767px) {
                    --bs-gutter-y: 30px; 
                }
            }
        }
    }
    .post-card {
        background: rgba(35, 63, 97, 0.08);
        @include border-radius(16px);
        max-width: 100%;
        .card-img {
            @include border-radius(16px 16px 0 0);
            margin-bottom: 0;
        }
        .card-body {
            padding: 20px;
            flex: 1 1 auto;
            .card-title {
                margin-bottom: 10px;
                flex: unset
            }
        }
        .card-action {
            padding: 20px;
        }
    }
}
.single-content-section {
    .single-content {
        scroll-margin-top: 80px;
        scroll-margin-bottom: 100px;
    }
    .post-sticky-content {
        padding-top: 100px;
        margin-top: -100px;
    }
}
.filter-sidebar {
    position: sticky;
    top: 120px;
    z-index: 5;
    .title {
        margin-bottom: 20px;
    }
    .filter-category-block {
        @media (max-width: 992px) {
            @include flexbox;
            @include flex-wrap(wrap);
            width: 100%;
            gap: 10px;
            z-index: 5;
        }
        .filter-by-category {
            margin-top: 15px;
            position: relative;
            &:not(:last-child) {
                border-bottom: 1px solid #e5e5e5;
            }
            @media (max-width: 992px) {
                flex: 1;
                margin-top: 0;
                background: rgba(35,63,97,0.05);
                position: relative;
                @include border-radius(8px);
                &:not(:last-child) {
                    border-bottom: 0;
                }
            }
            @media (max-width: 767px) { 
                width: 100%;
                flex: auto;
            }
            &.is-open {
                .category-title {
                    .collapse-icon { 
                        transform: unset; 
                    }
                }
                .category-list { 
                    @media (max-width: 992px) {
                        opacity: 1;
                        pointer-events: auto;
                        visibility: visible;
                        transform: translate(-50%, 0px);
                    }
                }
            }
            .category-title {
                font-weight: 600;
                font-size: 16px;
                color: #000000;
                @include flexbox;
                @include align-items(center);
                margin-bottom: 15px;
                border: none;
                background: transparent;
                width: 100%;
                padding: 0;
                @media (max-width: 992px) {
                    margin-bottom: 0;
                    padding: 15px;
                    font-size: 14px;
                }
                @media (max-width: 767px) {
                    padding: 10px;
                    font-size: 12px;
                }
                .collapse-icon {
                    background-image: url('data:image/svg+xml,<svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 4.70703L4.5 0.707031L8.5 4.70703" stroke="black" stroke-linecap="round"/></svg>');
                    background-size: 10px;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none; 
                    background-color: transparent;
                    width: 20px;
                    height: 20px;
                    padding: 0;
                    flex: none;
                    display: inline-block;
                    margin-left: auto;  
                    @include border-radius(4px);
                    transform: rotate(180deg);
                    @include transition(0.2s, ease-in-out);
                    margin-right: 8px;                               
                    &:hover, &:focus {
                        opacity: 0.5;
                    }
                }    
                .reset-btn {                
                    width: 20px;
                    height: 20px;
                    flex: none;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    @include transition(0.2s, ease-in-out);
                    border: none; 
                    background-color: transparent;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z" fill="black" /></svg>');
                    background-size: 14px;
                    background-repeat: no-repeat;
                    background-position: center;
                    z-index: 8;
                    padding: 0;           
                    &:hover, &:focus {
                        opacity: 0.5;
                    }
                } 
            }
            .category-list {
                margin-bottom: 20px;
                @media (max-width: 992px) {
                    position: absolute;
                    top: calc(100% + 5px);
                    left: 50%;
                    display: block;
                    min-width: 100%;
                    padding: 15px;
                    opacity: 0;
                    pointer-events: none;
                    transform-origin: 50% 0;
                    transform: translate(-50%, 5px);
                    @include transition(0.2s, ease-in-out);
                    z-index: 9;
                    background: #ffffff;
                    border: 1px solid #E5E5E5; 
                    @include border-radius(8px);                   
                }
                @media (max-width: 767px) {
                    padding: 10px;
                }
                .category-checkbox {
                    @include flexbox;
                    @include align-items(flex-start);
                    gap: 10px;
                    @media (max-width: 992px) {
                        gap: 5px;
                    }
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                    .checkbox-input {
                        width: 20px;
                        height: 20px;
                        flex: none;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        @include border-radius(4px);
                        vertical-align: top;
                        appearance: none;
                        background-repeat: no-repeat;
                        background-position: center calc(100% - 3px);
                        background-size: 14px;
                        print-color-adjust: exact;
                        cursor: pointer;
                        line-height: 0.7;
                        @include transition(0.2s,ease-in-out);                        
                        @media (max-width: 992px) {
                            width: 16px;
                            height: 16px;
                            background-size: 12px;
                            background-position: center calc(100% - 2px);
                        }
                        &:checked { 
                            background-color: var(--primary);
                            border-color: var(--primary);
                            background-image:  url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M530.8 134.1C545.1 144.5 548.3 164.5 537.9 178.8L281.9 530.8C276.4 538.4 267.9 543.1 258.5 543.9C249.1 544.7 240 541.2 233.4 534.6L105.4 406.6C92.9 394.1 92.9 373.8 105.4 361.3C117.9 348.8 138.2 348.8 150.7 361.3L252.2 462.8L486.2 141.1C496.6 126.8 516.6 123.6 530.9 134z" fill="rgb(255 255 255)" /></svg>');
                            & ~ .checkbox-label {
                                color: var(--primary);
                            }
                        }
                    }
                    .checkbox-label {
                        cursor: pointer;
                        font-weight: 500;
                        font-size: 14px;
                        color: #737373;
                        @include transition(0.2s,ease-in-out);
                        @media (max-width: 992px) {
                            font-size: 12px;
                            line-height: 1;
                            margin-top: 3px;
                        }
                    }
                    &:hover, &:focus {
                        .checkbox-input { 
                            border-color: var(--primary);
                        }
                        .checkbox-label {
                            color: var(--primary);
                        }
                    }
                }
            }
        }
    }
}
.blog .single-header {
    padding: 60px 0;
    @media (max-width: 992px) {
        padding-bottom: 0;
    }
    .media-block {
        max-width: 100%;
    }
    .blog-meta-info {
        @include flexbox;
        @include flex-wrap(wrap);
        gap: 20px 0;
        margin-top: 30px;
        @media (max-width: 575px) {
            gap: 20px 30px;
        }
        .meta-info {
            padding: 0 20px;
            @media (max-width: 992px) {
                padding: 0 15px;
            }
            @media (max-width: 575px) {
                padding: 0;
            }
            &:not(:last-child) {
                border-right: 1px solid #E7DCDF;
                @media (max-width: 575px) {
                    border: none;
                }
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
            .title {
                font-weight: 400;
                font-size: 11px;
                color: #737373;
                margin-bottom: 5px;
                line-height: 1;
            }
            .date {
                font-weight: 500;
                font-size: 12px;
                color: #000000;
            }
            .post-category {
                padding: 4px 10px;
                background: rgba(35, 63, 97, 0.1);
                border-radius: 60px;
                font-weight: 500;
                font-size: 11px;
                color: #233F61;
                width: max-content;
            }
            &.user-info {
                @media (max-width: 575px) {
                    order: 3;
                }
                .user-img {
                    width: 36px;
                    height: 36px;
                }
                .write-by {
                    font-weight: 400;
                    font-size: 11px;
                    color: #737373;
                    margin-bottom: 5px;
                    line-height: 1;
                }
            }
        }
    }
}
.blog {
    .single-content-section {
        .row-post-content {
            max-width: 980px;
            margin: 0 auto;
        }
    }
}